Repository SinesysTech/diegobarbosa-os: changes, and which Codecov flags are due for each by the changed paths.
All: features, lib, components, hooks

fix: update Markdown editor and template popover for better user guidance
  src/app/app/assinatura-digital/feature/components/editor/MarkdownRichTextEditorDialog.stub.tsx
  src/app/app/assinatura-digital/feature/components/editor/PropertiesPopover.tsx
  src/app/app/assinatura-digital/feature/components/editor/TemplateInfoPopover.tsx
Due: none

feat: add pdf_url to TemplateBasico interface and update PDF loading logic for improved handling
  src/app/api/assinatura-digital/templates/[id]/preview-test/route.ts
  src/app/app/assinatura-digital/feature/services/data.service.ts
  src/app/app/assinatura-digital/feature/services/template-pdf.service.ts
Due: none

fix: update Template display logic to include original file check for PDF templates
  middleware.ts
  src/app/app/assinatura-digital/templates/client-page.tsx
  src/hooks/use-twofauth.ts
  src/lib/__tests__/integration/redis-client.test.ts
  src/lib/auth/api-auth.ts
  src/lib/mcp/rate-limit.ts
  src/lib/redis/client.ts
Due: lib, hooks

fix: update params in atualizarAgendamento to include ultima_execucao; refactor import path in executarAgendamento
  src/features/captura/services/persistence/agendamento-persistence.service.ts
  src/features/captura/services/scheduler/executar-agendamento.service.ts
  src/features/twofauth/components/twofauth-config-content.tsx
Due: features

feat: add functions to update virtual URL and physical address for audiencia; enhance service and repository layers
  src/features/audiencias/actions.ts
  src/features/audiencias/components/audiencias-list-columns.tsx
  src/features/audiencias/repository.ts
  src/features/audiencias/service.ts
Due: features

feat: implement batch processing for acervo persistence and improve error handling
  src/components/ui/tabs.tsx
  src/features/captura/services/persistence/acervo-persistence.service.ts
  src/features/captura/services/trt/acervo-geral.service.ts
  src/features/captura/services/trt/arquivados.service.ts
  src/features/expedientes/components/pdf-viewer-dialog.tsx
  src/features/processos/components/document-viewer-panel.tsx
  src/features/processos/components/processo-header.tsx
  src/features/processos/components/processo-visualizacao.tsx
  src/features/processos/components/timeline-item.tsx
  src/features/processos/components/timeline-sidebar-item.tsx
  src/features/processos/components/timeline-sidebar.tsx
Due: features, components

fix: replace hardcoded light colors with theme-aware tokens for dark mode support
  src/app/app/assinatura-digital/feature/components/capture/geolocation-step.tsx
  src/app/app/assinatura-digital/feature/components/form/termos-aceite-step.tsx
  src/app/app/assinatura-digital/feature/components/form/visualizacao-markdown-step.tsx
  src/app/app/captura/components/credenciais/credenciais-dialog.tsx
  src/app/app/captura/components/tribunais/tribunais-dialog.tsx
  src/components/shared/dialog-shell/dialog-form-shell.tsx
Due: components

feat: add ProcessoDetailsTabs component to display detailed process information including audiências, expedientes, and perícias
  src/app/app/assinatura-digital/feature/components/editor/PdfCanvasArea.tsx
  src/features/pericias/domain.ts
  src/features/pericias/repository.ts
  src/features/processos/actions/index.ts
  src/features/processos/components/processo-details-tabs.tsx
  src/features/processos/components/processo-visualizacao.tsx
Due: features

feat: enhance PDF preview functionality and improved dialog structure
  src/app/app/assinatura-digital/feature/components/editor/RichTextEditor.tsx
  src/app/app/assinatura-digital/feature/components/editor/RichTextEditorPopover.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/PreviewPanel.tsx
  src/components/shared/dialog-shell/dialog-form-shell.tsx
Due: components

feat: add FormularioEditDialog component for editing form details and integrate it into the client page style: update UI elements in ProcessosTableWrapper for improved layout and responsiveness
  src/app/app/assinatura-digital/formularios/client-page.tsx
  src/app/app/assinatura-digital/formularios/components/formulario-edit-dialog.tsx
  src/app/app/assinatura-digital/formularios/components/index.ts
  src/features/processos/components/processos-table-wrapper.tsx
Due: features

refactor: update client data handling and remove unused adapters
  openspec/changes/archive/2026-02-24-add-user-documentation-help-page/.openspec.yaml
  openspec/changes/archive/2026-02-24-add-user-documentation-help-page/design.md
  openspec/changes/archive/2026-02-24-add-user-documentation-help-page/proposal.md
  openspec/changes/archive/2026-02-24-add-user-documentation-help-page/specs/user-documentation/spec.md
  openspec/changes/archive/2026-02-24-add-user-documentation-help-page/tasks.md
  openspec/specs/user-documentation/spec.md
  src/app/api/assinatura-digital/forms/save-client/route.ts
  src/app/api/assinatura-digital/forms/verificar-cpf/route.ts
  src/app/app/assinatura-digital/feature/components/form/dados-pessoais.tsx
  src/app/app/assinatura-digital/feature/index.ts
  src/app/app/assinatura-digital/feature/types/cliente-adapter.types.ts
  src/app/app/assinatura-digital/feature/types/index.ts
  src/app/app/assinatura-digital/feature/utils/cliente-adapters.ts
  src/app/app/assinatura-digital/feature/utils/index.ts
Due: none

feat: add mock 'server-only' module for script execution outside Next.js
  scripts/mock-server-only.cjs
Due: none

feat: update buscarEstatisticasAtividades to use RPC for unique process count
  src/features/usuarios/repository-atividades.ts
Due: features

feat(audiencias): refactor pages to fetch data server-side and pass as props
  src/app/app/assinatura-digital/feature/actions.ts
  src/app/app/assinatura-digital/feature/components/form/dados-pessoais.tsx
  src/app/app/assinatura-digital/feature/components/form/dynamic-form-renderer.tsx
  src/app/app/assinatura-digital/feature/components/inputs/parte-contraria-search-input.tsx
  src/app/app/audiencias/ano/page.tsx
  src/app/app/audiencias/lista/page.tsx
  src/app/app/audiencias/mes/page.tsx
  src/app/app/audiencias/page.tsx
  src/app/app/audiencias/semana/page.tsx
  src/app/app/usuarios/[id]/usuario-detalhes.tsx
  src/components/shared/dialog-shell/dialog-form-shell.tsx
  src/features/audiencias/components/audiencias-content.tsx
  src/features/audiencias/queries.ts
  src/features/partes/repositories/index.ts
  src/features/partes/repositories/partes-contrarias-repository.ts
  src/features/partes/types/index.ts
  src/features/usuarios/components/forms/usuario-edit-dialog.tsx
Due: features, components

feat(audit-atividades): add user activity timeline feature with scenarios and backend support
  .env.local
  openspec/changes/archive/2026-02-24-audit-atividades-usuario/.openspec.yaml
  openspec/changes/archive/2026-02-24-audit-atividades-usuario/design.md
  openspec/changes/archive/2026-02-24-audit-atividades-usuario/proposal.md
  openspec/changes/archive/2026-02-24-audit-atividades-usuario/specs/audit-atividades/spec.md
  openspec/changes/archive/2026-02-24-audit-atividades-usuario/specs/usuarios-frontend/spec.md
  openspec/changes/archive/2026-02-24-audit-atividades-usuario/tasks.md
  openspec/specs/audit-atividades/spec.md
  openspec/specs/usuarios-frontend/spec.md
  proxy.ts
  src/app/api/assinatura-digital/forms/save-client/route.ts
  src/app/app/assinatura-digital/feature/components/form/formulario-container.tsx
  src/app/app/assinatura-digital/feature/components/form/visualizacao-pdf-step.tsx
  src/app/app/assinatura-digital/feature/utils/zod-schema-generator.ts
  src/app/app/tarefas/components/data-table-pagination.tsx
  src/components/shared/data-shell/data-shell.tsx
  src/components/shared/table-pagination.tsx
  src/features/documentos/service.ts
  src/features/usuarios/actions/audit-atividades-actions.ts
  src/features/usuarios/components/activities/atividades-recentes.tsx
  src/features/usuarios/components/list/usuarios-pagination.tsx
  src/features/usuarios/index.ts
  src/features/usuarios/repository-audit-atividades.ts
  src/features/usuarios/types/types.ts
  tsconfig.json
Due: features, components

feat: implement idempotency for contract creation and enhance form data processing
  src/app/api/assinatura-digital/signature/salvar-acao/route.ts
  src/app/app/assinatura-digital/feature/components/form/dynamic-form-step.tsx
  src/app/app/assinatura-digital/feature/components/form/visualizacao-pdf-step.tsx
  src/app/app/assinatura-digital/feature/components/pdf/PdfPreview.tsx
  src/app/app/assinatura-digital/feature/services/signature/preview.service.ts
  src/app/app/assinatura-digital/feature/types/store.ts
  src/features/captura/components/comunica-cnj/capturadas.tsx
  src/features/captura/components/comunica-cnj/search-form.tsx
Due: features

feat: add initial test results file with passed status
  test-results/.last-run.json
Due: none

fix: update column widths in DocFieldTable and adjust user action test assertions
  src/app/app/ajuda/components/doc-components.tsx
  src/features/usuarios/__tests__/actions/usuarios-actions.test.ts
Due: none

feat: enhance permissions management by grouping permissions by module and updating related components
  src/features/usuarios/actions/utils.ts
  src/features/usuarios/components/password/redefinir-senha-dialog.tsx
  src/features/usuarios/components/permissions/permissoes-matriz.tsx
  src/features/usuarios/permissions-utils.ts
  src/features/usuarios/repository.ts
Due: features

refactor: restrict storage provider to Supabase across relevant components
  src/app/api/cron/indexar-documentos/route.ts
  src/features/ai/actions/embeddings-actions.ts
  src/features/ai/domain.ts
  src/features/ai/services/storage-adapter.service.ts
  src/features/processos/components/processo-visualizacao.tsx
  src/features/usuarios/repository-auth-logs.ts
Due: features

feat: update documentation structure and content
  .env.example
  .env.local
  .gitignore
  .mcp.json
  README.md
  docs/INDEX.md
  docs/ORGANIZACAO_PROJETO.md
  docs/README.md
  docs/architecture/ARCHITECTURE.md
  docs/architecture/STATUS.md
  docs/modules/README.md
  src/lib/copilotkit/components/copilot-provider-wrapper.tsx
  src/lib/supabase/database.types.ts
  src/lib/supabase/service-client.ts
Due: lib

refactor: remove sensitive environment files and update references to diegobarbosa-os
  .env.local
  .gitignore
  Dockerfile.minimal
  docs/architecture/DOCKER_OPTIMIZATION.md
  docs/architecture/DOCKER_OPTIMIZATION_QUICK.md
  docs/internal/chatwoot/SYNC_WITH_CONTEXT7.md
  docs/internal/deploy/GITHUB_ACTIONS_SETUP.md
  docs/internal/troubleshooting/GITLEAKS_SECURITY_CLEANUP.md
  docs/internal/validation-reports/profile-layout-validation-2026-01-13.md
  docs/troubleshooting/docker-build-optimization-report.md
  env.sh
  scripts/test-secure-api.ts
  src/lib/copilotkit/components/copilot-provider-wrapper.tsx
Due: lib

fix: update import path for generatePresignedUrl in finalization.service.ts
  src/app/app/assinatura-digital/feature/services/signature/finalization.service.ts
Due: none

feat: add error logging for project listing failures in ProjectsPage
  src/app/app/project-management/projects/page.tsx
Due: none

feat: refactor middleware and proxy for improved session management and security handling
  proxy.ts
  src/middleware.ts
  src/middleware/__tests__/integration/ip-blocking-middleware.test.ts
  src/proxy.ts
  supabase/migrations/20260302000001_fix_supabase_linter_warnings.sql
Due: none

feat: enhance OTP processing with dynamic selector matching and improved debug logging
  src/features/captura/services/trt/trt-auth.service.ts
Due: features

feat: enhance mail display with improved mobile support, iframe rendering, and action confirmations
  src/app/app/mail/components/mail-display-mobile.tsx
  src/app/app/mail/components/mail-display.tsx
  src/app/app/mail/components/mail.tsx
Due: none

chore: remove outdated docs modules sync check workflow
  .github/workflows/docs-modules-sync-check.yml
Due: none

refactor: rename variables for clarity and consistency across components
  src/app/api/cron/indexar-documentos/route.ts
  src/app/app/configuracoes/components/segmentos-content.tsx
  src/app/app/mail/components/mail.tsx
  src/components/layout/header/header-user-menu.tsx
  src/components/shared/dialog-shell/dialog-form-shell.tsx
  src/features/captura/services/partes/services/persistence.service.ts
  src/features/contratos/index.ts
  src/features/documentos/__tests__/integration/arquivos-api.integration.test.ts
Due: features, components

feat: add @types/imapflow and update related type handling in mail components
  package-lock.json
  package.json
  src/app/app/mail/components/mail.tsx
  src/features/captura/services/partes/services/persistence.service.ts
  src/lib/mail/imap-client.ts
Due: features, lib

Path conditions:
  features: any of: src/features/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  lib: any of: src/lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  components: any of: src/components/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  hooks: any of: src/hooks/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
