Repository SinesysTech/diegobarbosa-os: changes, and which Codecov flags are due for each by the changed paths.
All: features, lib, components, hooks

feat: Update Gemini model to 2.5 Flash, rename Google API key environment variable, and enable CopilotKit single endpoint.
  .env.local
  src/app/api/copilotkit/route.ts
  src/app/app/layout.tsx
Due: none

feat: add Dify integration for AI capabilities, including client, service, and domain logic for chat, workflow, and dataset management.
  src/features/dify/domain.ts
  src/features/dify/service.ts
  src/lib/dify/client.ts
  src/lib/dify/config.ts
  src/lib/dify/index.ts
  src/lib/dify/stream.ts
  src/lib/dify/types.ts
Due: features, lib

feat: Enhance todo items with source and admin visibility, and refactor week navigator to support a central content slot for bulk actions.
  src/app/app/todo/components/todo-detail-sheet.tsx
  src/app/app/todo/components/todo-item.tsx
  src/app/app/todo/page.tsx
  src/app/app/todo/repository.ts
  src/app/app/todo/service.ts
  src/app/app/todo/types.ts
  src/components/shared/week-navigator.tsx
  src/features/expedientes/components/expedientes-bulk-actions.tsx
  src/features/expedientes/components/expedientes-table-wrapper.tsx
  src/features/obrigacoes/components/table/obrigacoes-table-wrapper.tsx
Due: features, components

feat: Implement Dify workflow integration, refactor Dify service creation with a factory pattern, and update task management and calendar UIs.
  src/app/api/dify/chat/route.ts
  src/app/api/dify/webhook/route.ts
  src/app/api/dify/workflow/route.ts
  src/app/app/calendar/components/event-calendar-app.tsx
  src/app/app/tarefas/components/columns.tsx
  src/app/app/tarefas/components/data-table-toolbar.tsx
  src/app/app/tarefas/components/data-table.tsx
  src/app/app/tarefas/components/task-dialog.tsx
  src/app/app/tarefas/page.tsx
  src/features/audiencias/components/audiencias-calendar-compact.tsx
  src/features/dify/actions/chat-actions.ts
  src/features/dify/actions/index.ts
  src/features/dify/actions/workflow-actions.ts
  src/features/dify/components/dify-chat-panel.tsx
  src/features/dify/components/dify-config-form.tsx
  src/features/dify/components/workflow-runner.tsx
  src/features/dify/domain.ts
  src/features/dify/factory.ts
  src/features/dify/hooks/use-dify-chat.ts
  src/features/dify/hooks/use-dify-workflow.ts
  src/features/dify/index.ts
  src/features/dify/repository.ts
  src/features/dify/service.ts
  src/features/expedientes/components/expedientes-calendar-compact.tsx
  src/features/obrigacoes/components/calendar/obrigacoes-calendar-compact.tsx
  src/features/pericias/components/pericias-calendar-compact.tsx
  src/lib/dify/client.ts
  src/lib/dify/config.ts
  src/lib/dify/index.ts
  src/lib/dify/stream.ts
  src/lib/dify/types.ts
  src/lib/mcp/registries/dify-tools.ts
Due: features, lib

feat: Enable `kiroAgent.configureMCP` and `chat.mcp.assisted.nuget.enabled` in VS Code settings.
  .vscode/settings.json
Due: none

feat(tasks): Migrate tasks module to FSD architecture with kanban view
  MIGRATION-TASKS.md
  scripts/cleanup-old-tasks.sh
  src/app/app/tarefas/page.tsx
  src/features/tasks/RULES.md
  src/features/tasks/actions/tasks-actions.ts
  src/features/tasks/components/tasks-kanban-view.tsx
  src/features/tasks/components/tasks-page-content.tsx
  src/features/tasks/components/tasks-table-view.tsx
  src/features/tasks/domain.ts
  src/features/tasks/index.ts
  src/features/tasks/repository.ts
  src/features/tasks/service.ts
Due: features

feat(tasks): Export task status shortcuts and consolidate dashboard imports
  src/app/app/dashboard/geral/components/recent-tasks-client.tsx
  src/app/app/dashboard/geral/components/recent-tasks.tsx
  src/features/tasks/actions/tasks-actions.ts
  src/features/tasks/index.ts
Due: features

feat(tarefas): remove kanban board view and simplify to list-only interface
  .kiro/settings/mcp.json
  .kiro/specs/corrigir-integracao-tarefas-todo/design.md
  .kiro/specs/corrigir-integracao-tarefas-todo/requirements.md
  .kiro/specs/corrigir-integracao-tarefas-todo/tasks.md
  .mcp.json
  src/app/app/tarefas/components/data-table-pagination.tsx
  src/app/app/tarefas/components/data-table.tsx
  src/app/app/tarefas/components/task-board.tsx
  src/app/app/tarefas/components/task-card.tsx
  src/app/app/tarefas/domain.ts
  src/app/app/tarefas/page.tsx
  src/app/app/tarefas/service.ts
  src/app/app/tarefas/tarefas-client.tsx
  src/lib/mcp/registries/tarefas-tools.ts
  supabase/.temp/cli-latest
  supabase/config.toml
Due: lib

refactor(tarefas): remove kanban view mode and position tracking from store and domain
  .kiro/specs/corrigir-integracao-tarefas-todo/tasks.md
  src/app/app/tarefas/components/data-table.tsx
  src/app/app/tarefas/domain.ts
  src/app/app/tarefas/repository.ts
  src/app/app/tarefas/service.ts
  src/app/app/tarefas/store.ts
  src/app/app/tarefas/tarefas-client.tsx
Due: none

chore: finalize task integration fixes
  .kiro/specs/corrigir-integracao-tarefas-todo/tasks.md
  src/app/app/tarefas/repository.ts
Due: none

feat(configuracoes): add appearance tab with theme customization options
  .kiro/specs/mover-configuracoes-tema/design.md
  .kiro/specs/mover-configuracoes-tema/tasks.md
  .kiro/specs/unificar-tarefas-kanban/tasks.md
  DOCKER_BUILD_FIX.md
  VERIFICACOES_ASSINATURA_DIGITAL.md
  scripts/test-action-list-documentos.ts
  scripts/test-action-validation.ts
  scripts/test-assinatura-digital-list.ts
  src/app/app/assinatura-digital/documentos/lista/client-page.tsx
  src/app/app/assinatura-digital/documentos/lista/components/columns.tsx
  src/app/app/assinatura-digital/documentos/lista/debug-page.tsx
  src/app/app/configuracoes/page.tsx
  src/app/portal/feature/index.ts
  src/features/integracoes/index.ts
  src/types/supabase-generated.ts.new
Due: none

feat: Complete task visualization correction checkpoint and remove redundant React import from the task board component.
  .kiro/specs/corrigir-visualizacao-tarefas/tasks.md
  src/app/app/tarefas/components/task-board.tsx
Due: none

feat: implement system boards for tasks and enhance 2FAuth integration card with account management.
  src/app/api/twofauth/status/route.ts
  src/app/app/configuracoes/components/configuracoes-tabs-content.tsx
  src/app/app/configuracoes/page.tsx
  src/app/app/tarefas/actions/tarefas-actions.ts
  src/app/app/tarefas/components/quadro-selector.tsx
  src/app/app/tarefas/components/system-board-card.tsx
  src/app/app/tarefas/components/task-board.tsx
  src/app/app/tarefas/domain.ts
  src/app/app/tarefas/layout.tsx
  src/app/app/tarefas/page.tsx
  src/app/app/tarefas/quadro/[boardSlug]/page.tsx
  src/app/app/tarefas/quadro/[boardSlug]/system-board-client.tsx
  src/app/app/tarefas/service.ts
  src/components/layout/sidebar/app-sidebar.tsx
  src/features/integracoes/components/twofauth-integration-card.tsx
Due: features, components

fix: update `update_user_last_seen` trigger to use `last_seen` column and directly modify `NEW`.
  supabase/migrations/20260217131700_fix_update_user_last_seen_trigger.sql
Due: none

refactor: separate task list and board views, enhance 2FAuth integration with data refresh and improved config validation.
  src/app/app/tarefas/components/data-table.tsx
  src/app/app/tarefas/components/quadro-selector.tsx
  src/app/app/tarefas/tarefas-client.tsx
  src/features/integracoes/components/twofauth-config-form.tsx
  src/features/integracoes/components/twofauth-integration-card.tsx
  src/features/integracoes/domain.ts
Due: features

refactor: Rewrite 2FAuth config form using local state and manual validation, replacing `react-hook-form`, and simplify `account_id` schema validation.
  src/features/integracoes/components/twofauth-config-form.tsx
  src/features/integracoes/domain.ts
Due: features

feat: Implement initial Sinesys 2.0 database schema, including new segments, updated enums, credentials, acervo, terceiros, and seed data.
  supabase/.backup_migrations/20260210000000_initial_schema.sql
  supabase/.backup_migrations/20260211194101_add_usuario_to_credenciais.sql
  supabase/.backup_migrations/20260212000000_fix_trigger_enum_cast.sql
  supabase/.backup_migrations/20260213120000_create_expedientes_com_origem_view.sql
  supabase/.backup_migrations/20260213120001_fix_logs_alteracao_tipo_entidade_constraint.sql
  supabase/.backup_migrations/20260213120002_create_audiencias_com_origem_view.sql
  supabase/.backup_migrations/20260214000000_populate_plano_contas_nivel.sql
  supabase/.backup_migrations/20260216120000_create_kanban_boards.sql
  supabase/.backup_migrations/20260216130000_add_dados_anteriores_to_acervo.sql
  supabase/.backup_migrations/20260216140000_seed_tipos_expedientes.sql
  supabase/config.toml
  supabase/migrations/20260217143122_remote_schema.sql
  supabase/schemas/01_enums.sql
  supabase/schemas/03_credenciais.sql
  supabase/schemas/03b_segmentos.sql
  supabase/schemas/04_acervo.sql
  supabase/schemas/16_terceiros.sql
  supabase/seed.sql
Due: none

refactor: streamline integration actions by removing explicit success wrappers and update TwoFAuth client to use asynchronous configuration resolution.
  src/features/integracoes/actions/integracoes-actions.ts
  src/lib/integrations/twofauth/client.ts
Due: features, lib

refactor: simplify schema exports in Dify domain and update account assignment logic in 2FAuth route
  src/app/api/twofauth/groups/[id]/accounts/route.ts
  src/features/dify/domain.ts
Due: features

feat: Update database types with new `dify_conversas`, `dify_execucoes`, `kanban_boards` tables, and schema adjustments for `processos`, `advogados`, and `kanban_columns`.
  src/lib/supabase/database.types.ts
  src/types/database.types.ts
Due: lib

Merge upstream/master: Dify AI, Chatwoot, tarefas refactor, integracoes
  src/app/app/assinatura-digital/documentos/lista/debug-page.tsx
  src/app/app/layout.tsx
  src/features/tasks/domain.ts
Due: features

feat(dify): add Dify tools and database support
  src/app/api/dify/chat/route.ts
  src/app/api/dify/completion/route.ts
  src/app/api/dify/workflow/route.ts
  src/app/app/assistentes/[id]/components/assistente-nativo-view.tsx
  src/app/app/assistentes/[id]/page.tsx
  src/app/app/assistentes/feature/components/list/assistente-card.tsx
  src/app/app/assistentes/feature/components/list/grid-view.tsx
  src/app/app/assistentes/feature/components/shared/assistentes-list-wrapper.tsx
  src/app/app/assistentes/feature/domain.ts
  src/app/app/assistentes/feature/index.ts
  src/app/app/assistentes/feature/repository.ts
  src/app/app/assistentes/feature/service.ts
  src/app/app/assistentes/page.tsx
  src/app/app/configuracoes/components/configuracoes-tabs-content.tsx
  src/features/dify/actions.ts
  src/features/dify/actions/annotation-actions.ts
  src/features/dify/actions/conversation-actions.ts
  src/features/dify/actions/index.ts
  src/features/dify/actions/knowledge-actions.ts
  src/features/dify/actions/segment-actions.ts
  src/features/dify/actions/tag-actions.ts
  src/features/dify/components/dify-chat/dify-chat-panel.tsx
  src/features/dify/components/dify-completion/completion-panel.tsx
  src/features/dify/components/dify-workflows/workflow-runner.tsx
  src/features/dify/domain.ts
  src/features/dify/factory.ts
  src/features/dify/hooks/use-dify-chat.ts
  src/features/dify/hooks/use-dify-completion.ts
  src/features/dify/hooks/use-dify-workflow.ts
  src/features/dify/index.ts
  src/features/dify/service.ts
  src/lib/dify/client.ts
  src/lib/dify/types.ts
  src/lib/mcp/registries/dify-tools.ts
  src/lib/supabase/database.types.ts
  supabase/migrations/20260218100000_add_dify_support_to_assistentes.sql
Due: features, lib

chore: update dependencies
  package-lock.json
Due: none

feat: enhance DebugPage result handling, simplify imports in AssistenteNativoView, adjust task board styles, and improve error logging in service functions
  scripts/sync-dify-metadata.py
  src/app/app/assinatura-digital/documentos/lista/debug-page.tsx
  src/app/app/assistentes/[id]/components/assistente-nativo-view.tsx
  src/app/app/tarefas/components/task-board.tsx
  src/app/app/tarefas/components/task-detail-sheet.tsx
  src/app/app/tarefas/domain.ts
  src/app/app/tarefas/quadro/[boardSlug]/system-board-client.tsx
  src/app/app/tarefas/service.ts
  src/features/dify/actions.ts
  src/features/dify/components/dify-apps-list.tsx
  src/features/dify/components/dify-completion/completion-panel.tsx
  src/features/dify/domain.ts
  src/features/dify/index.ts
  src/features/dify/repository.ts
  src/features/dify/service.ts
  src/lib/event-aggregation/service.ts
  src/lib/mcp/registries/dify-tools.ts
  supabase/migrations/20260218120000_add_dify_app_metadata.sql
Due: features, lib

Add new OpenSpec skills for enhanced workflow management
  .codex/skills/openspec-apply-change/SKILL.md
  .codex/skills/openspec-archive-change/SKILL.md
  .codex/skills/openspec-bulk-archive-change/SKILL.md
  .codex/skills/openspec-continue-change/SKILL.md
  .codex/skills/openspec-explore/SKILL.md
  .codex/skills/openspec-ff-change/SKILL.md
  .codex/skills/openspec-new-change/SKILL.md
  .codex/skills/openspec-onboard/SKILL.md
  .codex/skills/openspec-sync-specs/SKILL.md
  .codex/skills/openspec-verify-change/SKILL.md
  .github/prompts/opsx-apply.prompt.md
  .github/prompts/opsx-archive.prompt.md
  .github/prompts/opsx-bulk-archive.prompt.md
  .github/prompts/opsx-continue.prompt.md
  .github/prompts/opsx-explore.prompt.md
  .github/prompts/opsx-ff.prompt.md
  .github/prompts/opsx-new.prompt.md
  .github/prompts/opsx-onboard.prompt.md
  .github/prompts/opsx-sync.prompt.md
  .github/prompts/opsx-verify.prompt.md
  .github/skills/openspec-apply-change/SKILL.md
  .github/skills/openspec-archive-change/SKILL.md
  .github/skills/openspec-bulk-archive-change/SKILL.md
  .github/skills/openspec-continue-change/SKILL.md
  .github/skills/openspec-explore/SKILL.md
  .github/skills/openspec-ff-change/SKILL.md
  .github/skills/openspec-new-change/SKILL.md
  .github/skills/openspec-onboard/SKILL.md
  .github/skills/openspec-sync-specs/SKILL.md
  .github/skills/openspec-verify-change/SKILL.md
  openspec/config.yaml
Due: none

feat: Add openspec agent skills, prompts, and a configuration file for automated change management.
  .codex/skills/openspec-apply-change/SKILL.md
  .codex/skills/openspec-archive-change/SKILL.md
  .codex/skills/openspec-bulk-archive-change/SKILL.md
  .codex/skills/openspec-continue-change/SKILL.md
  .codex/skills/openspec-explore/SKILL.md
  .codex/skills/openspec-ff-change/SKILL.md
  .codex/skills/openspec-new-change/SKILL.md
  .codex/skills/openspec-onboard/SKILL.md
  .codex/skills/openspec-sync-specs/SKILL.md
  .codex/skills/openspec-verify-change/SKILL.md
  .github/prompts/opsx-apply.prompt.md
  .github/prompts/opsx-archive.prompt.md
  .github/prompts/opsx-bulk-archive.prompt.md
  .github/prompts/opsx-continue.prompt.md
  .github/prompts/opsx-explore.prompt.md
  .github/prompts/opsx-ff.prompt.md
  .github/prompts/opsx-new.prompt.md
  .github/prompts/opsx-onboard.prompt.md
  .github/prompts/opsx-sync.prompt.md
  .github/prompts/opsx-verify.prompt.md
  .github/skills/openspec-apply-change/SKILL.md
  .github/skills/openspec-archive-change/SKILL.md
  .github/skills/openspec-bulk-archive-change/SKILL.md
  .github/skills/openspec-continue-change/SKILL.md
  .github/skills/openspec-explore/SKILL.md
  .github/skills/openspec-ff-change/SKILL.md
  .github/skills/openspec-new-change/SKILL.md
  .github/skills/openspec-onboard/SKILL.md
  .github/skills/openspec-sync-specs/SKILL.md
  .github/skills/openspec-verify-change/SKILL.md
  openspec/config.yaml
Due: none

feat: Introduce `appId` to Dify chat and workflow components, refactor task badges to use `SemanticBadge`, and perform various import and linting cleanups.
  src/app/app/assistentes/[id]/components/assistente-nativo-view.tsx
  src/app/app/dashboard/geral/components/recent-tasks-client.tsx
  src/features/dify/components/dify-chat-panel.tsx
  src/features/dify/components/workflow-runner.tsx
  src/features/dify/index.ts
  src/features/dify/service.ts
  src/features/tasks/components/tasks-kanban-view.tsx
  src/features/tasks/components/tasks-page-content.tsx
  src/features/tasks/components/tasks-table-view.tsx
  src/hooks/use-realtime-presence-room.ts
  src/hooks/use-supabase-upload.ts
Due: features, hooks

Refactor Dify app list to use SemanticBadge, enhance type safety in automatic generation service and repository, and clean up imports and test variable names.
  scripts/test-assistentes-tipos-integration.ts
  src/app/app/dashboard/geral/components/recent-tasks-client.tsx
  src/features/assistentes-tipos/geracao-automatica-service.ts
  src/features/assistentes-tipos/repository.ts
  src/features/assistentes-tipos/service.ts
  src/features/dify/components/dify-apps-list.tsx
Due: features

refactor: Mark Dify hooks as client components and refine task module import paths for granularity.
  src/app/app/dashboard/geral/components/recent-tasks-client.tsx
  src/features/dify/hooks/use-dify-chat.ts
  src/features/dify/hooks/use-dify-workflow.ts
Due: features

fix: remove redundant npm run command in build:ci script
  package.json
Due: none

feat: Centralize Chatwoot, 2FAuth, and Dyte integration configurations in the database, updating Chatwoot client access to be asynchronous.
  .env.example
  .env.local
  env.sh
  package.json
  src/app/app/dashboard/geral/components/recent-tasks-client.tsx
  src/components/editor/hooks/use-chat-api.ts
  src/features/chatwoot/actions.ts
  src/features/chatwoot/service.ts
  src/features/chatwoot/sync-hooks.ts
  src/features/tasks/components/tasks-table-view.tsx
  src/lib/chatwoot/client.ts
  src/lib/chatwoot/config.ts
  src/lib/chatwoot/contact-labels.ts
  src/lib/chatwoot/contacts.ts
  src/lib/chatwoot/conversations.ts
  src/lib/chatwoot/index.ts
  src/lib/chatwoot/messages.ts
  src/lib/chatwoot/widget-config-action.ts
  src/lib/integrations/twofauth/client.ts
  src/lib/integrations/twofauth/config-loader.ts
  src/lib/integrations/twofauth/index.ts
  src/lib/mcp/registries/chatwoot-tools.ts
  src/lib/urls.ts
Due: features, lib, components

chore: Explicitly include Dockerfile in the Docker build context.
  .dockerignore
Due: none

feat: add Editor IA integration with configuration management
  .claude/plan.md
  package-lock.json
  package.json
  src/app/api/ai-editor/status/route.ts
  src/app/api/plate/ai/route.ts
  src/app/app/configuracoes/components/configuracoes-tabs-content.tsx
  src/app/app/configuracoes/page.tsx
  src/components/editor/hooks/use-chat-api.ts
  src/features/chatwoot/actions.ts
  src/features/integracoes/actions/integracoes-actions.ts
  src/features/integracoes/components/editor-ia-config-form.tsx
  src/features/integracoes/components/editor-ia-integration-card.tsx
  src/features/integracoes/domain.ts
  src/features/integracoes/index.ts
  src/features/integracoes/service.ts
  src/lib/ai-editor/config.ts
  src/lib/ai-editor/provider.ts
  src/lib/urls.ts
  supabase/migrations/20260219000000_add_editor_ia_to_integracoes.sql
Due: features, lib, components

build: Include specific `dev-tools/architecture` scripts in the Docker build context.
  .dockerignore
Due: none

Refactor: Clean up unused public environment variables and improve OAB data handling null-safety across components and domain logic.
  Dockerfile
  docker-build-push.sh
  scripts/cloudron-build.sh
  src/features/advogados/domain.ts
  src/features/captura/components/advogado-combobox.tsx
  src/features/tasks/index.ts
  src/features/tasks/service.ts
  src/lib/env/public-env.ts
  start.sh
Due: features, lib

Path conditions:
  features: any of: src/features/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  lib: any of: src/lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  components: any of: src/components/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  hooks: any of: src/hooks/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
