Repository SinesysTech/diegobarbosa-os: changes, and which Codecov flags are due for each by the changed paths.
All: features, lib, components, hooks

codecov.yml:

# Configuração Codecov para Sinesys
# Documentação: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/testing/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/dist/**"
  - "**/coverage/**"
  - "**/*.d.ts"
  - "**/types.ts"
  - "**/index.ts"

flags:
  features:
    paths:
      - src/features/
    carryforward: true

  lib:
    paths:
      - src/lib/
    carryforward: true

  components:
    paths:
      - src/components/
    carryforward: true

  hooks:
    paths:
      - src/hooks/
    carryforward: true

Clear various sensitive API keys and configuration values from `.env.local`.
  .env.local
Due: none

Remove extraneous blank lines from `.env.local`.
  .env.local
Due: none

feat: Implement `obterDashboardCliente` service to fetch aggregated client dashboard data, including a `serializeError` utility.
  src/app/portal/feature/service.ts
Due: none

chore: Remove an unspecified file.
  src/app/landing/code.html
  src/app/landing/code2.html
Due: none

feat: implement MCP tool registry and comprehensive reference documentation for 119 tools across 22 modules.
  docs/internal/design-system/MASTER.md
  docs/internal/design-system/pages/LANDING-PAGE.md
  docs/internal/design-system/pages/PORTAL.md
  docs/internal/mcp/mcp-tools-reference.md
  scripts/deprecated/CATEGORIZACAO-COMPLETA.md
  scripts/deprecated/REORGANIZACAO.md
  scripts/deprecated/migrate-imports.js
  scripts/deprecated/test-2fauth.ts
  scripts/deprecated/test-chat-rls-fix.ts
  src/lib/mcp/registry.ts
Due: lib

refactor: Streamline deployment by replacing multiple Dockerfiles and docker-compose with a Cloudron manifest and a single Dockerfile, and introduce Supabase type generation.
  .dockerignore
  .github/workflows/docker-build-push.yml
  CloudronManifest.json
  Dockerfile
  Dockerfile.dev
  Dockerfile.minimal
  Dockerfile.test
  captain-definition
  docker-compose.yml
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/load-test/docker-compose.yml
  docker/prod/docker-compose.yml
  docker/shared/prometheus.yml
  docker/shared/traefik.yml
  docs/internal/deploy/GITHUB_ACTIONS_SETUP.md
  docs/internal/deploy/ci-cd.md
  docs/internal/deploy/cronicle-caprover.md
  docs/internal/deploy/deploy.md
  docs/internal/deploy/docker.md
  package.json
  scripts/docker/backup.sh
  scripts/docker/cleanup.sh
  scripts/docker/deploy-swarm.sh
  scripts/docker/dev.sh
  scripts/docker/docker-build-push.ps1
  scripts/docker/docker-build-with-env.sh
  scripts/docker/dockerhub-build-push.sh
  scripts/docker/health-check.sh
  scripts/docker/init-dev.sh
  scripts/docker/prod.sh
  scripts/docker/restore.sh
  scripts/docker/test-backup-restore.sh
  src/lib/supabase/database.types.ts
  start.sh
  supabase-generated-types.ts
  swagger.config.ts
Due: lib

feat: Implement 'advogados' feature with new domain and repository files, remove `supabase-generated-types.ts`, and update environment examples.
  .env.build.example
  .env.example
  src/features/advogados/domain.ts
  src/features/advogados/repository.ts
  supabase-generated-types.ts
Due: features

feat: Implement repository layer for managing advogados and credenciais data.
  src/features/advogados/repository.ts
Due: features

feat: Implement Advogados (Lawyers) management page with data table, dialogs, and update core dependencies.
  package-lock.json
  package.json
  src/app/app/captura/advogados/page-client.tsx
  src/app/app/captura/advogados/page.tsx
  src/app/app/captura/components/advogados/advogados-columns.tsx
  src/app/app/captura/components/advogados/advogados-dialog.tsx
  src/components/layout/sidebar/app-sidebar.tsx
Due: components

feat: Implement lawyer and credential and management features, including UI components, service logic, and API routes.
  src/app/api/captura/credenciais/route.ts
  src/app/app/captura/components/advogados/advogado-dialog.tsx
  src/app/app/captura/components/advogados/advogados-columns.tsx
  src/app/app/captura/components/credenciais/advogado-view-dialog.tsx
  src/app/app/captura/components/credenciais/credenciais-columns.tsx
  src/app/app/captura/credenciais/page-client.tsx
  src/features/advogados/index.ts
  src/features/advogados/service.ts
  src/features/captura/components/advogado-combobox.tsx
  src/features/captura/components/comunica-cnj/search-form.tsx
  src/features/captura/domain.ts
  src/features/captura/types/credenciais.ts
Due: features

feat: Update `@ag-ui/client` and `@copilotkit` dependencies, and add `langsmith` and `lodash-es`.
  package-lock.json
  package.json
Due: none

feat: Implement client-side page for managing lawyers, including listing, searching, filtering, and CRUD operations for lawyers and their credentials.
  .claude/settings.local.json
  src/app/app/captura/advogados/page-client.tsx
Due: none

feat: introduce Audiencias management page with temporal views, filtering, and a new shared week navigator component.
  scripts/captura/audiencias/results/api-audiencias/resumo-geral-trt-com-erro-ambos-graus.json
  src/components/shared/week-navigator.tsx
  src/features/audiencias/components/audiencias-content.tsx
  src/features/pericias/components/columns.tsx
Due: features, components

feat: Add TRT audiencias capture service with supporting debugging and testing scripts for database operations.
  debug-acervo-upsert.ts
  debug-check-constraints.ts
  error.log
  next.config.ts
  scripts/captura/audiencias/results/api-audiencias/resumo-geral-trt-com-erro-ambos-graus.json
  scripts/captura/audiencias/test-api-audiencias.ts
  scripts/test-audiencias-trt3-direct.ts
  src/app/error.tsx
  src/features/captura/services/trt/audiencias.service.ts
  src/lib/server-action-error-handler.ts
Due: features, lib

feat: Implement API route for executing scheduled capture appointments and add documentation for GitHub Actions-based VACUUM maintenance.
  docs/internal/deploy/GITHUB_ACTIONS_SETUP.md
  package.json
  src/app/api/cron/executar-agendamentos/route.ts
Due: none

deps: update CopilotKit and Langchain dependencies.
  package-lock.json
  package.json
Due: none

docs: add CLAUDE.md providing project overview, commands, architecture, and development guidelines for AI assistance.
  CLAUDE.md
Due: none

feat: Implement the audiências (hearings) management feature with a data table, filters, and client-side components.
  next.config.ts
  src/app/layout-client.tsx
  src/components/providers/server-action-version-guard.tsx
  src/components/shared/view-mode-popover.tsx
  src/features/audiencias/components/audiencias-content.tsx
  src/features/audiencias/components/audiencias-list-filters.tsx
  src/features/audiencias/components/audiencias-list-wrapper.tsx
  src/features/audiencias/components/audiencias-table-wrapper.tsx
Due: features, components

feat: Implement 2FAuth integration including API routes, hooks, and components, and add new audiencias display components.
  src/app/api/twofauth/accounts/[id]/route.ts
  src/app/api/twofauth/accounts/route.ts
  src/app/api/twofauth/groups/[id]/route.ts
  src/app/api/twofauth/groups/route.ts
  src/app/api/twofauth/preferences/[name]/route.ts
  src/app/api/twofauth/preferences/route.ts
  src/app/api/twofauth/qrcode/[id]/route.ts
  src/app/api/twofauth/status/route.ts
  src/app/app/configuracoes/components/configuracoes-tabs-content.tsx
  src/components/layout/header/authenticator-popover.tsx
  src/features/audiencias/components/audiencias-calendar-compact.tsx
  src/features/audiencias/components/audiencias-content.tsx
  src/features/audiencias/components/audiencias-day-list.tsx
  src/features/audiencias/components/index.ts
  src/features/twofauth/components/twofauth-config-content.tsx
  src/features/twofauth/hooks/index.ts
  src/features/twofauth/hooks/use-twofauth-accounts.ts
  src/features/twofauth/hooks/use-twofauth-groups.ts
  src/features/twofauth/index.ts
  src/lib/integrations/twofauth.ts
  src/lib/integrations/twofauth/accounts.ts
  src/lib/integrations/twofauth/client.ts
  src/lib/integrations/twofauth/groups.ts
  src/lib/integrations/twofauth/icons.ts
  src/lib/integrations/twofauth/index.ts
  src/lib/integrations/twofauth/otp.ts
  src/lib/integrations/twofauth/preferences.ts
  src/lib/integrations/twofauth/qrcode.ts
  src/lib/integrations/twofauth/settings.ts
  src/lib/integrations/twofauth/types.ts
  src/lib/integrations/twofauth/user.ts
  src/lib/mcp/registries/processos-tools.ts
Due: features, lib, components

feat: Implement the main application layout with dashboard structure, AI integration, and a dedicated header component.
  src/app/app/layout.tsx
  src/components/layout/header/app-header.tsx
Due: components

feat: introduce AudienciasContent component to manage the audiencias page with view selection and date navigation.
  .claude/settings.local.json
  src/features/audiencias/components/audiencias-content.tsx
Due: features

feat: add Claude AI local settings with specific permissions and MCP server configurations.
  .claude/settings.local.json
  src/components/layout/header/app-header.tsx
Due: components

feat: Implement 2FAuth integration with new hooks, API routes, and components for managing 2FA accounts and OTPs.
  src/app/api/twofauth/accounts/[id]/otp/route.ts
  src/features/twofauth/components/twofauth-config-content.tsx
  src/features/twofauth/hooks/index.ts
  src/features/twofauth/hooks/use-twofauth-accounts.ts
  src/features/twofauth/hooks/use-twofauth-groups.ts
  src/hooks/use-twofauth.ts
  src/lib/integrations/twofauth/types.ts
Due: features, hooks

Fix: Address TypeScript type issues in UI components by adding `as any` type assertions for React elements and mask dispatch functions.
  src/app/app/assinatura-digital/feature/components/inputs/input-cpf-cnpj.tsx
  src/components/ui/input-telefone.tsx
  src/components/ui/responsive-form-layout.tsx
  src/components/ui/responsive-grid.tsx
Due: components

refactor: Update resizable panel imports, adjust Zod error handling, and refine React ref and element typings.
  src/app/app/notas/add-note-modal.tsx
  src/components/ui/resizable.tsx
  src/components/ui/server-combobox.tsx
  src/features/processos/components/processos-table-wrapper.tsx
  src/hooks/use-render-count.ts
  src/lib/safe-action.ts
Due: features, lib, components, hooks

refactor: Allow `canvasRef` to be null and update `react-resizable-panels` component imports.
  src/app/app/assinatura-digital/feature/components/editor/PdfCanvasArea.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/EditorCanvas.tsx
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-palette-drag.ts
  src/components/ui/resizable.tsx
Due: components

docs: remove STATUS.md as it is no longer needed
  STATUS.md
Due: none

chore: update dependencies and fix type/lint errors
  src/app/app/assinatura-digital/feature/components/inputs/input-cpf-cnpj.tsx
  src/app/app/notas/add-note-modal.tsx
  src/components/ui/input-telefone.tsx
  src/components/ui/responsive-form-layout.tsx
  src/components/ui/responsive-grid.tsx
  test-server.js
Due: components

feat: Create data table columns for advogados, including name, CPF, OABs, and action buttons.
  src/app/app/captura/components/advogados/advogados-columns.tsx
  src/app/app/captura/components/advogados/advogados-dialog.tsx
  src/components/ui/resizable.tsx
  src/features/captura/services/trt/audiencias.service.ts
  src/hooks/use-twofauth.ts
Due: features, components, hooks

feat: Implement 2FAuth integration with new API routes for account management and OTP retrieval, alongside a new authenticator popover UI component.
  src/app/api/twofauth/accounts/[id]/otp/route.ts
  src/app/api/twofauth/accounts/route.ts
  src/app/app/captura/advogados/page-client.tsx
  src/components/layout/header/authenticator-popover.tsx
  src/features/audiencias/components/audiencias-list-columns.tsx
  src/lib/integrations/twofauth.ts
Due: features, lib, components

refactor: migrate storage from Backblaze B2 to Supabase Storage
  src/app/app/assinatura-digital/feature/components/editor/PdfCanvasArea.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/EditorCanvas.tsx
  src/features/captura/services/storage/upload-documento-timeline.service.ts
  src/features/captura/services/timeline/timeline-capture.service.ts
  src/features/captura/services/trt/audiencias.service.ts
  src/features/documentos/services/storage-upload.service.ts
  src/lib/storage/MIGRACAO_BACKBLAZE_B2.md
  src/lib/storage/supabase-storage.service.ts
Due: features, lib

feat: implement batch creation of attorney credentials.
  src/app/app/captura/components/advogados/credenciais-advogado-dialog.tsx
  src/features/advogados/actions/credenciais-actions.ts
  src/features/advogados/components/credenciais-lote-dialog.tsx
  src/features/advogados/components/index.ts
  src/features/advogados/domain.ts
  src/features/advogados/index.ts
  src/features/advogados/repository.ts
  src/features/advogados/service.ts
Due: features

feat: Establish a comprehensive design system with OKLCH color tokens and integrate Serwist for PWA support.
  build.log
  package.json
  src/app/globals.css
  src/types/serwist.d.ts
  tsconfig.json
Due: none

chore: Update build log with production build output and static page generation warnings.
  build.log
Due: none

refactor: update and expand `.dockerignore` to generalize exclusions and add new patterns for development, build, and temporary files.
  .dockerignore
Due: none

feat: Add capture log list component and processes repository.
  src/features/captura/components/captura-list.tsx
  src/features/processos/repository.ts
Due: features

feat: Add `expedientes_com_origem` and `audiencias_com_origem` views, generate Supabase database types, and update environment configuration.
  .claude/settings.local.json
  .env
  NOTICE
  build.log
  src/lib/supabase/database.types.ts
  src/types/database.types.ts
  supabase/migrations/20260213120000_create_expedientes_com_origem_view.sql
  supabase/migrations/20260213120002_create_audiencias_com_origem_view.sql
Due: lib

feat: Introduce client-side version guard and Service Worker cache invalidation to prevent Server Action errors after deployments.
  next.config.ts
  src/app/sw.ts
  src/components/providers/server-action-version-guard.tsx
  src/features/notificacoes/hooks/use-notificacoes.ts
  src/lib/version.ts
Due: features, lib, components

commit
  Dockerfile
Due: none

feat: add a Docker build and push script and update the Docker image name in the CI workflow.
  .github/workflows/docker-build-push.yml
  docker-build-push.sh
Due: none
