Repository SinesysTech/diegobarbosa-os: changes, and which Codecov flags are due for each by the changed paths.
All: features, lib, components, hooks

fix: handle undefined OABs in formatOabs and advogado-combobox components
  .claude/settings.local.json
  src/features/advogados/domain.ts
  src/features/captura/components/advogado-combobox.tsx
  src/features/captura/credentials/credential.service.ts
  src/features/chat/repositories/members-repository.ts
  src/features/chat/repositories/rooms-repository.ts
  src/features/chat/service.ts
  src/lib/supabase/database.types.ts
  supabase/migrations/20260218210000_transform_advogados_oab_to_jsonb.sql
Due: features, lib

chore: Remove the `NEXT_PUBLIC_DYTE_ORG_ID` environment variable and its associated build and runtime configurations.
  Dockerfile
  docker-build-push.sh
  scripts/cloudron-build.sh
  src/app/api/captura/credenciais/route.ts
  src/app/app/captura/credenciais/page-client.tsx
  src/components/providers/env-provider.tsx
  src/lib/env-runtime.ts
  src/lib/env/public-env.ts
Due: lib, components

fix: update note types from image to text and adjust footer for hydration warnings
  src/app/app/notas/data.ts
  src/app/portal/page.tsx
  src/features/captura/services/trt/trt-auth.service.ts
  src/features/chat/components/call-dialog.tsx
  src/middleware/__tests__/integration/security-headers-middleware.test.ts
  src/middleware/__tests__/security-headers.test.ts
  src/middleware/security-headers.ts
Due: features

feat: set up pg_cron jobs for scheduling, maintenance, and background processing tasks.
  supabase/migrations/20260219100000_setup_pg_cron_jobs.sql
Due: none

refactor: enhance multi-step dialogs with dedicated left footer for navigation and improved progress bar display.
  src/components/shared/dialog-shell/dialog-form-shell.tsx
  src/components/shared/dialog-shell/dialog-nav-buttons.tsx
  src/features/partes/components/clientes/cliente-form.tsx
  src/features/partes/components/partes-contrarias/parte-contraria-form.tsx
  src/features/partes/components/representantes/representante-form.tsx
  src/features/partes/components/terceiros/terceiro-form.tsx
Due: features, components

deps: update glob dependency to ^13.0.0
  package-lock.json
  package.json
Due: none

refactor: Standardize UI component styling to use theme-defined CSS variables for backgrounds, borders, and text.
  src/app/app/layout.tsx
  src/components/shared/dialog-shell/dialog-form-shell.tsx
  src/components/shared/week-navigator.tsx
  src/components/ui/alert-dialog.tsx
  src/components/ui/animated-icon-tabs.tsx
  src/components/ui/combobox.tsx
  src/components/ui/dialog.tsx
  src/components/ui/responsive-dialog.tsx
  src/components/ui/select.tsx
  src/components/ui/sheet.tsx
  src/features/chat/components/chat-footer.tsx
  src/features/usuarios/components/cargos/cargos-management-dialog.tsx
Due: features, components

feat: implement file upload functionality and dynamic user input form in Dify components
  src/app/api/dify/upload/route.ts
  src/app/app/assistentes/[id]/components/assistente-nativo-view.tsx
  src/app/app/assistentes/[id]/page.tsx
  src/features/dify/components/dify-chat/dify-chat-panel.tsx
  src/features/dify/components/dify-completion/completion-panel.tsx
  src/features/dify/components/dify-input-form.tsx
  src/features/dify/domain.ts
  src/features/dify/index.ts
Due: features

refactor: Update background color classes to use theme-defined variables like `bg-card`, `bg-background`, and `bg-popover`.
  src/app/app/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/formularios/client-page.tsx
  src/app/app/assistentes/[id]/page.tsx
  src/app/app/captura/components/advogados/advogados-filter.tsx
  src/app/app/captura/components/agendamento-dialog.tsx
  src/app/app/captura/components/credenciais/credenciais-dialog.tsx
  src/app/app/captura/components/tribunais/tribunais-dialog.tsx
  src/app/app/dashboard/geral/components/add-reminder-dialog.tsx
  src/app/app/dashboard/geral/components/reminders.tsx
  src/app/app/notas/add-note-modal.tsx
  src/app/app/notas/edit-labels-modal.tsx
  src/app/app/notas/note-content.tsx
  src/app/app/notas/note-sidebar.tsx
  src/app/app/tarefas/components/data-table-faceted-filter.tsx
  src/app/portal/feature/components/hero/cpf-hero-form.tsx
  src/components/auth/login-form.tsx
  src/components/shared/__tests__/dialog-form-shell.test.tsx
  src/components/ui/tabs-02-responsive.tsx
  src/components/ui/tabs-02.tsx
  src/features/config-atribuicao/components/config-atribuicao-dialog.tsx
  src/features/expedientes/components/expedientes-calendar-month.tsx
  src/features/obrigacoes/components/calendar/obrigacoes-calendar-month.tsx
  src/features/pericias/components/pericias-calendar-month.tsx
  src/features/usuarios/components/list/usuarios-list-filters.tsx
Due: features, components

refactor: Consolidate multiple CPF/CNPJ-specific tools into unified document-based tools.
  docs/internal/mcp-audit/mcp-exclusions-policy.md
  docs/internal/mcp/mcp-tools-reference.md
  scripts/mcp/add-jsdoc-all.ts
  scripts/mcp/add-jsdoc.ts
  scripts/mcp/generate-docs.ts
  scripts/mcp/generate-markdown-from-json.ts
  scripts/mcp/test-all-tools.ts
  scripts/mcp/test-mcp-call.ts
  scripts/mcp/test-tools.ts
  scripts/mcp/tools-metadata.json
  src/app/app/(auth)/layout.tsx
  src/app/app/admin/metricas-db/components/metricas-db-content.tsx
  src/app/app/admin/metricas-db/page.tsx
  src/app/app/configuracoes/components/configuracoes-tabs-content.tsx
  src/app/app/configuracoes/components/segmentos-content.tsx
  src/app/app/layout.tsx
  src/components/shared/dialog-shell/dialog-form-shell.tsx
  src/components/ui/dialog.tsx
  src/components/ui/responsive-dialog.tsx
  src/features/captura/services/partes/services/persistence.service.ts
  src/features/captura/services/partes/services/representatives.service.ts
  src/features/chat/components/incoming-call-dialog.tsx
  src/features/contratos/actions/segmentos-actions.ts
  src/features/contratos/components/segmentos-dialog.tsx
  src/features/dify/components/dify-chat-panel.tsx
  src/features/integracoes/components/chatwoot-config-form.tsx
  src/features/integracoes/components/chatwoot-integration-card.tsx
  src/features/obrigacoes/components/dialogs/nova-obrigacao-dialog.tsx
  src/lib/mcp/registries/contratos-tools.ts
  src/lib/mcp/registries/partes-tools.ts
  src/lib/mcp/registries/processos-tools.ts
Due: features, lib, components

feat: Request address information when fetching process parts from the PJE API.
  src/features/captura/pje-trt/partes/obter-partes.ts
  src/features/captura/services/partes/services/persistence.service.ts
  src/features/partes/repositories/clientes-repository.ts
  src/features/partes/repositories/partes-contrarias-repository.ts
  src/features/partes/repositories/terceiros-repository.ts
  src/features/partes/repository-compat.ts
Due: features

Refactor: Update persistence service to use `result.success` and `result.data` for ID extraction and remove the deprecated `repository-compat.ts` file.
  src/features/captura/services/partes/services/persistence.service.ts
  src/features/partes/repository-compat.ts
Due: features

refactor: streamline `SegmentosContent` layout by removing redundant titles and repositioning the 'Novo Segmento' button.
  src/app/app/configuracoes/components/segmentos-content.tsx
Due: none

feat: Add `isSuperAdmin` update capability to the repository and suppress permission alerts for super admins in the UI.
  src/features/usuarios/components/permissions/permissoes-matriz.tsx
  src/features/usuarios/repository.ts
Due: features

refactor: update contract status parameter type from string to StatusContrato
  src/lib/mcp/registries/contratos-tools.ts
Due: lib

refactor: simplify `AdvogadoCombobox` option labels and enhance search functionality by including CPF.
  src/features/captura/components/advogado-combobox.tsx
Due: features

refactor: simplify document creation flow and enhance settings management
  src/app/app/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/documentos/editar/[uuid]/page.tsx
  src/app/app/assinatura-digital/documentos/editar/layout.tsx
  src/app/app/assinatura-digital/documentos/lista/client-page.tsx
  src/app/app/assinatura-digital/documentos/lista/components/columns.tsx
  src/app/app/assinatura-digital/documentos/novo/client-page.tsx
  src/app/app/assinatura-digital/documentos/novo/page.tsx
  src/app/app/assinatura-digital/documentos/revisar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/documentos/revisar/[uuid]/page.tsx
  src/app/app/assinatura-digital/feature/actions/documentos-actions.ts
  src/app/app/assinatura-digital/feature/components/editor/components/FloatingSidebar.tsx
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-document-editor.ts
  src/app/app/assinatura-digital/feature/components/upload/document-upload-dropzone.tsx
  src/app/app/assinatura-digital/feature/services/documentos.service.ts
  src/app/app/layout.tsx
Due: none

feat: Implement multi-selection for audience capture status and fix `enderecos` unique index for PostgREST compatibility.
  src/app/api/captura/trt/audiencias/route.ts
  src/features/captura/components/audiencias-form.tsx
  src/features/captura/domain.ts
  src/features/captura/services/partes/services/addresses.service.ts
  src/features/captura/services/trt/audiencias.service.ts
  src/features/captura/services/trt/trt-capture.service.ts
  src/features/partes/components/clientes/columns.tsx
  src/features/partes/components/partes-contrarias/partes-contrarias-table-wrapper.tsx
  src/features/partes/components/representantes/representantes-table-wrapper.tsx
  src/features/partes/components/shared/contato-cell.tsx
  src/features/partes/components/shared/processos-relacionados-cell.tsx
  src/features/partes/components/terceiros/terceiros-table-wrapper.tsx
  supabase/migrations/20260220000000_fix_enderecos_partial_unique_index.sql
  supabase/schemas/15_enderecos.sql
Due: features

refactor: update FieldMappingEditor to remove signer management and integrate FloatingSidebar for document flow
  src/app/app/assinatura-digital/feature/README.md
  src/app/app/assinatura-digital/feature/components/editor/FieldMappingEditor.tsx
  src/app/app/tarefas/repository.ts
Due: none

fix: increase timeout for Docker build and push job to 60 minutes
  .github/workflows/docker-build-push.yml
Due: none

feat: add diagnostics step for build failures in Docker workflow
  .github/workflows/docker-build-push.yml
Due: none

feat(docker): optimize build process to resolve OOM issues and improve performance
  .github/workflows/docker-build-push.yml
  Dockerfile
  docs/architecture/DOCKER_OPTIMIZATION.md
  docs/architecture/DOCKER_OPTIMIZATION_QUICK.md
  next.config.ts
Due: none

feat: disable Turbopack and telemetry for optimized builds in Docker
  Dockerfile
  Dockerfile.minimal
  package.json
Due: none

feat(docker): update build cache strategy to use registry for improved performance
  .github/workflows/docker-build-push.yml
Due: none

refactor: replace Popover with Sheet in TemplateInfoPopover component
  .env.example
  src/app/app/assinatura-digital/assinatura/page.tsx
  src/app/app/assinatura-digital/feature/components/editor/FieldMappingEditor.tsx
  src/app/app/assinatura-digital/feature/components/editor/PdfCanvasArea.tsx
  src/app/app/assinatura-digital/feature/components/editor/PropertiesPopover.tsx
  src/app/app/assinatura-digital/feature/components/editor/TemplateInfoPopover.tsx
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-field-drag.ts
  src/app/app/assinatura-digital/feature/components/editor/utils/template-helpers.ts
  src/features/captura/services/trt/acervo-geral.service.ts
  src/features/captura/services/trt/arquivados.service.ts
  src/features/captura/services/trt/audiencias.service.ts
  src/features/captura/services/trt/captura-combinada.service.ts
  src/features/captura/services/trt/pendentes-manifestacao.service.ts
  src/features/captura/services/trt/pericias.service.ts
  src/features/captura/services/trt/trt-auth.service.ts
  src/features/captura/services/trt/trt-capture.service.ts
  src/lib/integrations/twofauth.ts
  src/lib/integrations/twofauth/accounts.ts
  src/lib/integrations/twofauth/client.ts
  src/lib/integrations/twofauth/index.ts
  src/lib/integrations/twofauth/otp.ts
Due: features, lib

feat: add pdf_url to TemplateBasico interface and update PDF loading logic for improved handling
  src/app/api/assinatura-digital/templates/[id]/preview-test/route.ts
  src/app/app/assinatura-digital/feature/services/data.service.ts
  src/app/app/assinatura-digital/feature/services/template-pdf.service.ts
Due: none

fix: update Template display logic to include original file check for PDF templates
  middleware.ts
  src/app/app/assinatura-digital/templates/client-page.tsx
  src/hooks/use-twofauth.ts
  src/lib/__tests__/integration/redis-client.test.ts
  src/lib/auth/api-auth.ts
  src/lib/mcp/rate-limit.ts
  src/lib/redis/client.ts
Due: lib, hooks

fix: add docker-compose.portainer.yml to .gitignore to prevent tracking
  .gitignore
Due: none

feat: implement multi-step wizard for template creation with dynamic content handling
  src/app/app/assinatura-digital/feature/components/templates/template-create-dialog.tsx
  src/app/app/assinatura-digital/feature/components/templates/template-form-fields.tsx
  src/components/shared/dialog-shell/dialog-form-shell.tsx
Due: components

fix: adjust max height of raw data display in CapturaDetalhesPage
  src/app/app/captura/historico/[id]/page.tsx
Due: none

feat: add function to update audiencia observations and refactor related components
  src/app/app/audiencias/ano/page.tsx
  src/app/app/audiencias/mes/page.tsx
  src/features/audiencias/actions.ts
  src/features/audiencias/components/audiencia-detail-sheet.tsx
  src/features/audiencias/components/audiencias-list-columns.tsx
  src/features/audiencias/components/audiencias-table-wrapper.tsx
  src/features/audiencias/repository.ts
  src/features/audiencias/service.ts
Due: features

feat: add inline editing for audiencia observations with popover and save functionality
  src/features/audiencias/components/audiencias-list-columns.tsx
  src/features/audiencias/components/audiencias-list-wrapper.tsx
Due: features

feat: enhance form schema builder and editor components
  src/app/app/assinatura-digital/feature/components/editor/FieldMappingEditor.tsx
  src/app/app/assinatura-digital/feature/components/editor/RichTextEditor.tsx
  src/app/app/assinatura-digital/feature/components/editor/hooks/index.ts
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-template-formularios.ts
  src/app/app/assinatura-digital/feature/components/formulario-select.tsx
  src/app/app/assinatura-digital/feature/components/schema-builder/FieldPalette.tsx
  src/app/app/assinatura-digital/feature/components/schema-builder/FieldPropertiesPanel.tsx
  src/app/app/assinatura-digital/feature/components/schema-builder/FormSchemaBuilder.tsx
  src/app/app/assinatura-digital/feature/components/schema-builder/SchemaCanvas.tsx
Due: none

feat: enhance RichTextEditor and Variable components, and improve notification handling
  .vscode/css-custom-data.json
  .vscode/settings.json
  src/app/app/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/feature/components/editor/RichTextEditor.tsx
  src/app/app/assinatura-digital/feature/components/editor/RichTextEditorPopover.tsx
  src/app/app/assinatura-digital/feature/components/editor/extensions/Variable.ts
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-template-loader.ts
  src/app/app/assinatura-digital/templates/[id]/edit/page.tsx
  src/components/ui/custom/minimal-tiptap/styles/index.css
  src/features/notificacoes/hooks/use-notificacoes.ts
  src/lib/integrations/twofauth/config-loader.ts
Due: features, lib, components

refactor: replace Popover with Sheet in TemplateInfoPopover component
  src/app/app/assinatura-digital/assinatura/page.tsx
  src/app/app/assinatura-digital/feature/components/editor/FieldMappingEditor.tsx
  src/app/app/assinatura-digital/feature/components/editor/PdfCanvasArea.tsx
  src/app/app/assinatura-digital/feature/components/editor/PropertiesPopover.tsx
  src/app/app/assinatura-digital/feature/components/editor/TemplateInfoPopover.tsx
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-field-drag.ts
  src/app/app/assinatura-digital/feature/components/editor/utils/template-helpers.ts
  src/features/captura/services/trt/acervo-geral.service.ts
  src/features/captura/services/trt/arquivados.service.ts
  src/features/captura/services/trt/audiencias.service.ts
  src/features/captura/services/trt/captura-combinada.service.ts
  src/features/captura/services/trt/pendentes-manifestacao.service.ts
  src/features/captura/services/trt/pericias.service.ts
  src/features/captura/services/trt/trt-auth.service.ts
  src/features/captura/services/trt/trt-capture.service.ts
  src/lib/integrations/twofauth.ts
  src/lib/integrations/twofauth/accounts.ts
  src/lib/integrations/twofauth/client.ts
  src/lib/integrations/twofauth/index.ts
  src/lib/integrations/twofauth/otp.ts
Due: features, lib

feat: add pdf_url field to templates and update related components for PDF handling
  src/app/api/assinatura-digital/templates/[id]/preview/route.ts
  src/app/api/assinatura-digital/templates/[id]/route.ts
  src/app/api/assinatura-digital/templates/route.ts
  src/app/app/assinatura-digital/documentos/lista/client-page.tsx
  src/app/app/assinatura-digital/feature/components/editor/ReplacePdfDialog.tsx
  src/app/app/assinatura-digital/feature/components/editor/TemplateInfoPopover.tsx
  src/app/app/assinatura-digital/feature/domain.ts
  src/app/app/assinatura-digital/feature/services/templates.service.ts
  src/app/app/assinatura-digital/feature/types/types.ts
  src/app/app/assinatura-digital/formularios/components/segmentos-manager-dialog.tsx
  src/components/shared/dialog-shell/dialog-form-shell.tsx
  src/features/pericias/components/pericia-criar-dialog.tsx
  src/features/pericias/components/pericia-dialog.tsx
  src/lib/supabase/database.types.ts
  supabase/migrations/20251210020000_add_template_columns.sql
Due: features, lib, components

Path conditions:
  features: any of: src/features/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  lib: any of: src/lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  components: any of: src/components/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  hooks: any of: src/hooks/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
