Repository SinesysTech/diegobarbosa-os: changes, and which Codecov flags are due for each by the changed paths.
All: features, lib, components, hooks

codecov.yml:

# Configuração Codecov para Sinesys
# Documentação: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/testing/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/dist/**"
  - "**/coverage/**"
  - "**/*.d.ts"
  - "**/types.ts"
  - "**/index.ts"

flags:
  features:
    paths:
      - src/features/
    carryforward: true

  lib:
    paths:
      - src/lib/
    carryforward: true

  components:
    paths:
      - src/components/
    carryforward: true

  hooks:
    paths:
      - src/hooks/
    carryforward: true

feat: add validation command to settings and create detailed contract page requirements
  .claude/settings.local.json
  openspec/changes/add-contrato-detail-page/specs/contratos/spec.md
Due: none

feat: add Cronicle provisioning script and update package.json
  package.json
  scripts/cronicle/README.md
  scripts/cronicle/provision-zattar-crons.ts
Due: none

feat: refactor PWA installation handling and remove unused hooks feat: enhance contrato actions with detailed contract retrieval feat: add contratoId filter to lancamentos query parameters
  scripts/cronicle/provision-zattar-crons.ts
  src/components/pwa/pwa-install-prompt.tsx
  src/features/contratos/actions/contratos-actions.ts
  src/features/financeiro/domain/lancamentos.ts
  src/features/financeiro/repository/lancamentos.ts
  src/hooks/__tests__/TESTING_SCOPE.md
  src/hooks/use-pwa-install.ts
  src/types/pwa.d.ts
Due: features, components, hooks

feat: update types for address, responsible, and segment in actionBuscarContratoCompleto
  src/features/contratos/actions/contratos-actions.ts
Due: features

feat: add ContratoProgressCard, ContratoResumoCard, and ContratoTagsCard components with status and contact information
  scripts/cronicle/provision-zattar-crons.ts
  src/app/app/contratos/[id]/components/contrato-partes-card.tsx
  src/app/app/contratos/[id]/components/contrato-processos-card.tsx
  src/app/app/contratos/[id]/components/contrato-progress-card.tsx
  src/app/app/contratos/[id]/components/contrato-resumo-card.tsx
  src/app/app/contratos/[id]/components/contrato-tags-card.tsx
  src/app/app/contratos/[id]/components/parte-view-sheet.tsx
  src/features/contratos/index.ts
Due: none

feat: add ContratoDocumentosCard, ContratoFinanceiroCard, and ContratoTimeline components for contract management
  scripts/cronicle/provision-zattar-crons.ts
  src/app/app/contratos/[id]/components/about-me.tsx
  src/app/app/contratos/[id]/components/card-skills.tsx
  src/app/app/contratos/[id]/components/complete-your-profile.tsx
  src/app/app/contratos/[id]/components/connections.tsx
  src/app/app/contratos/[id]/components/contrato-detalhes-header.tsx
  src/app/app/contratos/[id]/components/contrato-documentos-card.tsx
  src/app/app/contratos/[id]/components/contrato-financeiro-card.tsx
  src/app/app/contratos/[id]/components/contrato-timeline.tsx
  src/app/app/contratos/[id]/components/index.ts
  src/app/app/contratos/[id]/components/latest-activity.tsx
  src/app/app/contratos/[id]/components/profile-card.tsx
  src/app/app/contratos/[id]/contrato-detalhes-client.tsx
  src/app/app/contratos/[id]/error.tsx
  src/app/app/contratos/[id]/loading.tsx
  src/app/app/contratos/[id]/not-found.tsx
  src/app/app/contratos/[id]/page.tsx
Due: none

feat: update action types export in contratos actions for enhanced type coverage
  scripts/cronicle/provision-zattar-crons.ts
  src/features/contratos/actions/index.ts
  src/features/contratos/index.ts
Due: none

feat: update routing and URLs to use '/portal' instead of '/meu-processo'
  scripts/cronicle/provision-zattar-crons.ts
  src/app/app/contratos/[id]/page.tsx
  src/features/audiencias/actions.ts
  src/features/portal-cliente/__tests__/actions/portal-actions.test.ts
  src/features/portal-cliente/actions/portal-actions.ts
  src/features/portal-cliente/components/hero/cpf-hero-form.tsx
  src/features/portal-cliente/components/navbar/portal-navbar.tsx
  src/lib/__tests__/unit/urls.test.ts
  src/lib/urls.ts
Due: features, lib

feat: update layout and styling for portal components and navbar
  .claude/settings.local.json
  .env.local
  src/app/portal/page.tsx
  src/app/portal/processos/page.tsx
  src/features/portal-cliente/__tests__/actions/portal-actions.test.ts
  src/features/portal-cliente/components/hero/cpf-hero-form.tsx
  src/features/portal-cliente/components/navbar/portal-navbar.tsx
Due: features

fix: update CRONICLE_API_KEY in .env.local for security improvement
  .env.local
Due: none

refactor: simplify contract status display in getContratosColumns function
  .claude/settings.local.json
  src/features/contratos/components/columns.tsx
Due: features

refactor: replace DropdownMenu with Tooltip for contract actions
  src/features/contratos/components/columns.tsx
  tsconfig.test.json
Due: features

refactor: remove unused view functionality and enhance action buttons with tooltips
  src/features/contratos/components/columns.tsx
  src/features/contratos/components/contratos-table-wrapper.tsx
Due: features

refactor: remove unused handleView function from ContratosTableWrapper
  src/features/contratos/components/contratos-table-wrapper.tsx
Due: features

refactor: remove unused ContratoViewSheet export from components index
  src/features/contratos/components/index.ts
  src/features/contratos/index.ts
Due: none

refactor: enhance ContratoDetalhesHeader layout and navigation, update ContratoDetalhesClient to use animated tabs
  src/app/app/contratos/[id]/components/contrato-detalhes-header.tsx
  src/app/app/contratos/[id]/components/contrato-resumo-card.tsx
  src/app/app/contratos/[id]/contrato-detalhes-client.tsx
  supabase/migrations/20260112000000_fix_99_pop_uber_contratos.sql
Due: none

refactor: simplify permissions in settings.local.json by removing unnecessary Bash commands
  .claude/settings.local.json
Due: none

refactor: update select components in PecasModelosTableWrapper to handle 'all' option for filters
  package-lock.json
  package.json
  src/features/pecas-juridicas/components/pecas-modelos-table-wrapper.tsx
Due: features

feat: add PecaModeloViewSheet component and update exports in index files
  src/features/pecas-juridicas/components/index.ts
  src/features/pecas-juridicas/components/peca-modelo-view-sheet.tsx
  src/features/pecas-juridicas/components/pecas-modelos-table-wrapper.tsx
  src/features/pecas-juridicas/index.ts
Due: features

chore: add new Docker build scripts for low memory and efficient builds, and update troubleshooting documentation for memory errors
  Dockerfile.efficient
  Dockerfile.low-memory
  SOLUCAO-DEFINITIVA.md
  URGENTE-LIMPAR-DISCO.md
  docs/troubleshooting/QUICK-FIX.md
  docs/troubleshooting/docker-memory-reality.md
  docs/troubleshooting/docker-oom-error.md
  docs/troubleshooting/docker-slow-build.md
  package.json
  scripts/docker/check-memory-requirements.sh
  scripts/docker/cleanup-docker.sh
Due: none

feat: update PlateEditor to use Plate's API for text insertion and improve PecaModeloEditor type handling fix: adjust layout in PecaModeloViewSheet and align placeholder insert menu
  src/components/editor/plate/plate-editor.tsx
  src/features/pecas-juridicas/components/peca-modelo-editor.tsx
  src/features/pecas-juridicas/components/peca-modelo-view-sheet.tsx
  src/features/pecas-juridicas/components/placeholder-insert-menu.tsx
Due: features, components

build
  Dockerfile
  Dockerfile.efficient
  Dockerfile.low-memory
  next.config.ts
  public/fallback-ce627215c0e4a9af 3.js
  scripts/docker/build-no-cache.sh
  scripts/docker/check-docker-resources.sh
  scripts/docker/check-memory-requirements.sh
  scripts/docker/cleanup-docker.sh
  scripts/docker/fix-buildkit.sh
  scripts/docker/fix-docker-proxy.sh
Due: none

chore: remove docker-build.log to clean up repository and reduce clutter
  docker-build.log
Due: none

dockerfile
  Dockerfile
Due: none

docker build
  Dockerfile
  Dockerfile.no-cache
  Dockerfile.no-syntax
  SOLUCAO-DEFINITIVA.md
  URGENTE-LIMPAR-DISCO.md
  docker-compose.no-cache.yml
  package.json
  sinesys.code-workspace
Due: none

feat(validation-reports): add profile layout validation report for 2026-01-13
  docs/validation-reports/profile-layout-validation-2026-01-13.md
  tmpclaude-1b40-cwd
  tmpclaude-a010-cwd
  tmpclaude-a99d-cwd
  tmpclaude-bcda-cwd
  tmpclaude-d7c7-cwd
Due: none

feat(settings): add mcp__supabase__execute_sql permission and create temporary cwd files
  .claude/settings.local.json
  src/features/chatwoot/actions.ts
  src/features/chatwoot/components/chatwoot-sync-button.tsx
  src/features/chatwoot/components/index.ts
  src/features/chatwoot/index.ts
  src/features/partes/components/clientes/clientes-table-wrapper.tsx
  src/features/partes/components/partes-contrarias/partes-contrarias-table-wrapper.tsx
  src/features/partes/components/terceiros/terceiros-table-wrapper.tsx
  src/features/profiles/components/sections/activity-timeline.tsx
  src/features/profiles/components/sections/related-entities-cards.tsx
  tmpclaude-6ed7-cwd
  tmpclaude-a010-cwd
  tmpclaude-a99d-cwd
  tmpclaude-aa20-cwd
  tmpclaude-bcda-cwd
  tmpclaude-d7c7-cwd
Due: features

feat: add sections for third-party profiles including contact, address, info, and PJE data
  src/features/chatwoot/actions.ts
  src/features/profiles/components/profile-shell-client.tsx
  src/features/profiles/components/sections/parte-contraria-contato-section.tsx
  src/features/profiles/components/sections/parte-contraria-endereco-section.tsx
  src/features/profiles/components/sections/parte-contraria-info-section.tsx
  src/features/profiles/components/sections/parte-contraria-pje-section.tsx
  src/features/profiles/components/sections/representante-clientes-table.tsx
  src/features/profiles/components/sections/representante-contato-section.tsx
  src/features/profiles/components/sections/representante-info-section.tsx
  src/features/profiles/components/sections/representante-oab-section.tsx
  src/features/profiles/components/sections/representante-processos-table.tsx
  src/features/profiles/components/sections/terceiro-contato-section.tsx
  src/features/profiles/components/sections/terceiro-endereco-section.tsx
  src/features/profiles/components/sections/terceiro-info-section.tsx
  src/features/profiles/components/sections/terceiro-pje-section.tsx
  src/features/profiles/configs/parte-contraria-profile.config.ts
  src/features/profiles/configs/representante-profile.config.ts
  src/features/profiles/configs/terceiro-profile.config.ts
  src/features/profiles/utils/profile-adapters.ts
  tmpclaude-0d1c-cwd
  tmpclaude-24c7-cwd
  tmpclaude-28b1-cwd
  tmpclaude-95ee-cwd
  tmpclaude-be01-cwd
Due: features

feat: refactor page components to use synchronous params and improve type handling; enhance profile sidebar rendering logic
  src/app/app/partes/partes-contrarias/[id]/page.tsx
  src/app/app/partes/representantes/[id]/page.tsx
  src/app/app/partes/terceiros/[id]/page.tsx
  src/features/chatwoot/actions.ts
  src/features/chatwoot/service.ts
  src/features/profiles/components/profile-layout/profile-sidebar.tsx
  src/features/profiles/components/sections/representante-clientes-table.tsx
  src/features/profiles/components/sections/terceiro-info-section.tsx
  tmpclaude-28b1-cwd
  tmpclaude-4085-cwd
  tmpclaude-5bdc-cwd
  tmpclaude-6225-cwd
  tmpclaude-95ee-cwd
  tmpclaude-be01-cwd
  tmpclaude-d30f-cwd
Due: features

feat: add initial directory structure for development environment
  src/features/partes/components/clientes/clientes-table-wrapper.tsx
  src/features/partes/components/partes-contrarias/partes-contrarias-table-wrapper.tsx
  src/features/partes/components/terceiros/terceiros-table-wrapper.tsx
  src/features/profiles/utils/profile-adapters.ts
  tmpclaude-52b7-cwd
  tmpclaude-cc2c-cwd
  tmpclaude-ec96-cwd
Due: features

build
  .env.local
  .husky/pre-commit
  package.json
Due: none

chore: remove security check and fix linter warnings
  .env.local
  .husky/_/.gitignore
  .husky/pre-commit
  package-lock.json
  package.json
  public/fallback-ce627215c0e4a9af 2.js
  public/fallback-ce627215c0e4a9af 3.js
  src/app/app/contratos/[id]/components/parte-view-sheet.tsx
  src/features/pecas-juridicas/components/peca-modelo-editor.tsx
  src/features/pecas-juridicas/components/peca-modelo-view-sheet.tsx
Due: features

build: Add persistent cache for `npm run build:ci` in Dockerfile.
  Dockerfile
Due: none

feat: update environment variables for Metrics API configuration
  .env.local
  src/app/app/admin/metricas-db/components/disk-io-card.tsx
  src/lib/supabase/management-api.ts
Due: lib

Refactor `AcordosCondenacoesCatchAllRedirectPage` to asynchronously handle `params` and `searchParams`.
  src/app/acordos-condenacoes/[...path]/page.tsx
Due: none

feat: integrate multi-step form flow in Document Upload component
  .claude/settings.local.json
  User-Profile-Shadcn-UI-Kit-01-13-2026_10_42_AM.png
  Zattar-Advogados-01-13-2026_10_43_AM.png
  next.config.ts
  src/app/app/assinatura-digital/feature/components/upload/document-upload-dropzone.tsx
  src/app/app/assinatura-digital/feature/components/upload/hooks/use-document-upload.ts
  src/lib/chatwoot/types.ts
Due: none

feat: implement workflow components for digital signature process, including step indicators and navigation hooks
  .env.local
  src/app/app/assinatura-digital/feature/components/upload/document-upload-dropzone.tsx
  src/app/app/assinatura-digital/feature/components/workflow/components/desktop-stepper.tsx
  src/app/app/assinatura-digital/feature/components/workflow/components/mobile-progress.tsx
  src/app/app/assinatura-digital/feature/components/workflow/components/step-indicator.tsx
  src/app/app/assinatura-digital/feature/components/workflow/hooks/use-workflow-navigation.ts
  src/app/app/assinatura-digital/feature/components/workflow/index.ts
  src/app/app/assinatura-digital/feature/components/workflow/signature-workflow-stepper.tsx
  src/app/app/assinatura-digital/feature/components/workflow/types.ts
  src/app/app/assinatura-digital/feature/store/formulario-store.ts
  src/app/app/assinatura-digital/feature/types/store.ts
  src/features/usuarios/hooks/use-minhas-permissoes.ts
Due: features

feat: enhance workflow navigation and UI components with improved formatting and accessibility
  src/app/app/assinatura-digital/feature/components/editor/types.ts
  src/app/app/assinatura-digital/feature/components/upload/components/upload-dropzone-area.tsx
  src/app/app/assinatura-digital/feature/components/workflow/components/step-indicator.tsx
  src/app/app/assinatura-digital/feature/components/workflow/hooks/use-workflow-navigation.ts
  src/app/app/assinatura-digital/feature/components/workflow/index.ts
  src/components/ui/server-combobox.tsx
  src/features/pangea/components/pangea-page-content.tsx
  src/features/partes/components/clientes/cliente-form.tsx
  src/features/partes/components/representantes/representante-form.tsx
Due: features, components
