Repository SinesysTech/diegobarbosa-os: changes, and which Codecov flags are due for each by the changed paths.
All: features, lib, components, hooks

codecov.yml:

# Configuração Codecov para Sinesys
# Documentação: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/testing/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/dist/**"
  - "**/coverage/**"
  - "**/*.d.ts"
  - "**/types.ts"
  - "**/index.ts"

flags:
  features:
    paths:
      - src/features/
    carryforward: true

  lib:
    paths:
      - src/lib/
    carryforward: true

  components:
    paths:
      - src/components/
    carryforward: true

  hooks:
    paths:
      - src/hooks/
    carryforward: true

feat: add git.cloudron.io to allowed web fetch domains in local settings.
  .claude/settings.local.json
Due: none

feat: Upgrade to Node.js 22 and enable Next.js image cache persistence on Cloudron.
  CloudronManifest.json
  Dockerfile
  start.sh
Due: none

chore: Update Cloudron manifest runtime directory path for .next/cache.
  CloudronManifest.json
Due: none

feat: Enhance environment variable handling to prevent stale values and refine Supabase client initialization patterns.
  src/app/app/kanban/components/add-assigne.tsx
  src/app/app/todo/components/user-selector.tsx
  src/app/sw.ts
  src/components/layout/header/header-user-menu.tsx
  src/features/audit/services/audit-log.service.ts
  src/features/usuarios/utils.ts
  src/hooks/use-infinite-query.ts
  src/hooks/use-realtime-cursors.ts
  src/hooks/use-realtime-presence-room.ts
  src/hooks/use-supabase-upload.ts
  src/lib/env/public-env.ts
Due: features, lib, components, hooks

feat: Implement runtime reading for public environment variables to prevent Webpack build-time inlining.
  src/lib/env/public-env.ts
Due: lib

refactor: Standardize environment variable access across the application using the new `readRuntimeEnv` utility.
  middleware.ts
  src/app/api/auth/logout/route.ts
  src/lib/auth/api-auth.ts
  src/lib/cors/config.ts
  src/lib/env-runtime.ts
  src/lib/env/public-env.ts
  src/lib/supabase/db-client.ts
  src/lib/supabase/management-api.ts
  src/lib/supabase/server.ts
  src/lib/supabase/service-client.ts
Due: lib

feat: Refactor `ObrigacoesContent` to use dedicated calendar wrappers and introduce new calendar views for obligations.
  src/app/app/calendar/components/agenda-view.tsx
  src/app/app/calendar/components/day-view.tsx
  src/app/app/calendar/components/event-calendar-app.tsx
  src/app/app/calendar/components/event-calendar.tsx
  src/app/app/calendar/components/event-dialog.tsx
  src/app/app/calendar/components/event-item.tsx
  src/app/app/calendar/components/events-popup.tsx
  src/app/app/calendar/components/month-view.tsx
  src/app/app/calendar/components/week-view.tsx
  src/app/app/documentos/page.tsx
  src/components/shared/index.ts
  src/components/shared/year-filter-popover.tsx
  src/features/audiencias/components/audiencias-year-wrapper.tsx
  src/features/documentos/components/file-manager.tsx
  src/features/expedientes/components/expedientes-year-wrapper.tsx
  src/features/obrigacoes/components/calendar/obrigacoes-calendar-compact.tsx
  src/features/obrigacoes/components/calendar/obrigacoes-day-list.tsx
  src/features/obrigacoes/components/calendar/obrigacoes-month-wrapper.tsx
  src/features/obrigacoes/components/calendar/obrigacoes-year-wrapper.tsx
  src/features/obrigacoes/components/obrigacoes-content.tsx
  src/features/obrigacoes/components/table/columns.tsx
  src/features/obrigacoes/components/table/obrigacoes-table-wrapper.tsx
  src/features/obrigacoes/index.ts
  src/features/pericias/components/pericias-year-wrapper.tsx
Due: features, components

refactor: simplify week view header layout and adjust all-day label positioning.
  src/app/app/calendar/components/agenda-view.tsx
  src/app/app/calendar/components/event-calendar-app.tsx
  src/app/app/calendar/components/event-item.tsx
  src/app/app/calendar/components/week-view.tsx
Due: none

chore: Set Chatwoot API and account configuration variables.
  .env.local
Due: none

feat: Implement unified lawyer creation/editing dialog and integrate lawyer-specific credential management.
  src/app/api/captura/credenciais/route.ts
  src/app/app/captura/advogados/page-client.tsx
  src/app/app/captura/components/advogados/advogado-dialog.tsx
  src/app/app/captura/credenciais/page-client.tsx
  src/features/advogados/actions/advogados-actions.ts
  src/features/advogados/actions/credenciais-actions.ts
  src/features/captura/index.ts
Due: features

feat: introduce modular Kanban service for custom and system boards, updating the page to use the new custom board view.
  src/app/app/kanban/page.tsx
  src/features/kanban/service.ts
Due: features

Refactor 2FA account management into a dedicated hook, introduce a singleton Supabase browser client, and enhance API error handling.
  src/app/api/copilotkit/route.ts
  src/app/app/dashboard/components/widgets/widget-fluxo-caixa.tsx
  src/features/notificacoes/hooks/use-notificacoes.ts
  src/features/twofauth/components/twofauth-config-content.tsx
  src/features/twofauth/hooks/use-twofauth-accounts.ts
  src/lib/supabase/browser-client.ts
Due: features, lib

feat: implement a multi-board Kanban system with domain definitions and components, and refactor `tarefas` and `todo` pages to use shared shell components.
  src/app/app/tarefas/page.tsx
  src/app/app/todo/page.tsx
  src/features/kanban/actions/kanban-actions.ts
  src/features/kanban/components/add-assigne.tsx
  src/features/kanban/components/custom-board-view.tsx
  src/features/kanban/components/system-board-view.tsx
  src/features/kanban/domain.ts
  src/features/kanban/repository.ts
  src/features/kanban/service.ts
Due: features

refactor: Replace generic `Badge` component with `AppBadge` and `SemanticBadge` across Kanban features and clean up unused imports.
  src/features/advogados/components/credenciais-lote-dialog.tsx
  src/features/kanban/components/kanban-page-content.tsx
  src/features/kanban/components/system-board-view.tsx
  src/features/kanban/components/unified-kanban-card.tsx
Due: features

feat: Introduce permission error handling in `useTwoFAuth` and prevent infinite retries for account fetching in the authenticator popover.
  src/components/layout/header/authenticator-popover.tsx
  src/hooks/use-twofauth.ts
Due: components, hooks

refactor: rename MCP environment variables and references from SINESYS to DBOS.
  .env.example
  .env.local
  AGENTS.md
  ARCHITECTURE.md
  README.md
  env.sh.cloudron.example
  scripts/mcp/test-mcp-call.ts
  src/app/(ajuda)/ajuda/desenvolvimento/api-referencia/page.tsx
  src/app/(ajuda)/ajuda/integracao/mcp/page.tsx
Due: none

chore: Update API keys, tokens, and service names for Service, TwoFAuth, MCP, and Chatwoot integrations.
  .env.local
  env.sh
Due: none

feat: Implement `GrauCredencial` conversion between UI and database formats, applying it to all relevant repository functions.
  src/features/advogados/repository.ts
Due: features

refactor: improve partes persistence by sanitizing document types, handling conflicts, and throwing specific errors.
  src/features/captura/services/partes/services/persistence.service.ts
  src/features/partes/repositories/clientes-repository.ts
  src/features/partes/repositories/partes-contrarias-repository.ts
  src/features/partes/repositories/terceiros-repository.ts
Due: features

feat: Implement bulk activation and deactivation for credentials.
  src/app/app/captura/credenciais/page-client.tsx
  src/features/advogados/actions/credenciais-actions.ts
  src/features/advogados/index.ts
  src/features/advogados/repository.ts
  src/features/advogados/service.ts
Due: features

feat: Introduce and utilize a new utility function to safely extract error messages for logging, including handling non-Error objects.
  src/features/captura/services/persistence/acervo-persistence.service.ts
  src/features/captura/services/persistence/audiencias-persistence.service.ts
  src/features/captura/services/persistence/capture-log.service.ts
  src/features/captura/services/persistence/pendentes-persistence.service.ts
  src/features/captura/services/persistence/pericias-persistence.service.ts
Due: features

feat: Add `dados_anteriores` jsonb column to the `public.acervo` table for auditing previous data snapshots.
  supabase/migrations/20260216130000_add_dados_anteriores_to_acervo.sql
Due: none

feat: Force dynamic rendering for the digital signature documents list page.
  src/app/app/assinatura-digital/documentos/lista/page.tsx
Due: none

feat: Add `refreshAcervoUnificado` function to refresh the materialized view after persistence.
  src/features/captura/services/persistence/acervo-persistence.service.ts
Due: features

refactor: Standardize table column alignment to left and update database schema with new date fields for processes.
  src/app/app/assinatura-digital/documentos/lista/components/columns.tsx
  src/app/app/captura/components/advogados/advogados-columns.tsx
  src/app/app/captura/components/credenciais/credenciais-columns.tsx
  src/app/app/captura/components/tribunais/tribunais-columns.tsx
  src/app/app/financeiro/orcamentos/client-page.tsx
  src/components/shared/data-shell/data-table.tsx
  src/features/captura/components/captura-list.tsx
  src/features/captura/components/comunica-cnj/capturadas.tsx
  src/features/partes/components/clientes/columns.tsx
  src/features/partes/components/partes-contrarias/partes-contrarias-table-wrapper.tsx
  src/features/partes/components/representantes/representantes-table-wrapper.tsx
  src/features/partes/components/terceiros/terceiros-table-wrapper.tsx
  src/features/profiles/components/sections/cliente-processos-table.tsx
  src/features/profiles/components/sections/representante-clientes-table.tsx
  src/features/profiles/components/sections/representante-processos-table.tsx
  src/types/database.types.ts
  supabase/schemas/16_terceiros.sql
  supabase/schemas/19_audiencias_auxiliares.sql
Due: features, components

feat: Implement multi-select TRT filtering for audiencias and update related list components and repository logic.
  src/components/shared/week-navigator.tsx
  src/features/audiencias/components/audiencias-list-filters.tsx
  src/features/audiencias/components/audiencias-list-wrapper.tsx
  src/features/audiencias/domain.ts
  src/features/audiencias/repository.ts
  src/features/partes/components/shared/filter-popover-multi.tsx
Due: features, components

feat: seed `tipos_expedientes` table with a comprehensive list of proceeding types.
  supabase/migrations/20260216140000_seed_tipos_expedientes.sql
Due: none

feat: Implement multi-select functionality for audience filters by changing filter states to arrays and adjusting API parameter conditions.
  src/features/audiencias/components/audiencias-month-wrapper.tsx
  src/features/audiencias/components/audiencias-year-wrapper.tsx
Due: features

feat: Implement secure signed URL generation for Supabase storage assets and integrate into audiencias list attachments.
  scripts/test-secure-api.ts
  scripts/test-signed-url.ts
  src/app/api/storage/secure-url/route.ts
  src/features/audiencias/components/audiencias-list-columns.tsx
  src/lib/storage/url-utils.ts
Due: features, lib

refactor: Improve partes persistence by sanitizing document types and handling conflicts
  src/features/captura/services/partes/services/persistence.service.ts
  src/features/partes/repositories/clientes-repository.ts
  src/features/partes/repositories/partes-contrarias-repository.ts
  src/features/partes/repositories/terceiros-repository.ts
Due: features

feat: Implement bulk activation and deactivation for credentials
  src/app/app/captura/credenciais/page-client.tsx
  src/features/advogados/actions/credenciais-actions.ts
  src/features/advogados/index.ts
  src/features/advogados/repository.ts
  src/features/advogados/service.ts
Due: features

feat: Force dynamic rendering for digital signature documents list page
  src/app/app/assinatura-digital/documentos/lista/page.tsx
Due: none

feat: Add refreshAcervoUnificado to refresh materialized view after persistence
  src/features/captura/services/persistence/acervo-persistence.service.ts
Due: features

feat: Implement multi-select TRT filtering for audiencias
  src/components/shared/week-navigator.tsx
  src/features/audiencias/components/audiencias-list-filters.tsx
  src/features/audiencias/components/audiencias-list-wrapper.tsx
  src/features/audiencias/domain.ts
  src/features/audiencias/repository.ts
  src/features/partes/components/shared/filter-popover-multi.tsx
Due: features, components

feat: Seed tipos_expedientes table with comprehensive list of proceeding types
  supabase/migrations/20260216140000_seed_tipos_expedientes.sql
Due: none

feat: Implement multi-select functionality for audience filters in month/year views
  src/features/audiencias/components/audiencias-month-wrapper.tsx
  src/features/audiencias/components/audiencias-year-wrapper.tsx
Due: features

refactor: Update column ID from 'responsavel' to 'responsavel_info'.
  src/features/audiencias/components/audiencias-list-columns.tsx
Due: features

refactor: Clean up authentication logs and comments, and simplify a component import path.
  src/app/app/assinatura-digital/documentos/lista/client-page.tsx
  src/lib/auth/api-auth.ts
Due: lib

chore: log more detailed error information in the chat presence hook.
  src/features/chat/hooks/use-chat-presence.ts
Due: features

chore: Update Copilot Cloud public API key.
  env.sh
Due: none
