Repository SinesysTech/diegobarbosa-os: changes, and which Codecov flags are due for each by the changed paths.
All: features, lib, components, hooks

feat: add advanced filters popover for Accounts Receivable to consolidate secondary financial filters.
  src/app/app/financeiro/contas-receber/page-client.tsx
  src/features/financeiro/components/index.ts
  src/features/financeiro/components/shared/filtros/index.ts
  src/features/financeiro/components/shared/filtros/mais-filtros-receber-popover.tsx
  src/features/financeiro/components/shared/index.ts
  src/features/financeiro/index.ts
Due: features

deps: update CopilotKit related packages to newer versions.
  package-lock.json
  package.json
Due: none

feat: Implement migration to populate `nivel` and `aceita_lancamento` in `plano_contas` and add related utility scripts.
  scripts/check-aceita-lancamento.ts
  scripts/debug-plano-contas.ts
  scripts/migrate-plano-contas-nivel.ts
  scripts/test-api-plano-contas.ts
  supabase/migrations/20260214000000_populate_plano_contas_nivel.sql
Due: none

feat: Implement semantic badge variants for folha and salário statuses, applying them in relevant RH components.
  src/app/app/financeiro/dre/page-client.tsx
  src/app/app/financeiro/dre/page.tsx
  src/features/chat/components/incoming-call-dialog.tsx
  src/features/processos/components/processo-tags-dialog.tsx
  src/features/rh/components/folhas-pagamento/folha-detalhes.tsx
  src/features/rh/components/salarios/salarios-list.tsx
  src/features/usuarios/components/list/usuarios-grid-view.tsx
  src/features/usuarios/components/shared/usuario-card.tsx
  src/features/usuarios/components/usuarios-page-content.tsx
  src/lib/design-system/variants.ts
Due: features, lib

feat: Rebrand design system to Sinesys 2.0, overhaul the color system and design philosophy, and add dashboard page documentation.
  docs/design-system/MASTER.md
  docs/design-system/pages/DASHBOARD.md
  docs/internal/design-system/MASTER.md
  docs/internal/design-system/pages/DASHBOARD.md
Due: none

fix: Enforce UTF-8 encoding for stdout/stderr to support emojis on Windows.
  .agent/skills/ui-ux-pro-max/scripts/__pycache__/core.cpython-314.pyc
  .agent/skills/ui-ux-pro-max/scripts/__pycache__/design_system.cpython-314.pyc
  .agent/skills/ui-ux-pro-max/scripts/search.py
Due: none

feat: add comprehensive design system master file defining global rules, component specifications, and style guidelines.
  upstream_master_md.tmp
Due: none

docs: Add critical design rules for components and patterns, and update .dockerignore to include architecture scripts.
  .dockerignore
  docs/design-system/MASTER.md
Due: none

chore: Add `--webpack` flag to the `build:ci` script.
  package.json
Due: none

feat: Enhance data table columns with meta properties and tooltips, refactor salary list dialogs, and remove obsolete RH tabs component.
  src/app/app/captura/components/credenciais/credenciais-columns.tsx
  src/app/app/captura/components/credenciais/credenciais-dialog.tsx
  src/app/app/captura/components/tribunais/tribunais-columns.tsx
  src/app/app/captura/components/tribunais/tribunais-dialog.tsx
  src/app/app/captura/credenciais/page-client.tsx
  src/app/app/captura/tribunais/page-client.tsx
  src/app/app/rh/folhas-pagamento/page.tsx
  src/app/app/rh/page.tsx
  src/app/app/rh/salarios/page.tsx
  src/features/rh/components/folhas-pagamento/folhas-list.tsx
  src/features/rh/components/index.ts
  src/features/rh/components/rh-tabs-content.tsx
  src/features/rh/components/salarios/salarios-list.tsx
  src/features/rh/index.ts
  src/lib/design-system/variants.ts
Due: features, lib

docs: Clarify development attribution in NOTICE file.
  NOTICE
Due: none

commit
  .kiro/steering/create-db-functions.md
  .kiro/steering/create-migration.md
  .kiro/steering/create-rls-policies.md
  .kiro/steering/design-system-protocols.md
  .kiro/steering/postgres-sql-style-guide.md
  .kiro/steering/use-realtime.md
  .kiro/steering/writing-supabase-edge-functions.md
  package-lock.json
  package.json
  src/app/app/financeiro/dre/page-client.tsx
  src/components/ui/tabs.tsx
  src/features/rh/components/salarios/salarios-list.tsx
Due: features, components

fix: Update type annotations and refactor resizable panel imports
  .vscode/settings.json
  src/app/app/assinatura-digital/feature/components/editor/components/EditorCanvas.tsx
  src/app/app/financeiro/orcamentos/client-page.tsx
  src/components/ui/resizable.tsx
Due: components

fix(ui): Refactor resizable panel imports and fix canvas ref type annotation
  src/app/app/assinatura-digital/feature/components/editor/PdfCanvasArea.tsx
  src/components/ui/resizable.tsx
Due: components

feat(rh): Reorganize navigation structure and enhance salary list UI
  src/components/layout/sidebar/app-sidebar.tsx
  src/features/rh/components/salarios/salarios-list.tsx
  tailwind.config.ts
Due: features, components

docs: Update design system protocols and specification documentation
  .cursor/rules/design-system-protocols.mdc
  .kiro/specs/assistentes-layout-improvement/requirements.md
  .kiro/specs/assistentes-layout-improvement/tasks.md
  .kiro/specs/padronizar-assinatura-digital/design.md
  .kiro/specs/padronizar-assinatura-digital/tasks.md
  src/components/shared/data-shell/data-table-toolbar.tsx
  src/components/shared/data-shell/data-table.tsx
  src/components/ui/checkbox.tsx
Due: components

chore(docker): Add Node.js version verification and Next.js cache directory setup
  Dockerfile
  start.sh
Due: none

chore: Add environment configuration and remove temporary documentation file
  env.sh
  upstream_master_md.tmp
Due: none

feat(env): Add runtime environment variable provider and context
  src/components/providers/env-provider.tsx
  src/lib/env-runtime.ts
Due: lib, components

docs: Add Cloudron rebuild documentation file
  CLOUDRON_REBUILD.md
Due: none

docs: Add comprehensive Cloudron rebuild guide for NEXT_PUBLIC variables
  CLOUDRON_REBUILD.md
  scripts/cloudron-build.sh
Due: none

chore(build): Add Cloudron build script with environment variable handling
  CLOUDRON_QUICKSTART.md
  scripts/cloudron-build.sh
Due: none

docs: Add Cloudron quick start guide with deployment and troubleshooting
  CLOUDRON_QUICKSTART.md
Due: none

chore: Add build ignore file for known non-blocking warnings
  .buildignore
Due: none

fix(twofauth): Remove trailing slashes from import paths
  src/app/api/twofauth/accounts/[id]/otp/route.ts
  src/app/api/twofauth/accounts/[id]/route.ts
  src/app/api/twofauth/accounts/route.ts
  src/app/api/twofauth/groups/[id]/route.ts
  src/app/api/twofauth/groups/route.ts
  src/app/api/twofauth/preferences/[name]/route.ts
  src/app/api/twofauth/preferences/route.ts
  src/app/api/twofauth/qrcode/[id]/route.ts
  src/app/api/twofauth/status/route.ts
  src/app/app/captura/components/advogados/advogados-columns.tsx
Due: none

feat: Add documentos lixeira improvements spec and update digital signature pages
  .kiro/specs/documentos-lixeira-improvements/design.md
  .kiro/specs/documentos-lixeira-improvements/requirements.md
  .kiro/specs/documentos-lixeira-improvements/tasks.md
  .kiro/specs/padronizar-assinatura-digital/tasks.md
  .kiro/specs/traducao-modulo-agenda/design.md
  .kiro/specs/traducao-modulo-agenda/requirements.md
  .kiro/specs/traducao-modulo-agenda/tasks.md
  src/app/app/assinatura-digital/formularios/client-page.tsx
  src/app/app/assinatura-digital/templates/client-page.tsx
  src/app/app/documentos/lixeira/page-client.tsx
  src/app/app/documentos/lixeira/page.tsx
  src/features/chat/hooks/use-chat-presence.ts
  src/features/partes/components/terceiros/terceiros-table-wrapper.tsx
  src/middleware/security-headers.ts
Due: features

refactor(twofauth): Reorganize imports to use modular subpaths
  src/app/api/twofauth/accounts/[id]/otp/route.ts
  src/app/api/twofauth/accounts/[id]/route.ts
  src/app/api/twofauth/accounts/route.ts
  src/app/api/twofauth/groups/[id]/route.ts
  src/app/api/twofauth/groups/route.ts
  src/app/api/twofauth/preferences/[name]/route.ts
  src/app/api/twofauth/preferences/route.ts
  src/app/api/twofauth/qrcode/[id]/route.ts
  src/app/api/twofauth/status/route.ts
  src/components/ui/tabs.tsx
Due: components

refactor(twofauth): Consolidate type imports to types module
  src/app/api/twofauth/accounts/[id]/route.ts
  src/app/api/twofauth/accounts/route.ts
  src/app/api/twofauth/groups/[id]/route.ts
  src/app/api/twofauth/groups/route.ts
  src/app/api/twofauth/preferences/[name]/route.ts
Due: none

refactor: dynamically import ApiReferenceReact component with SSR disabled.
  src/app/(ajuda)/ajuda/integracao/api/page.tsx
Due: none

chore: remove Docker build and push GitHub Actions workflow
  .github/workflows/docker-build-push.yml
Due: none

chore: Delete development-only design system and sandbox pages and components.
  src/app/(dev)/dev-design-system/page.tsx
  src/app/(dev)/sandbox/calendar/page.tsx
  src/app/(dev)/sandbox/components/page.tsx
  src/app/(dev)/sandbox/expedientes-calendar/adapters/expediente-to-event.adapter.ts
  src/app/(dev)/sandbox/expedientes-calendar/components/expediente-event-dialog-wrapper.tsx
  src/app/(dev)/sandbox/expedientes-calendar/components/expediente-event-dialog.tsx
  src/app/(dev)/sandbox/expedientes-calendar/components/expedientes-filters.tsx
  src/app/(dev)/sandbox/expedientes-calendar/contexts/expedientes-calendar-context.tsx
  src/app/(dev)/sandbox/expedientes-calendar/expedientes-calendar-header.tsx
  src/app/(dev)/sandbox/expedientes-calendar/expedientes-calendar-wrapper.tsx
  src/app/(dev)/sandbox/expedientes-calendar/expedientes-calendar.tsx
  src/app/(dev)/sandbox/expedientes-calendar/page.tsx
  src/app/(dev)/sandbox/expedientes-calendar/requests-expedientes.ts
  src/app/(dev)/sandbox/expedientes-calendar/translations.ts
Due: none

refactor: Remove unused imports and apply minor code improvements across the codebase.
  src/app/app/captura/advogados/page-client.tsx
  src/app/app/captura/components/advogados/credenciais-advogado-dialog.tsx
  src/app/app/financeiro/contas-receber/page-client.tsx
  src/app/app/financeiro/dre/page-client.tsx
  src/app/app/rh/page.tsx
  src/app/landing/components/header.tsx
  src/features/acervo/service.ts
  src/features/ai/services/storage-adapter.service.ts
  src/features/documentos/repositories/arquivos-repository.ts
  src/features/obrigacoes/components/table/columns.tsx
  src/features/rh/components/folhas-pagamento/folhas-list.tsx
Due: features

refactor: Clean up unused imports, optimize React hooks, and make minor component adjustments across the application.
  src/app/app/captura/advogados/page-client.tsx
  src/app/app/financeiro/contas-receber/page-client.tsx
  src/app/app/financeiro/dre/page-client.tsx
  src/app/app/rh/page.tsx
  src/components/shared/data-shell/data-table.tsx
  src/features/acervo/service.ts
  src/features/obrigacoes/components/table/columns.tsx
  src/features/rh/components/folhas-pagamento/folhas-list.tsx
Due: features, components

refactor: Rename `onOpenChange` to `onOpenChangeAction` and `onSuccess`/`onRefresh` to `onRefreshAction` in dialog components for naming consistency.
  src/app/app/captura/advogados/page-client.tsx
  src/app/app/captura/components/advogados/credenciais-advogado-dialog.tsx
Due: none

refactor: rename `onOpenChange` and `onSuccess` props to `onOpenChangeAction` and `onSuccessAction` in `AdvogadosDialog` component.
  src/app/app/captura/advogados/page-client.tsx
  src/app/app/captura/components/advogados/advogados-dialog.tsx
  src/app/app/captura/components/advogados/credenciais-advogado-dialog.tsx
Due: none

feat: Implement runtime public environment variable injection for client-side access.
  Dockerfile
  src/app/layout.tsx
  src/lib/env/public-env.ts
  src/lib/supabase/client.ts
Due: lib

chore: Add webpack configuration to disable `exprContextCritical`.
  next.config.mjs
  src/app/app/admin/metricas-db/page.tsx
  src/app/app/calendar/page.tsx
  src/app/app/configuracoes/page.tsx
Due: none

feat: Add Cloudron documentation and forum domains to allowed web fetch list.
  .claude/settings.local.json
  .gitignore
  env.sh.cloudron.example
  start.sh
Due: none

refactor: replace filter Select components with the new FilterPopover component across audiencias views.
  src/features/audiencias/components/audiencias-content.tsx
  src/features/audiencias/components/audiencias-list-filters.tsx
  src/features/audiencias/components/audiencias-table-wrapper.tsx
  src/features/audiencias/components/audiencias-year-wrapper.tsx
  src/features/expedientes/components/expedientes-calendar.tsx
  src/features/expedientes/components/expedientes-content.tsx
  src/features/expedientes/components/expedientes-table-wrapper.tsx
Due: features

Path conditions:
  features: any of: src/features/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  lib: any of: src/lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  components: any of: src/components/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  hooks: any of: src/hooks/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
