Repository SinesysTech/diegobarbosa-os: changes, and which Codecov flags are due for each by the changed paths.
All: features, lib, components, hooks

feat: add SignerDialog component for adding and editing signers with form validation
  src/app/app/assinatura-digital/feature/components/editor/FieldMappingEditor.tsx
  src/app/app/assinatura-digital/feature/components/editor/PdfCanvasArea.tsx
  src/app/app/assinatura-digital/feature/components/editor/__tests__/integration/field-signer-assignment.test.tsx
  src/app/app/assinatura-digital/feature/components/editor/__tests__/integration/floating-sidebar.test.tsx
  src/app/app/assinatura-digital/feature/components/editor/__tests__/unit/use-signers.test.ts
  src/app/app/assinatura-digital/feature/components/editor/components/EditorCanvas.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/FloatingSidebar.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/SignerDialog.tsx
  src/app/app/assinatura-digital/feature/components/editor/hooks/index.ts
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-palette-drag.ts
  src/app/app/assinatura-digital/feature/types/template.types.ts
Due: none

feat: Allow PWA to be explicitly disabled via an environment variable, particularly for CI builds.
  next.config.ts
  package.json
Due: none

feat: enhance FieldMappingEditor and related hooks to support initial signers and improve autosave functionality
  src/app/app/assinatura-digital/feature/components/editor/FieldMappingEditor.tsx
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-autosave.ts
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-signers.ts
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-template-loader.ts
  src/app/app/assinatura-digital/feature/types/template.types.ts
  src/features/usuarios/actions/avatar-actions.ts
Due: features

feat: add Revisar Documento page and improve document handling
  .claude/settings.local.json
  next.config.ts
  src/app/app/assinatura-digital/documentos/client-page.tsx
  src/app/app/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/documentos/editar/[uuid]/page.tsx
  src/app/app/assinatura-digital/documentos/novo/client-page.tsx
  src/app/app/assinatura-digital/documentos/novo/page.tsx
  src/app/app/assinatura-digital/documentos/revisar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/documentos/revisar/[uuid]/page.tsx
  src/app/app/assinatura-digital/feature/components/editor/FieldMappingEditor.tsx
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-signers.ts
  src/app/app/assinatura-digital/feature/index.ts
  src/app/expedientes/page.tsx
  src/components/layout/breadcrumb/app-breadcrumb.tsx
  src/features/expedientes/components/expedientes-content.tsx
  src/features/expedientes/components/expedientes-table-wrapper.tsx
  src/features/notificacoes/hooks/use-notificacoes.ts
Due: features, components

feat: enhance ExpedientesPage with loading fallback and update ExpedientesTableWrapper to sync filters from query params
  src/app/app/expedientes/lista/page.tsx
  src/app/app/expedientes/mes/page.tsx
  src/app/app/expedientes/page.tsx
  src/app/app/expedientes/semana/page.tsx
  src/features/expedientes/components/expedientes-table-wrapper.tsx
Due: features

refactor: Update `ParteContrariaPage` to asynchronously resolve `id` from `params`.
  src/app/app/partes/partes-contrarias/[id]/page.tsx
Due: none

refactor: remove AssinaturaFluxoForm component and update imports in index file
  src/app/app/assinatura-digital/feature/components/assinatura-fluxo-form.tsx
  src/app/app/assinatura-digital/feature/components/upload/components/upload-dropzone-area.tsx
  src/app/app/assinatura-digital/feature/index.ts
Due: none

refactor: enhance accessibility and dark mode support in various components
  src/app/app/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/documentos/novo/client-page.tsx
  src/app/app/assinatura-digital/feature/README.md
  src/app/app/assinatura-digital/feature/RULES.md
  src/app/app/assinatura-digital/feature/components/README.md
  src/app/app/assinatura-digital/feature/components/editor/components/FieldsList.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/FloatingSidebar.tsx
  src/app/app/assinatura-digital/feature/components/upload/components/file-type-indicators.tsx
  src/app/app/assinatura-digital/feature/components/upload/components/upload-context-panel.tsx
  src/app/app/assinatura-digital/feature/components/upload/components/upload-dropzone-area.tsx
  src/app/app/assinatura-digital/feature/components/workflow/components/desktop-stepper.tsx
  src/app/app/assinatura-digital/feature/components/workflow/components/mobile-progress.tsx
  src/app/app/usuarios/[id]/usuario-detalhes.tsx
  src/features/partes/actions/partes-form-actions.ts
Due: features

refactor: Update page components to asynchronously await route parameters and search parameters.
  src/app/app/partes/representantes/[id]/page.tsx
  src/app/app/partes/terceiros/[id]/page.tsx
  src/app/assinatura-digital/documentos/editar/[uuid]/page.tsx
  src/app/assinatura-digital/formularios/[id]/schema/page.tsx
  src/app/assinatura-digital/templates/[id]/edit/page.tsx
Due: none

refactor: update date formatting to use UTC to avoid timezone offset issues
  src/app/app/assinatura-digital/assinatura/page-client.tsx
  src/app/app/assinatura-digital/feature/utils/formatters.ts
  src/app/app/contratos/[id]/components/contrato-financeiro-card.tsx
  src/app/app/contratos/[id]/components/contrato-processos-card.tsx
  src/app/app/usuarios/[id]/usuario-detalhes.tsx
  src/features/contratos/utils/formatters.ts
  src/features/partes/utils/format.ts
  src/features/rh/components/folhas-pagamento/folhas-list.tsx
  src/features/usuarios/components/forms/usuario-dados-basicos.tsx
  src/lib/design-system/utils.ts
Due: features, lib

refactor: update color tokens for consistency and accessibility across components
  src/app/app/assinatura-digital/documentos/novo/client-page.tsx
  src/app/app/assinatura-digital/feature/components/upload/components/file-type-indicators.tsx
  src/app/app/assinatura-digital/feature/components/upload/components/upload-dropzone-area.tsx
  src/app/app/assistentes/[id]/page.tsx
  src/app/globals.css
Due: none

feat: enhance FloatingSidebar tests with additional field count and description checks, improve drag and drop functionality tests, and add responsiveness and accessibility tests
  src/app/app/assinatura-digital/feature/components/editor/__tests__/integration/floating-sidebar.test.tsx
  src/app/app/assinatura-digital/feature/components/upload/__tests__/document-upload-dropzone.test.tsx
  src/app/app/assinatura-digital/feature/components/workflow/__tests__/signature-workflow-stepper.test.tsx
Due: none

refactor: Make page components async and await the searchParams prop.
  src/app/assinatura-digital/documentos/lista/page.tsx
  src/app/partes/page.tsx
Due: none

feat: add Storybook stories for DocumentUploadDropzone component.
  src/app/app/assinatura-digital/feature/components/upload/document-upload-dropzone.stories.tsx
Due: none

feat: Add redirects to prepend `/app` to module routes using a new `APP_MODULES` constant.
  next.config.ts
Due: none

feat: introduce new components for digital signature document editing and upload, and add `@ag-ui/client` dependency.
  package-lock.json
  package.json
  src/app/app/assinatura-digital/documentos/editar/[uuid]/components/editor-page-layout.tsx
  src/app/app/assinatura-digital/feature/components/upload/components/upload-context-panel.tsx
  src/app/app/assinatura-digital/feature/components/upload/document-upload-dropzone.tsx
  type-check-output-2.txt
  type-check-output-3.txt
  type-check-output.txt
Due: none

refactor: Centralize `selectedField` state and refactor field manipulation logic into `useFieldSelection` and `useFieldDrag` hooks.
  src/app/app/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
Due: none

feat: Implement document upload within a dialog, enhance dropzone reusability, and refine document editing's data loading and field mapping.
  src/app/app/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/documentos/novo/client-page.tsx
  src/app/app/assinatura-digital/feature/components/upload/document-upload-dropzone.tsx
Due: none

chore: Remove temporary type-check output files.
  type-check-output-2.txt
  type-check-output-3.txt
  type-check-output.txt
Due: none

feat: Add cron job authentication utilities and a module for building and applying security HTTP headers.
  src/lib/cron/cron-auth.ts
  src/middleware/security-headers.ts
Due: lib

feat: Add `onEdit` and `isCurrentUser` props to `SignerCard`, update `onDelete` signature, and include `mode` prop in `AddSignerModal`.
  .env.build.example
  .gitignore
  next.config.ts
  scripts/docker-build-with-env.sh
  src/app/app/assinatura-digital/feature/components/editor/components/FloatingSidebar.tsx
Due: none

feat: Implement detailed FloatingSidebar with signer management, draggable signature field palette, and review/send action.
  src/app/app/assinatura-digital/feature/components/editor/components/FloatingSidebar.tsx
Due: none

feat: introduce document upload dropzone, audiencia detail sheet with editing, audiencia month day cell, and a B2 upload service.
  src/app/app/assinatura-digital/feature/components/upload/document-upload-dropzone.tsx
  src/app/app/assinatura-digital/feature/domain.ts
  src/features/audiencias/components/audiencia-detail-sheet.tsx
  src/features/audiencias/components/audiencias-month-day-cell.tsx
  src/features/documentos/services/b2-upload.service.ts
Due: features

feat: implement client-side document editor for digital signatures, enabling anchor placement and signer management.
  src/app/app/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/documentos/editar/[uuid]/components/editor-page-layout.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/FloatingSidebar.tsx
Due: none

feat: Implement core application layout with user menu, CopilotKit integration, and initial features for 'obrigacoes' and 'pericias'.
  src/app/app/layout.tsx
  src/components/layout/header/app-header.tsx
  src/components/layout/header/header-user-menu.tsx
  src/components/layout/sidebar/app-sidebar.tsx
  src/features/obrigacoes/components/parcelas/edit-parcela-dialog.tsx
  src/features/obrigacoes/domain.ts
  src/features/obrigacoes/repository.ts
  src/features/pericias/components/columns.tsx
  supabase/migrations/20260115150019_add_observacoes_and_quitacao_to_obrigacoes.sql
Due: features, components

feat: implement pericias feature by adding table column definitions and the main content component.
  src/features/pericias/components/columns.tsx
  src/features/pericias/components/pericias-content.tsx
Due: features

feat: Introduce calendar and digital signature features, new core UI components, and minor additions for chat and finance.
  package.json
  public/sw 2.js
  src/app/app/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/documentos/novo/client-page.tsx
  src/app/app/assinatura-digital/feature/__tests__/integration/new-workflow.integration.test.ts
  src/app/app/assinatura-digital/feature/components/editor/PdfCanvasArea.tsx
  src/app/app/assinatura-digital/feature/components/editor/__tests__/integration/field-mapping-editor.test.tsx
  src/app/app/assinatura-digital/feature/components/editor/__tests__/integration/field-signer-assignment.test.tsx
  src/app/app/assinatura-digital/feature/components/editor/__tests__/integration/floating-sidebar.test.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/FloatingSidebar.tsx
  src/app/app/calendar/components/agenda-view.tsx
  src/app/app/calendar/components/event-calendar.tsx
  src/app/app/calendar/components/event-dialog.tsx
  src/app/app/calendar/components/month-view.tsx
  src/app/app/calendar/components/week-view.tsx
  src/app/app/calendar/page.tsx
  src/app/app/layout.tsx
  src/app/assinatura-digital/documentos/editar/[uuid]/page.tsx
  src/app/assinatura-digital/documentos/lista/page.tsx
  src/app/assinatura-digital/documentos/novo/page.tsx
  src/app/assinatura-digital/documentos/page.tsx
  src/app/assinatura-digital/formularios/[id]/schema/page.tsx
  src/app/assinatura-digital/formularios/page.tsx
  src/app/assinatura-digital/page.tsx
  src/app/assinatura-digital/redirect-utils.ts
  src/app/assinatura-digital/templates/[id]/edit/page.tsx
  src/app/assinatura-digital/templates/page.tsx
  src/components/layout/header/header-user-menu.tsx
  src/components/layout/sidebar/app-sidebar.tsx
  src/components/shared/page-shell.tsx
  src/features/chat/components/chat-window.tsx
  src/features/financeiro/repository/obrigacoes.ts
Due: features, components

feat: Introduce Supabase database types, a PDF canvas editor for digital signatures, and a calendar week view component.
  src/app/app/assinatura-digital/feature/__tests__/integration/new-workflow.integration.test.tsx
  src/app/app/assinatura-digital/feature/components/editor/PdfCanvasArea.tsx
  src/app/app/calendar/components/week-view.tsx
  src/types/database.types.ts
  supabase/migrations/20260115150019_add_observacoes_and_quitacao_to_obrigacoes.sql
  supabase/migrations/20260115160000_create_membros_sala_chat.sql
Due: none

refactor: Update test script paths for assistentes and pangea features.
  package.json
Due: none

refactor: Extract client, counterparty, and third-party repositories, and add new user, Pangea, and Chatwoot related files.
  src/app/app/pangea/feature/actions/pangea-actions.ts
  src/features/chatwoot/service.ts
  src/features/partes/repositories/clientes-repository.ts
  src/features/partes/repositories/partes-contrarias-repository.ts
  src/features/partes/repositories/terceiros-repository.ts
  src/features/usuarios/index.ts
Due: features

feat: Add FileManager component for unified document and file management with sorting, search, and actions.
  src/features/documentos/components/file-manager.tsx
Due: features

feat: Implement client profile sidebar with completion progress and a dedicated document viewer.
  src/features/partes/components/clientes/cliente-documentos-viewer.tsx
  src/features/profiles/components/profile-layout/profile-sidebar.tsx
  src/features/profiles/configs/cliente-profile.config.ts
Due: features

feat: Implement a document upload hook with validation and increase Next.js server action body size limit to 50MB.
  next.config.ts
  src/app/app/assinatura-digital/feature/components/upload/hooks/use-document-upload.ts
Due: none

feat: Implement contract-specific document upload and management, including new domain models and a unified file upload dialog.
  src/app/app/contratos/[id]/components/contrato-documento-upload-dialog.tsx
  src/app/app/contratos/[id]/components/contrato-documentos-card.tsx
  src/features/documentos/components/file-upload-dialog-unified.tsx
  src/features/pecas-juridicas/actions/gerar-peca-actions.ts
  src/features/pecas-juridicas/actions/index.ts
  src/features/pecas-juridicas/components/contrato-documentos-list.tsx
  src/features/pecas-juridicas/domain.ts
  src/features/pecas-juridicas/repository.ts
  src/features/pecas-juridicas/service.ts
Due: features

feat: Add `cross-env` to build scripts, introduce a `build:windows` command, and adjust `max-old-space-size` for the default build.
  package.json
  public/fallback-ce627215c0e4a9af.js
Due: none

feat: introduce server actions for audiencias (hearings) management, covering CRUD operations, status updates, and client-based searches.
  src/features/audiencias/actions.ts
Due: features

feat: enhance audiencia management with edit functionality and loading state in forms
  src/features/audiencias/components/audiencia-form.tsx
  src/features/audiencias/components/audiencias-list-wrapper.tsx
Due: features

feat: implement GitLab CI/CD pipeline with Docker build and enhance error handling in dashboard data retrieval
  .gitlab-ci.yml
  GITLAB-CI-SETUP.md
  scripts/load-test/scenarios/smoke.js
  src/app/portal/audiencias/page.tsx
  src/app/portal/contratos/page.tsx
  src/app/portal/feature/components/cards/processo-timeline.tsx
  src/app/portal/feature/service.ts
  src/app/portal/feature/types.ts
  src/app/portal/pagamentos/page.tsx
  src/app/portal/processos/page.tsx
  src/features/pericias/actions/pericias-actions.ts
  tailwind.config.ts
Due: features

Path conditions:
  features: any of: src/features/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  lib: any of: src/lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  components: any of: src/components/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  hooks: any of: src/hooks/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
