Repository SinesysTech/diegobarbosa-os: changes, and which Codecov flags are due for each by the changed paths.
All: features, lib, components, hooks

feat: optimize type-check scripts with increased memory allocation
  package.json
  src/app/app/notas/notes-context.tsx
Due: none

feat(portal): Implement service to fetch client dashboard data including processes, contracts, audiences, and payments.
  src/app/portal/feature/service.ts
Due: none

feat: implement AgendamentosList component to display and manage capture schedules with execution, activation, and deletion capabilities.
  src/app/app/captura/components/agendamentos/agendamentos-list.tsx
Due: none

feat: add `DialogFormShell` component for responsive, multi-step form dialogs with customizable content and actions.
  src/components/shared/dialog-shell/dialog-form-shell.tsx
Due: components

refactor: Remove duplicate `editOpen` state and `Audiencia` edit dialog, and add `tar` dependency.
  package-lock.json
  package.json
  src/features/audiencias/components/audiencias-list-wrapper.tsx
Due: features

refactor: improve audiencias form state handling, remove unnecessary dialog descriptions and form field, and adjust dialog shell layout.
  src/components/shared/dialog-shell/dialog-form-shell.tsx
  src/features/audiencias/components/audiencia-detail-sheet.tsx
  src/features/audiencias/components/audiencia-form.tsx
  src/features/audiencias/components/audiencias-list-wrapper.tsx
  src/features/audiencias/components/audiencias-table-wrapper.tsx
Due: features, components

feat: Add audio recording to chat, introduce responsible client field with dedicated component, and refine media device handling with conditional enablement.
  src/app/app/partes/page.tsx
  src/components/layout/sidebar/app-sidebar.tsx
  src/features/chat/components/call-setup-dialog.tsx
  src/features/chat/components/chat-footer.tsx
  src/features/chat/components/chat-list-item.tsx
  src/features/chat/hooks/use-media-devices.ts
  src/features/partes/components/clientes/cliente-responsavel-cell.tsx
  src/features/partes/components/clientes/columns.tsx
  src/features/partes/domain.ts
  src/features/partes/repositories/clientes-repository.ts
Due: features, components

feat: Implement user fetching for the client table and include `responsavel_id` in client data conversion.
  package-lock.json
  package.json
  src/features/partes/components/clientes/clientes-table-wrapper.tsx
  src/features/partes/repositories/shared/converters.ts
Due: features

feat: Make `params` optional in `actionListarUsuarios` by providing a default empty object.
  src/features/usuarios/actions/usuarios-actions.ts
Due: features

fix: Correct user data extraction in `clientes-table-wrapper` and remove build memory and analysis utility scripts.
  scripts/check-build-memory.sh
  scripts/deprecated/CATEGORIZACAO-COMPLETA.md
  scripts/deprecated/REORGANIZACAO.md
  scripts/deprecated/migrate-imports.js
  scripts/deprecated/test-chat-rls-fix.ts
  scripts/dev-tools/architecture/check-architecture-imports.js
  scripts/dev-tools/architecture/validate-architecture.ts
  scripts/dev-tools/architecture/validate-exports.ts
  scripts/dev-tools/build/analyze-build-performance.js
  scripts/dev-tools/build/generate-build-dashboard.js
  scripts/dev-tools/build/validate-build-cache.js
  scripts/dev-tools/build/validate-build-performance.js
  scripts/dev-tools/design/validate-design-system.ts
  scripts/dev-tools/pwa/check-pwa.js
  scripts/docker/docker-build-push.ps1
  scripts/docker/docker-build-with-env.sh
  scripts/docker/dockerhub-build-push.sh
  scripts/run-analyze.js
  scripts/run-build-debug-memory.js
  scripts/setup/setup-pdfjs.js
  src/features/partes/components/clientes/clientes-table-wrapper.tsx
Due: features

Adjust .dockerignore to explicitly include `scripts/dev-tools/` and `scripts/setup/` directories, and remove explicit inclusion of `scripts/check-architecture-imports.js`.
  .dockerignore
Due: none

commit
  src/app/app/partes/layout.tsx
  src/features/audiencias/components/audiencia-form.tsx
  src/features/partes/components/index.ts
  src/features/partes/components/partes-tabs-content.tsx
  src/features/partes/components/partes-tabs.tsx
  src/features/partes/index.ts
Due: features

feat: Implement comprehensive management for audiencias (hearings) including repository, forms, domain, and database structures, along with related type persistence and deduplication.
  src/components/shared/dialog-shell/dialog-form-shell.tsx
  src/features/audiencias/actions.ts
  src/features/audiencias/components/audiencia-form.tsx
  src/features/audiencias/domain.ts
  src/features/audiencias/hooks/use-tipos-audiencias.ts
  src/features/audiencias/repository.ts
  src/features/captura/services/persistence/tipo-audiencia-persistence.service.ts
  supabase/migrations/20260121130000_deduplicate_tipo_audiencia.sql
  supabase/schemas/19_audiencias_auxiliares.sql
Due: features, components

feat: Implement new features for expediente and audiencia management, including calendar integration and MCP tools.
  src/app/(dev)/sandbox/expedientes-calendar/adapters/expediente-to-event.adapter.ts
  src/components/calendar/day-cell.tsx
  src/features/audiencias/components/nova-audiencia-dialog.tsx
  src/features/calendar/service.ts
  src/features/captura/services/persistence/tipo-audiencia-persistence.service.ts
  src/features/expedientes/actions.ts
  src/features/expedientes/components/expedientes-baixar-dialog.tsx
  src/lib/mcp/registries/expedientes-tools.ts
Due: features, lib, components

responsavel audiencias
  src/features/audiencias/components/audiencias-alterar-responsavel-dialog.tsx
  src/features/audiencias/components/audiencias-dia-dialog.tsx
  src/features/audiencias/components/audiencias-list-columns.tsx
  src/features/audiencias/components/index.ts
Due: features

commit
  src/features/obrigacoes/components/dialogs/nova-obrigacao-dialog.tsx
Due: features

fix: Update database table names in processoExists and tipoAudienciaExists functions
  src/features/audiencias/repository.ts
Due: features

packege json
  package-lock.json
  package.json
Due: none

commit
  src/app/api/copilotkit/route.ts
  src/features/audiencias/components/audiencia-form.tsx
Due: features

deletar contratos
  src/app/app/contratos/[id]/components/contrato-detalhes-header.tsx
  src/features/contratos/actions/contratos-actions.ts
  src/features/contratos/actions/index.ts
  src/features/contratos/components/columns.tsx
  src/features/contratos/components/contrato-delete-dialog.tsx
  src/features/contratos/components/contratos-table-wrapper.tsx
  src/features/contratos/components/index.ts
  src/features/contratos/repository.ts
  src/features/contratos/service.ts
Due: features

commit
  src/features/contratos/index.ts
Due: none

feat: introduce document creation, editing, and review pages with layouts for the digital signature module.
  src/app/app/assinatura-digital/documentos/editar/[uuid]/components/editor-page-layout.tsx
  src/app/app/assinatura-digital/documentos/novo/client-page.tsx
  src/app/app/assinatura-digital/documentos/novo/components/upload-page-layout.tsx
  src/app/app/assinatura-digital/documentos/revisar/[uuid]/client-page.tsx
Due: none

feat: Implement digital signature document editor with drag-and-drop field placement, signer management, and associated review pages.
  openspec/changes/refine-document-setup-layout/design.md
  openspec/changes/refine-document-setup-layout/proposal.md
  openspec/changes/refine-document-setup-layout/specs/ui-components/spec.md
  openspec/changes/refine-document-setup-layout/tasks.md
  src/app/app/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/documentos/editar/layout.tsx
  src/app/app/assinatura-digital/documentos/revisar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/FloatingSidebar.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/ProTip.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/SectionHeader.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/SignerCard.tsx
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-document-editor.ts
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-field-selection.ts
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-palette-drag.ts
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-signers.ts
  src/app/app/assinatura-digital/feature/components/public/steps/ReviewDocumentStep.tsx
Due: none

feat: implement digital signature document editor with signer management and draggable signature fields
  src/app/app/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/FloatingSidebar.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/SignerCard.tsx
Due: none

feat: Implement Sinesys Design System foundation with global styles, application sidebar, and digital signature document editing page.
  src/app/app/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/app/captura/page.tsx
  src/app/globals.css
  src/components/layout/sidebar/app-sidebar.tsx
  src/features/captura/index.ts
Due: components

chore: Update CopilotKit MCP command to use `cmd /c` for `npx` execution.
  .mcp.json
Due: none

feat: Initialize client portal with core layout, shared UI components, and dedicated design system documentation.
  design-system/zattar-advogados/pages/PORTAL.md
  src/app/app/layout.tsx
  src/components/shared/page-shell.tsx
  src/components/ui/card.tsx
Due: components

chore: Remove debug console logs from notifications hook and refine login form image styling.
  src/components/auth/login-form.tsx
  src/features/notificacoes/hooks/use-notificacoes.ts
Due: features, components

feat: Refactor sidebar navigation with nested menus, simplify dashboard and financeiro pages, and streamline client table data handling.
  src/app/app/dashboard/contratos/page.tsx
  src/app/app/dashboard/geral/page.tsx
  src/app/app/financeiro/page.tsx
  src/components/layout/sidebar/app-sidebar.tsx
  src/features/partes/components/clientes/clientes-table-wrapper.tsx
  src/features/partes/components/clientes/columns.tsx
Due: features, components

refactor: remove dynamic scroll-based header styling and apply a fixed transparent background with blur.
  src/app/app/layout.tsx
Due: none

feat: implement semantic status colors, surface tokens, and fluid typography in the design system
  .claude/plan.md
  src/app/app/admin/metricas-db/components/disk-io-card.tsx
  src/app/app/admin/metricas-db/components/metricas-db-content.tsx
  src/app/app/admin/metricas-db/page.tsx
  src/app/app/financeiro/dre/page.tsx
  src/app/app/financeiro/orcamentos/[id]/analise/page.tsx
  src/app/app/tarefas/components/data-table-faceted-filter.tsx
  src/app/app/tarefas/components/data-table-pagination.tsx
  src/app/app/tarefas/components/data-table-toolbar.tsx
  src/app/app/tarefas/components/data-table-view-options.tsx
  src/app/app/tarefas/components/data-table.tsx
  src/app/globals.css
  src/lib/design-system/index.ts
  src/lib/design-system/tokens.ts
Due: lib

refactor: enhance .env parsing in dockerhub-build-push.sh to robustly handle special characters and quotes.
  scripts/docker/dockerhub-build-push.sh
Due: none

feat: Add explicit background styles to input fields and remove the sign-up link from the login form.
  src/components/auth/login-form.tsx
Due: components

feat: Implement digital signature document creation, editing, and review workflow.
  next.config.ts
  src/app/app/assinatura-digital/documentos/components/signature-flow-shell.tsx
  src/app/app/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/documentos/editar/[uuid]/components/editor-page-layout.tsx
  src/app/app/assinatura-digital/documentos/editar/[uuid]/page.tsx
  src/app/app/assinatura-digital/documentos/editar/layout.tsx
  src/app/app/assinatura-digital/documentos/novo/client-page.tsx
  src/app/app/assinatura-digital/documentos/novo/components/upload-page-layout.tsx
  src/app/app/assinatura-digital/documentos/novo/page.tsx
  src/app/app/assinatura-digital/documentos/revisar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/documentos/revisar/[uuid]/page.tsx
  src/app/app/assinatura-digital/feature/components/editor/components/FloatingSidebar.tsx
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-document-editor.ts
  src/app/app/layout.tsx
Due: none

chore: delete file
  build-output.txt
Due: none

Delete a file
  teste.md
Due: none

chore: remove teste.md
  teste.md
Due: none

chore: delete teste.md
  teste.md
Due: none

feat: Implement users list page with a Tanstack data table for displaying user information.
  users/data-table.tsx
  users/data.json
  users/page.tsx
Due: none

Path conditions:
  features: any of: src/features/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  lib: any of: src/lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  components: any of: src/components/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  hooks: any of: src/hooks/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
