Repository SinesysTech/diegobarbosa-os: changes, and which Codecov flags are due for each by the changed paths.
All: features, lib, components, hooks

feat: implement AI indexing control and cron job for document indexing
  .env.example
  .github/workflows/cron-indexacao.yml
  README.md
  src/app/api/cron/indexar-documentos/route.ts
  src/features/contratos/actions/contratos-actions.ts
  src/features/documentos/actions/uploads-actions.ts
  src/features/partes/repositories/clientes-repository.ts
  src/features/processos/actions/indexing-actions.ts
  src/features/processos/repository.ts
  src/lib/ai/__tests__/indexing.test.ts
  src/lib/ai/indexing.ts
  supabase/functions/indexar-documentos/index.ts
  supabase/migrations/20260109120000_create_documentos_pendentes_indexacao.sql
  tsconfig.test.json
  vercel.json
Due: features, lib

feat: enhance document indexing with error handling and text extraction retries
  src/app/api/cron/indexar-documentos/route.ts
  src/features/documentos/actions/uploads-actions.ts
  src/features/processos/actions/indexing-actions.ts
  supabase/functions/indexar-documentos/index.ts
  supabase/migrations/20260109150000_add_missing_indexes_disk_io_optimization.sql
Due: features

feat: implement Disk I/O optimizations with Redis caching and materialized views
  DISK_IO_OPTIMIZATION.md
  src/app/api/cron/refresh-chat-view/route.ts
  src/features/notificacoes/actions/notificacoes-actions.ts
  src/features/notificacoes/hooks/use-notificacoes.ts
  src/features/notificacoes/service.ts
  src/lib/redis/cache-utils.ts
  src/lib/redis/invalidation.ts
  supabase/migrations/20260110000000_create_mensagens_chat_materialized_view.sql
  vercel.json
Due: features, lib

feat: optimize chat and notification handling with reduced Disk I/O and user-specific caching
  src/features/chat/hooks/use-chat-subscription.ts
  src/features/notificacoes/hooks/use-notificacoes.ts
  src/features/notificacoes/service.ts
  src/lib/redis/invalidation.ts
  tavros.html
Due: features, lib

feat: remove unused tavros.html file to streamline project structure
  tavros.html
Due: none

feat: add bloat diagnostic script and API route for monitoring table bloat
  package.json
  scripts/db/check-bloat.ts
  src/app/api/cron/vacuum-maintenance/route.ts
  supabase/migrations/20260110120000_configure_autovacuum_aggressive.sql
  supabase/migrations/20260110120001_create_vacuum_diagnostics_function.sql
Due: none

feat: Implement Disk I/O Optimization and Monitoring
  .github/workflows/vacuum-maintenance.yml
  .vscode/settings.json
  DISK_IO_OPTIMIZATION.md
  docs/DISK_IO_OPTIMIZATION.md
  src/app/api/cron/alertas-disk-io/route.ts
  src/app/api/cron/vacuum-maintenance/route.ts
  src/app/app/admin/metricas-db/components/metricas-db-content.tsx
  src/app/app/admin/metricas-db/page.tsx
  src/components/layout/sidebar/app-sidebar.tsx
  src/features/acervo/repository.ts
  src/features/admin/actions/metricas-actions.ts
  src/features/admin/repositories/metricas-db-repository.ts
  src/features/audiencias/repository.ts
  src/features/processos/repository.ts
  src/lib/auth/server.ts
  src/lib/redis/cache-utils.ts
  src/lib/supabase/query-logger.ts
  supabase/migrations/20260109123000_add_disk_io_metrics_functions.sql
  supabase/migrations/20260110120001_create_vacuum_diagnostics_function.sql
  vercel.json
Due: features, lib, components

feat: Refactor server actions and imports for better organization; introduce CSP nonce hook and server-only files
  __terminal_test.log
  src/app/app/acordos-condenacoes/[id]/editar/page.tsx
  src/app/app/acordos-condenacoes/[id]/page.tsx
  src/app/app/dashboard/hooks/use-dashboard-financeiro.ts
  src/app/app/financeiro/plano-contas/page-client.tsx
  src/features/financeiro/index.ts
  src/features/financeiro/server-actions.ts
  src/features/financeiro/server.ts
  src/features/obrigacoes/components/parcelas/integracao-financeira-section.tsx
  src/features/obrigacoes/index.ts
  src/features/obrigacoes/server-actions.ts
  src/features/obrigacoes/server.ts
  src/features/partes/actions.ts
  src/features/repasses/index.ts
  src/hooks/use-csp-nonce.tsx
  src/lib/redis/cache-utils.ts
  src/lib/redis/client.ts
  src/lib/redis/invalidation.ts
Due: features, lib, hooks

feat: Add cron job for capturing appointments and adjust component styles for better responsiveness
  .github/workflows/cron-captura-agendamentos.yml
  src/app/app/assinatura-digital/feature/components/cliente-autocomplete.tsx
  src/app/app/financeiro/plano-contas/page-client.tsx
Due: none

refactor: improve code structure and type safety across various modules
  cache-handler.js
  docs/DISK_IO_OPTIMIZATION.md
  next.config.ts
  scripts/database/diagnostico-disk-io.ts
  scripts/generate-build-dashboard.js
  src/app/api/cron/alertas-disk-io/route.ts
  src/app/api/cron/indexar-documentos/route.ts
  src/app/app/admin/metricas-db/avaliar-upgrade/components/avaliar-upgrade-content.tsx
  src/app/app/admin/metricas-db/components/metricas-db-content.tsx
  src/app/app/admin/metricas-db/page.tsx
  src/features/admin/__tests__/integration/metricas-actions.test.ts
  src/features/audiencias/repository.ts
  src/features/chat/hooks/use-chat-subscription.ts
  src/features/config-atribuicao/components/config-atribuicao-dialog.tsx
  src/features/contratos/actions/contratos-actions.ts
  src/features/documentos/actions/uploads-actions.ts
  src/features/pericias/service.ts
  src/features/rh/repository.ts
  src/features/usuarios/repository.ts
  src/lib/ai/__tests__/indexing.test.ts
  src/lib/supabase/query-logger.ts
Due: features, lib

feat: Integrate Disk IO Budget metrics and notifications; update cron jobs and environment variables
  .env.local
  .github/workflows/cron-captura-agendamentos.yml
  .github/workflows/cron-indexacao.yml
  .github/workflows/docker-build-deploy.yml
  .github/workflows/vacuum-maintenance.yml
  scripts/analyze-build-performance.js
  src/app/api/cron/alertas-disk-io/route.ts
  src/app/app/admin/metricas-db/components/disk-io-card.tsx
  src/features/admin/__tests__/integration/metricas-actions.test.ts
  src/features/admin/actions/upgrade-actions.ts
  src/hooks/use-csp-nonce.ts
  src/lib/supabase/management-api.ts
Due: features, lib, hooks

feat(cors): Add Vary: Origin header for improved cache correctness in CORS responses
  .claude/settings.local.json
  src/app/api/mcp/__tests__/cors.test.ts
  src/app/api/mcp/route.ts
  src/lib/__tests__/unit/urls.test.ts
  src/lib/cors/__tests__/config.test.ts
  src/lib/cors/config.ts
  src/lib/formatters.ts
  src/lib/urls.ts
Due: lib

feat: add rate limiting and IP blocking configuration; update integration test description
  .env.local
  src/features/obrigacoes/__tests__/integration/repasses-flow.integration.test.ts
Due: none

feat: add environment validation documentation for security features including rate limiting and IP blocking
  docs/security/ENVIRONMENT_VALIDATION_2026-01-11.md
Due: none

feat: add custom cache handler for production builds to enhance caching efficiency
  middleware.ts
  next.config.ts
  src/app/layout.tsx
  src/features/assistentes/service.ts
  src/features/enderecos/repository.ts
  src/features/financeiro/repository/lancamentos.ts
  src/features/obrigacoes/__tests__/unit/obrigacoes.repository.test.ts
  src/features/pangea/service.ts
  src/features/partes/repositories/clientes-repository.ts
  src/features/processos/repository.ts
  src/hooks/__tests__/use-auth-secure-logout.test.ts
  src/hooks/use-csp-nonce.tsx
  src/hooks/use-secure-storage.ts
  src/lib/csp/csp-nonce-meta.tsx
  src/lib/mcp/__tests__/rate-limit.test.ts
  src/lib/utils/secure-storage.ts
  src/middleware/__tests__/integration/ip-blocking-middleware.test.ts
Due: features, lib, hooks

feat: update cache handler with TypeScript definitions and improve query handling in LancamentosRepository
  .gitleaks.toml
  cache-handler.js
  src/features/financeiro/repository/lancamentos.ts
Due: features

feat: implement cache directory existence check and filename hashing for improved cache management
  cache-handler.js
Due: none

docs(security): add gitleaks cleanup report and recommendations
  GITLEAKS_SECURITY_CLEANUP.md
Due: none

refactor: migrate documentation from Sinesys to Gitleaks, updating installation, usage, and configuration details
  LICENSE
  README.md
Due: none

feat: add 'Pago' and 'Recebido' status to financial components and update related schemas
  src/app/app/financeiro/contas-pagar/[id]/page.tsx
  src/app/app/financeiro/contas-pagar/page.tsx
  src/app/app/financeiro/contas-receber/[id]/page.tsx
  src/app/app/financeiro/contas-receber/page-client.tsx
  src/features/busca/actions/busca-actions.ts
  src/features/financeiro/types/index.ts
  src/features/financeiro/types/lancamentos.ts
  src/features/partes/repositories/partes-contrarias-repository.ts
  src/features/partes/repositories/processo-partes-repository.ts
  src/features/processos/domain.ts
  src/features/processos/repository.ts
  src/features/processos/types/index.ts
Due: features

feat: enhance build performance analysis with Brotli compression and update bundle size thresholds
  .claude/settings.local.json
  .github/workflows/bundle-size.yml
  middleware.ts
  scripts/analyze-build-performance.js
  scripts/validate-build-performance.js
  src/lib/security/ip-blocking-edge.ts
  tsconfig.json
Due: lib

feat: enhance bundle size analysis by adding Gzip and Brotli size metrics
  .github/workflows/bundle-size.yml
  scripts/analyze-build-performance.js
  scripts/validate-build-performance.js
Due: none

feat: add OpenSpec instructions for AI assistants in AGENTS.md
  AGENTS.md
  README.md
Due: none

feat: add detailed logging for unauthorized access attempts in cron job
  openspec/changes/add-geracao-pecas-juridicas/design.md
  openspec/changes/add-geracao-pecas-juridicas/proposal.md
  openspec/changes/add-geracao-pecas-juridicas/specs/pecas-juridicas/spec.md
  openspec/changes/add-geracao-pecas-juridicas/tasks.md
  src/app/api/cron/executar-agendamentos/route.ts
Due: none

feat: add new placeholders and scenarios for legal document templates
  .claude/settings.local.json
  openspec/changes/add-geracao-pecas-juridicas/specs/pecas-juridicas/spec.md
Due: none

feat: implement server actions for legal document generation and management
  src/features/pecas-juridicas/actions/gerar-peca-actions.ts
  src/features/pecas-juridicas/actions/index.ts
  src/features/pecas-juridicas/actions/pecas-modelos-actions.ts
  src/features/pecas-juridicas/components/placeholder-node.tsx
  src/features/pecas-juridicas/index.ts
Due: features

feat: refactor authorization checks and add new components for document management
  src/app/api/admin/security/blocked-ips/route.ts
  src/features/admin/__tests__/integration/metricas-actions.test.ts
  src/features/admin/actions/metricas-actions.ts
  src/features/admin/actions/upgrade-actions.ts
  src/features/pecas-juridicas/components/contrato-documentos-list.tsx
  src/features/pecas-juridicas/components/gerar-peca-dialog.tsx
  src/features/pecas-juridicas/components/index.ts
  src/features/pecas-juridicas/components/placeholder-insert-menu.tsx
  src/features/pecas-juridicas/index.ts
Due: features

feat(calendar): integrate event fetching for calendar view
  .github/workflows/bundle-size.yml
  src/app/app/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/app/assinatura-digital/feature/components/assinatura-digital-tabs-content.tsx
  src/app/app/assinatura-digital/feature/components/editor/FieldMappingEditor.tsx
  src/app/app/assinatura-digital/feature/components/editor/hooks/use-unsaved-changes.ts
  src/app/app/assinatura-digital/formularios/[id]/schema/page.tsx
  src/app/app/assinatura-digital/templates/[id]/edit/page.tsx
  src/app/app/assinatura-digital/templates/page.tsx
  src/app/app/calendar/components/day-view.tsx
  src/app/app/calendar/components/event-calendar-app.tsx
  src/app/app/calendar/components/event-calendar.tsx
  src/app/app/calendar/components/event-dialog.tsx
  src/app/app/calendar/page.tsx
  src/app/app/contratos/page.tsx
  src/app/app/pecas-juridicas/page.tsx
  src/components/layout/sidebar/app-sidebar.tsx
  src/features/calendar/actions/calendar-actions.ts
  src/features/calendar/domain.ts
  src/features/calendar/index.ts
  src/features/calendar/service.ts
  src/features/chat/components/chat-bubbles.tsx
  src/features/chat/components/chat-window.tsx
  src/features/chat/hooks/use-chat-subscription.ts
  src/features/contratos/components/columns.tsx
  src/features/contratos/components/contrato-view-sheet.tsx
  src/features/contratos/components/contratos-table-wrapper.tsx
  src/features/obrigacoes/components/calendar/obrigacoes-calendar-month.tsx
  src/features/pecas-juridicas/actions/gerar-peca-actions.ts
  src/features/pecas-juridicas/actions/index.ts
  src/features/pecas-juridicas/actions/pecas-modelos-actions.ts
  src/features/pecas-juridicas/components/pecas-modelos-table-wrapper.tsx
  src/features/pecas-juridicas/index.ts
  src/features/pecas-juridicas/service.ts
  supabase/migrations/20260112120000_fix_realtime_mensagens_chat.sql
Due: features, components

feat: enhance pagination in findAllPecasModelos and findContratoDocumentosByContrato functions
  src/app/api/admin/security/blocked-ips/route.ts
  src/features/pecas-juridicas/actions/gerar-peca-actions.ts
  src/features/pecas-juridicas/components/gerar-peca-dialog.tsx
  src/features/pecas-juridicas/components/pecas-modelos-table-wrapper.tsx
  src/features/pecas-juridicas/repository.ts
Due: features

feat: replace Badge component with AppBadge in various components and improve type handling in event calendar
  src/app/app/calendar/components/event-calendar-app.tsx
  src/features/calendar/service.ts
  src/features/pecas-juridicas/actions/gerar-peca-actions.ts
  src/features/pecas-juridicas/components/contrato-documentos-list.tsx
  src/features/pecas-juridicas/components/gerar-peca-dialog.tsx
  src/features/pecas-juridicas/components/peca-modelo-form-sheet.tsx
  src/features/pecas-juridicas/components/pecas-modelos-table-wrapper.tsx
  src/features/pecas-juridicas/components/placeholder-insert-menu.tsx
  src/features/pecas-juridicas/components/placeholder-node.tsx
  src/features/pecas-juridicas/repository.ts
Due: features

feat: update Metrics API references and improve error messages in DiskIOCard and related functions
  src/app/app/admin/metricas-db/components/disk-io-card.tsx
  src/app/app/admin/metricas-db/page.tsx
  src/features/admin/__tests__/integration/metricas-actions.test.ts
  src/features/admin/actions/metricas-actions.ts
  src/features/partes/components/clientes/columns.tsx
  src/features/partes/repositories/clientes-repository.ts
  src/features/pecas-juridicas/components/placeholder-node.tsx
  src/features/processos/__tests__/unit/processos.repository.test.ts
  src/features/processos/domain.ts
  src/features/processos/repository.ts
  src/lib/supabase/management-api.ts
Due: features, lib

feat: implement AssistentesCatchAllRedirectPage and enhance navigation actions for assistentes
  src/app/assistentes/[...path]/page.tsx
  src/app/assistentes/page.tsx
  src/features/partes/components/clientes/clientes-table-wrapper.tsx
  src/lib/copilotkit/actions/navegacao.actions.ts
  src/lib/copilotkit/actions/types.ts
Due: features, lib

feat: refactor ClienteComProcessos type and enhance data normalization functions
  src/features/partes/components/clientes/columns.tsx
  src/features/partes/repositories/clientes-repository.ts
Due: features

feat: remove schedule triggers from workflow files for manual execution only
  .github/workflows/bundle-size.yml
  .github/workflows/cron-captura-agendamentos.yml
  .github/workflows/cron-indexacao.yml
  .github/workflows/docker-build-deploy.yml
  .github/workflows/tests.yml
  .github/workflows/vacuum-maintenance.yml
Due: none

feat: add catch-all redirect pages for various routes and enhance client columns with email handling
  src/app/acordos-condenacoes/[...path]/page.tsx
  src/app/acordos-condenacoes/page.tsx
  src/app/captura/[...path]/page.tsx
  src/app/captura/page.tsx
  src/app/chat/[...path]/page.tsx
  src/app/chat/page.tsx
  src/app/contratos/[...path]/page.tsx
  src/app/contratos/page.tsx
  src/app/documentos/[...path]/page.tsx
  src/app/documentos/page.tsx
  src/app/financeiro/[...path]/page.tsx
  src/app/financeiro/page.tsx
  src/app/notificacoes/[...path]/page.tsx
  src/app/notificacoes/page.tsx
  src/app/partes/[...path]/page.tsx
  src/app/partes/page.tsx
  src/app/perfil/[...path]/page.tsx
  src/app/perfil/page.tsx
  src/app/pericias/[...path]/page.tsx
  src/app/pericias/page.tsx
  src/app/processos/[...path]/page.tsx
  src/app/processos/page.tsx
  src/app/rh/[...path]/page.tsx
  src/app/rh/page.tsx
  src/app/usuarios/[...path]/page.tsx
  src/app/usuarios/page.tsx
  src/features/partes/components/clientes/columns.tsx
Due: features

feat: implement loading state for TerceirosPage with Skeleton components
  src/app/app/partes/clientes/page.tsx
  src/app/app/partes/partes-contrarias/page.tsx
  src/app/app/partes/representantes/page.tsx
  src/app/app/partes/terceiros/page-client.tsx
  src/app/app/partes/terceiros/page.tsx
  src/app/layout-client.tsx
  src/app/partes/page.tsx
Due: none

feat: remove scheduled workflows for cron jobs and Docker deployment
  .env.example
  .github/workflows/bundle-size.yml
  .github/workflows/cron-captura-agendamentos.yml
  .github/workflows/cron-indexacao.yml
  .github/workflows/docker-build-deploy.yml
  .github/workflows/tests.yml
  .github/workflows/vacuum-maintenance.yml
  docs/cronicle-caprover.md
  src/app/api/cron/alertas-disk-io/route.ts
  src/app/api/cron/executar-agendamentos/route.ts
  src/app/api/cron/indexar-documentos/route.ts
  src/app/api/cron/refresh-chat-view/route.ts
  src/app/api/cron/vacuum-maintenance/route.ts
  src/app/api/cron/verificar-prazos/route.ts
  src/lib/cron/cron-auth.ts
Due: lib

feat: update Skeleton component heights for ContasReceberLoading
  .claude/settings.local.json
  src/app/app/financeiro/contas-receber/page.tsx
Due: none

feat: add detailed contract page design with tab navigation and data flow
  openspec/changes/add-contrato-detail-page/design.md
Due: none

Path conditions:
  features: any of: src/features/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  lib: any of: src/lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  components: any of: src/components/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  hooks: any of: src/hooks/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
