Repository SinesysTech/diegobarbosa-os: changes, and which Codecov flags are due for each by the changed paths.
All: features, lib, components, hooks

chore: update README and test files to reflect repository ownership change to SinesysTech, improving clarity and consistency in documentation and tests
  README.md
  src/lib/__tests__/unit/pwa-utils.test.ts
Due: none

feat: implement Suspense and Skeleton components in Finance Dashboard for improved loading states, enhancing user experience during data fetching
  public/fallback-ce627215c0e4a9af.js
  src/app/(dashboard)/dashboard/financeiro/page.tsx
  src/app/(dashboard)/financeiro/page.tsx
Due: none

feat: optimize event dialog and events popup components with improved state management and performance enhancements, including batching updates and using requestAnimationFrame for smoother rendering
  src/app/(dashboard)/calendar/components/event-dialog.tsx
  src/app/(dashboard)/calendar/components/events-popup.tsx
  src/features/assinatura-digital/components/editor/FieldMappingEditor.tsx
  src/features/assinatura-digital/components/editor/hooks/use-field-selection.ts
  src/features/assinatura-digital/components/editor/hooks/use-unsaved-changes.ts
  src/features/assinatura-digital/components/editor/index.ts
Due: features

feat: integrate ClientOnly component in charts and file manager for improved rendering, and update tsconfig to include test file patterns for better test management
  public/fallback-ce627215c0e4a9af.js
  src/app/(dashboard)/financeiro/dre/page.tsx
  src/components/ui/chart.tsx
  src/features/documentos/components/file-manager.tsx
  src/features/documentos/repositories/pastas-repository.ts
  src/features/documentos/repositories/shared/query-builders.ts
  tsconfig.json
Due: features, components

chore: Remove PWA fallback script and add dependency overrides to package.json.
  package-lock.json
  package.json
  public/fallback-ce627215c0e4a9af.js
Due: none

feat: enhance notifications component by adding refetch functionality for real-time updates, improving user experience with timely notification retrieval
  src/components/layout/header/notifications.tsx
Due: components

feat: adjust SVG logo dimensions, update login form, and introduce a new fallback script.
  public/fallback-ce627215c0e4a9af.js
  public/logos/logomarca-light.svg
  src/app/auth/components/login-form.tsx
Due: none

feat: implement notification system with real-time updates, user interface enhancements, and cron job for deadline notifications, including comprehensive documentation and unit tests
  build-output.log
  docs/notificacoes-setup.md
  openspec/changes/add-notification-system/tasks.md
  openspec/changes/add-todo-list-module/tasks.md
  src/app/(dashboard)/assinatura-digital/documentos/client-page.tsx
  src/app/(dashboard)/notificacoes/page.tsx
  src/app/(dashboard)/todo/components/todo-list.tsx
  src/app/(dashboard)/todo/enum.ts
  src/app/(dashboard)/todo/index.ts
  src/app/api/cron/verificar-prazos/route.ts
  src/components/layout/sidebar/app-sidebar.tsx
  src/components/shared/custom-date-range-picker.tsx
  src/features/dashboard/components/dashboard-header-shell.tsx
  src/features/notificacoes/__tests__/actions/notificacoes-actions.test.ts
  src/features/notificacoes/__tests__/unit/notificacoes.service.test.ts
  src/features/notificacoes/components/notificacoes-list.tsx
  src/features/notificacoes/hooks/use-notificacoes.ts
  src/features/notificacoes/index.ts
  supabase/schemas/50_notificacoes_functions.sql
Due: features, components

refactor: improve notification service and list components by updating state management and error handling for better reliability
  src/features/notificacoes/components/notificacoes-list.tsx
  src/features/notificacoes/service.ts
Due: features

style: Remove top padding from login form card.
  src/app/auth/components/login-form.tsx
Due: none

feat: Adjust card and header padding in login form for a more compact layout
  src/app/auth/components/login-form.tsx
Due: none

feat: Integrate and test the notifications component, refactor notification service test mocks, and adjust dashboard header layout.
  openspec/changes/add-notification-system/tasks.md
  src/app/(dashboard)/dashboard/contratos/page.tsx
  src/app/(dashboard)/dashboard/geral/page.tsx
  src/app/(dashboard)/layout.tsx
  src/components/layout/header/__tests__/notifications.test.tsx
  src/features/notificacoes/__tests__/unit/notificacoes.service.test.ts
Due: none

fix: Prevent state updates on unmounted components and correct import paths in tests and service.
  src/components/layout/header/__tests__/notifications.test.tsx
  src/features/notificacoes/__tests__/unit/notificacoes.service.test.ts
  src/features/notificacoes/hooks/use-notificacoes.ts
Due: features

feat(dashboard): adicionar módulo e funcionalidades de lembretes
  .claude/settings.local.json
  .mcp.json
  scripts/tsconfig.json
  src/app/(dashboard)/dashboard/README.md
  src/app/(dashboard)/dashboard/actions/index.ts
  src/app/(dashboard)/dashboard/actions/lembretes-actions.ts
  src/app/(dashboard)/dashboard/components/dashboard-header-shell.tsx
  src/app/(dashboard)/dashboard/components/index.ts
  src/app/(dashboard)/dashboard/contratos/page.tsx
  src/app/(dashboard)/dashboard/domain.ts
  src/app/(dashboard)/dashboard/geral/components/add-reminder-dialog.tsx
  src/app/(dashboard)/dashboard/geral/page.tsx
  src/app/(dashboard)/dashboard/hooks/index.ts
  src/app/(dashboard)/dashboard/hooks/use-reminders.ts
  src/app/(dashboard)/dashboard/index.ts
  src/app/(dashboard)/dashboard/layout.tsx
  src/app/(dashboard)/dashboard/repositories/index.ts
  src/app/(dashboard)/dashboard/repositories/lembretes-repository.ts
  src/app/(dashboard)/dashboard/services/lembretes-service.ts
  src/app/(dashboard)/todo/components/add-todo-sheet.tsx
  src/app/(dashboard)/todo/components/todo-list.tsx
  src/app/(dashboard)/todo/tasks.tsx
  src/components/theme-customizer/content-layout-selector.tsx
  src/components/theme-customizer/preset-selector.tsx
  src/components/theme-customizer/radius-selector.tsx
  src/components/theme-customizer/reset-theme.tsx
  src/components/theme-customizer/scale-selector.tsx
  src/components/ui/select.tsx
  tsconfig.json
Due: components

refactor(auth): substituir getCurrentUser por novo método de autenticação com Supabase
  src/app/(dashboard)/dashboard/actions/lembretes-actions.ts
  src/app/(dashboard)/dashboard/contratos/page.tsx
  src/app/(dashboard)/dashboard/financeiro/page.tsx
  src/app/(dashboard)/dashboard/geral/components/chat-widget.tsx
  src/app/(dashboard)/dashboard/geral/components/reminders.tsx
  src/app/(dashboard)/dashboard/geral/page.tsx
  src/app/(dashboard)/layout.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/components/layout/theme/active-theme.tsx
  src/lib/themes.ts
Due: lib, components

refactor: update lembretes actions to use new error handling structure and data retrieval methods
  src/app/(dashboard)/dashboard/actions/lembretes-actions.ts
  src/app/(dashboard)/todo/components/status-tabs.tsx
  src/app/(dashboard)/todo/components/todo-detail-sheet.tsx
  src/app/(dashboard)/todo/components/todo-item.tsx
  src/app/(dashboard)/todo/index.ts
  src/app/(dashboard)/todo/repository.ts
  src/app/(dashboard)/todo/types.ts
  src/components/ui/chart.tsx
  src/components/ui/custom/minimal-tiptap/components/bubble-menu/link-bubble-menu.tsx
  src/features/assinatura-digital/services/signature/storage-ops.service.ts
  src/features/financeiro/hooks/use-contas-receber.ts
  src/features/notificacoes/actions/notificacoes-actions.ts
  src/features/notificacoes/components/notificacoes-list.tsx
  src/features/notificacoes/domain.ts
  src/features/notificacoes/hooks/use-notificacoes.ts
  src/features/processos/hooks/use-processos.ts
  src/features/usuarios/hooks/use-usuarios.ts
  src/hooks/use-notifications.tsx
  src/hooks/use-render-count.ts
Due: features, components, hooks

feat: add comprehensive analysis documents for feature migration status and recommendations
  AGENTS.md
  ANALYSIS_SUMMARY.txt
  FEATURES_ANALYSIS.txt
  FEATURES_DETAILED.txt
  FEATURES_QUICK_REFERENCE.txt
  README_ANALYSIS.txt
  src/app/(dashboard)/dashboard/hooks/use-dashboard.ts
  src/app/(dashboard)/notificacoes/page.tsx
  src/components/layout/sidebar/app-sidebar.tsx
  src/components/layout/sidebar/nav-user.tsx
  src/features/notificacoes/hooks/use-notificacoes.ts
  src/features/processos/hooks/use-processos.ts
Due: features, components

refactor(dashboard): update TotalCustomersCard to fetch and display summary data
  ANALISE_FEATURES_MODERNAS.txt
  src/app/(dashboard)/assinatura-digital/documentos/client-page.tsx
  src/app/(dashboard)/calendar/components/event-dialog.tsx
  src/app/(dashboard)/dashboard/geral/components/chat-widget.tsx
  src/app/(dashboard)/dashboard/geral/components/total-customers.tsx
  src/app/(dashboard)/dashboard/geral/page.tsx
  src/app/(dashboard)/dashboard/hooks/use-dashboard.ts
  src/app/(dashboard)/dashboard/hooks/use-reminders.ts
  src/app/(dashboard)/dashboard/repositories/expedientes-metrics.ts
  src/app/(dashboard)/dashboard/repositories/lembretes-repository.ts
  src/app/(dashboard)/notas/service.ts
  src/app/(dashboard)/notificacoes/page.tsx
  src/app/assinatura/[token]/page-client.tsx
  src/components/layout/header/notifications.tsx
  src/components/layout/header/theme-switch.tsx
  src/components/layout/sidebar/app-sidebar.tsx
  src/features/assinatura-digital/actions/documentos-actions.ts
  src/features/assinatura-digital/actions/index.ts
  src/features/assinatura-digital/actions/templates-actions.ts
  src/features/assinatura-digital/domain.ts
  src/features/assinatura-digital/index.ts
  src/features/notificacoes/components/notificacoes-list.tsx
  src/features/notificacoes/hooks/use-notificacoes.ts
  src/features/processos/hooks/use-processos.ts
  src/hooks/use-render-count.ts
Due: features, components, hooks

feat(assinatura-digital): finalizar implementação da change proposal add-formsign-pdf-upload-links
  openspec/changes/add-formsign-pdf-upload-links/formsign-admin/spec.md
  openspec/changes/add-formsign-pdf-upload-links/formsign-signature/spec.md
  src/features/assinatura-digital/README.md
  src/features/assinatura-digital/__tests__/e2e/documento-flow.spec.ts
Due: features

refactor: clean up imports and variable names across multiple files
  public/logos/logomarca-light.svg
  src/app/auth/components/login-form.tsx
  src/features/assinatura-digital/components/editor/FieldMappingEditor.tsx
  src/features/assinatura-digital/components/editor/components/CreateModePanel.tsx
  src/features/assinatura-digital/components/editor/components/FieldsList.tsx
  src/features/assinatura-digital/components/editor/hooks/use-field-operations.ts
  src/features/assinatura-digital/components/editor/hooks/use-pdf-operations.ts
  src/features/assinatura-digital/components/editor/hooks/use-template-loader.ts
  src/features/audiencias/__tests__/e2e/audiencia-agendamento-flow.spec.ts
  src/features/audiencias/__tests__/e2e/audiencia-crud-flow.spec.ts
  src/features/calendar/components/event-dialog.tsx
  src/features/calendar/components/month-view.tsx
  src/features/captura/__tests__/unit/tribunal-config-persistence.test.ts
  src/features/captura/services/partes/utils/validators.ts
  src/features/documentos/__tests__/actions/pastas-actions.test.ts
  src/features/documentos/components/file-manager.tsx
  src/features/enderecos/__tests__/integration/enderecos-flow.test.ts
  src/features/enderecos/__tests__/unit/enderecos.repository.test.ts
  src/features/financeiro/__tests__/actions/obrigacoes-actions.test.ts
  src/features/financeiro/__tests__/e2e/lancamento-crud-flow.spec.ts
  src/features/financeiro/__tests__/unit/lancamentos.repository.test.ts
  src/features/notificacoes/__tests__/actions/notificacoes-actions.test.ts
  src/features/notificacoes/__tests__/unit/notificacoes.service.test.ts
  src/features/notificacoes/actions/notificacoes-actions.ts
  src/features/notificacoes/hooks/use-notificacoes.ts
  src/features/notificacoes/repository.ts
  src/features/obrigacoes/__tests__/e2e/acordo-crud-flow.spec.ts
  src/features/obrigacoes/__tests__/e2e/parcelas-flow.spec.ts
  src/features/pangea/__tests__/unit/pangea.domain.test.ts
  src/features/partes/__tests__/unit/clientes-repository.test.ts
  src/features/partes/__tests__/unit/partes-contrarias-repository.test.ts
  src/features/partes/__tests__/unit/terceiros-repository.test.ts
  src/features/processos/__tests__/actions/indexing-actions.test.ts
  src/features/usuarios/hooks/__tests__/use-pode.test.ts
  src/hooks/__tests__/use-async.test.ts
  src/hooks/use-render-count.ts
  src/lib/__tests__/integration/auth-authorization.test.ts
  src/testing/helpers/responsive-test-helpers.ts
Due: features, hooks

feat(notificacoes): add comprehensive rules and troubleshooting guide for notifications module
  src/app/(dashboard)/dashboard/contratos/components/recent-contracts.tsx
  src/app/(dashboard)/dashboard/geral/components/add-reminder-dialog.tsx
  src/app/(dashboard)/dashboard/geral/components/chat-widget.tsx
  src/app/(dashboard)/dashboard/geral/components/leads.tsx
  src/app/(dashboard)/dashboard/geral/components/recent-tasks-client.tsx
  src/app/(dashboard)/dashboard/geral/components/reminders.tsx
  src/app/(dashboard)/dashboard/geral/components/table-recent-projects.tsx
  src/app/assinatura/[token]/page-client.tsx
  src/features/calendar/components/month-view.tsx
  src/features/notificacoes/RULES.md
  src/features/notificacoes/hooks/use-notificacoes.ts
  supabase/migrations/20260105151305_fix_notificacoes_realtime_rls.sql
Due: features

feat(notificacoes): Improve Realtime subscription stability
  src/components/layout/header/__tests__/notifications.test.tsx
  src/components/layout/header/notifications.tsx
  src/features/assinatura-digital/actions/documentos-actions.ts
  src/features/assinatura-digital/actions/templates-actions.ts
  src/features/notificacoes/__tests__/hooks/use-notificacoes-realtime.test.ts
  src/features/notificacoes/hooks/use-notificacoes.ts
  src/hooks/use-render-count.ts
  supabase/migrations/20260105160000_add_notificacoes_replica_identity_full.sql
Due: features, components, hooks

feat(notificacoes): enhance polling mechanism with retry logic and state verification
  .claude/settings.local.json
  .gitignore
  package.json
  scripts/setup-pdfjs.js
  src/app/(dashboard)/assinatura-digital/documentos/client-page.tsx
  src/app/(dashboard)/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/(dashboard)/assinatura-digital/documentos/editar/[uuid]/page.tsx
  src/app/(dashboard)/assinatura-digital/documentos/lista/client-page.tsx
  src/app/(dashboard)/assinatura-digital/documentos/lista/page.tsx
  src/features/assinatura-digital/components/pdf/PdfPreview.tsx
  src/features/assinatura-digital/index.ts
  src/features/assinatura-digital/services/documentos.service.ts
  workflows-docs/package-lock.json
  workflows-docs/package.json
  workflows-docs/scripts/analyze_bucket_dates.js
  workflows-docs/scripts/check_minio.js
  workflows-docs/scripts/quick_check.js
  workflows-docs/scripts/restore_minio_version.js
  workflows-docs/scripts/restore_to_2024_12_25.js
Due: features

feat(restore): add script to restore bucket to state of 25/12/2025
  workflows-docs/scripts/restore_to_2024_12_25.js
  workflows-docs/scripts/restore_to_2025_12_25.js
Due: none

fix(pdf-preview): ensure proper handling of PDF source URLs with credentials
  src/features/assinatura-digital/components/pdf/PdfPreview.tsx
Due: features

feat(assinatura-digital): implement presigned URL handling for PDF access and downloads
  package-lock.json
  package.json
  scripts/setup-pdfjs.js
  src/app/(dashboard)/assinatura-digital/documentos/client-page.tsx
  src/app/(dashboard)/assinatura-digital/documentos/editar/[uuid]/client-page.tsx
  src/app/(dashboard)/assinatura-digital/documentos/lista/client-page.tsx
  src/app/api/assinatura-digital/public/[token]/download/route.ts
  src/app/assinatura/[token]/page-client.tsx
  src/features/assinatura-digital/actions/documentos-actions.ts
  src/features/assinatura-digital/actions/index.ts
  src/features/assinatura-digital/hooks/use-presigned-pdf-url.ts
  src/features/assinatura-digital/index.ts
  src/features/assinatura-digital/services/signature/storage-ops.service.ts
  src/features/assinatura-digital/types/pdf-preview.types.ts
Due: features

feat: enhance public signature flow with terms acceptance and update contract document handling
  src/features/assinatura-digital/__tests__/e2e/public-signature-flow.spec.ts
  src/features/assinatura-digital/components/form/assinatura-manuscrita-step.tsx
  src/features/assinatura-digital/components/form/dados-pessoais.tsx
  src/features/assinatura-digital/components/form/dynamic-form-renderer.tsx
  src/features/assinatura-digital/components/form/dynamic-form-step.tsx
  src/features/assinatura-digital/components/form/form-step-layout.tsx
  src/features/assinatura-digital/components/form/formulario-container.tsx
  src/features/assinatura-digital/components/form/formulario-page.tsx
  src/features/assinatura-digital/components/form/index.ts
  src/features/assinatura-digital/components/form/sucesso.tsx
  src/features/assinatura-digital/components/form/termos-aceite-step.tsx
  src/features/assinatura-digital/components/form/verificar-cpf.tsx
  src/features/assinatura-digital/components/form/visualizacao-markdown-step.tsx
  src/features/assinatura-digital/components/form/visualizacao-pdf-step.tsx
  src/features/assinatura-digital/components/public/PublicSignatureContext.tsx
  src/features/assinatura-digital/components/public/PublicSignatureFlow.tsx
  src/features/assinatura-digital/components/public/steps/SignatureStep.tsx
  src/features/assinatura-digital/domain.ts
  src/features/assinatura-digital/store/formulario-store.ts
  src/features/assinatura-digital/store/index.ts
  src/features/assinatura-digital/types/store.ts
  supabase/migrations/20260105180000_add_documentos_column_to_clientes.sql
  workflows-docs/output/contracts/2026-01-06T02-03-56-440Z/results.json
  workflows-docs/scripts/process_contracts_to_supabase.js
Due: features

feat: add PDF template service and types for digital signature
  public/fallback-ce627215c0e4a9af.js
  src/features/assinatura-digital/actions/templates-actions.ts
  src/features/assinatura-digital/constants/step-config.ts
  src/features/assinatura-digital/domain.ts
  src/features/assinatura-digital/services/dashboard.service.ts
  src/features/assinatura-digital/services/data.service.ts
  src/features/assinatura-digital/services/formularios.service.ts
  src/features/assinatura-digital/services/segmentos.service.ts
  src/features/assinatura-digital/services/template-pdf.service.ts
  src/features/assinatura-digital/services/template-texto-pdf.service.ts
  src/features/assinatura-digital/services/templates.service.ts
  src/features/assinatura-digital/types/template.types.ts
  workflows-docs/output/contracts/2026-01-06T02-06-53-588Z/results.json
Due: features

Refactor code structure for improved readability and maintainability
  src/features/assinatura-digital/components/public/steps/ReviewDocumentStep.tsx
  workflows-docs/output/contracts/2026-01-06T02-06-53-588Z/results.json
Due: features

feat: add comprehensive feature analysis and documentation files for project structure and migration status
  docs/ANALISE_FEATURES_MODERNAS.txt
  docs/ANALYSIS_SUMMARY.txt
  docs/FEATURES_ANALYSIS.txt
  docs/FEATURES_DETAILED.txt
  docs/FEATURES_QUICK_REFERENCE.txt
  workflows-docs/output/contracts/2026-01-06T02-06-53-588Z/results.json
Due: none

Refactor code structure for improved readability and maintainability
  package-lock.json
  package.json
  src/app/(assinatura-digital)/assinatura/[token]/page-client.tsx
  src/app/(assinatura-digital)/assinatura/[token]/page.tsx
  src/app/(assinatura-digital)/formulario/[segmento]/[formulario]/not-found.tsx
  src/app/(assinatura-digital)/formulario/[segmento]/[formulario]/page.tsx
  src/app/(dashboard)/assinatura-digital/documentos/client-page.tsx
  src/app/(dashboard)/assinatura-digital/documentos/lista/client-page.tsx
  src/app/api/assinatura-digital/public/[token]/route.ts
  src/features/assinatura-digital/components/public/layout/PublicPageShell.tsx
  src/features/assinatura-digital/index.ts
  workflows-docs/output/contracts/2026-01-06T02-06-53-588Z/results.json
Due: features

feat: remove todo list app components and types; add contract processing results and update script for pagination
  src/app/(dashboard)/assinatura-digital/documentos/lista/client-page.tsx
  src/app/(dashboard)/todo-list-app/components/add-todo-sheet.tsx
  src/app/(dashboard)/todo-list-app/components/status-tabs.tsx
  src/app/(dashboard)/todo-list-app/components/todo-detail-sheet.tsx
  src/app/(dashboard)/todo-list-app/components/todo-item.tsx
  src/app/(dashboard)/todo-list-app/components/todo-list.tsx
  src/app/(dashboard)/todo-list-app/data/tasks.json
  src/app/(dashboard)/todo-list-app/enum.ts
  src/app/(dashboard)/todo-list-app/page.tsx
  src/app/(dashboard)/todo-list-app/schemas.ts
  src/app/(dashboard)/todo-list-app/store.ts
  src/app/(dashboard)/todo-list-app/tasks.tsx
  src/app/(dashboard)/todo-list-app/types.ts
  workflows-docs/output/contracts/2026-01-06T14-03-05-460Z/results.json
  workflows-docs/scripts/process_contracts_to_supabase.js
Due: none

Refactor code structure for improved readability and maintainability
  .claude/settings.local.json
  eslint.config.mjs
  src/app/(dashboard)/assinatura-digital/documentos/lista/client-page.tsx
  src/app/(dashboard)/assinatura-digital/feature/README.md
  src/app/(dashboard)/assinatura-digital/feature/RULES.md
  src/app/(dashboard)/assinatura-digital/feature/components/assinatura-digital-tabs-content.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/editor/editor-helpers.ts
  src/app/(dashboard)/assinatura-digital/feature/components/editor/template-texto/types.ts
  src/app/(dashboard)/assinatura-digital/feature/components/form/assinatura-manuscrita-step.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/form/dynamic-form-step.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/form/visualizacao-markdown-step.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/form/visualizacao-pdf-step.tsx
  src/app/(dashboard)/assinatura-digital/feature/domain.ts
  src/app/(dashboard)/assinatura-digital/feature/index.ts
  src/app/(dashboard)/assinatura-digital/feature/services/signature/finalization.service.ts
  src/app/(dashboard)/assinatura-digital/feature/services/signature/persistence.service.ts
  src/app/(dashboard)/assinatura-digital/feature/services/signature/preview.service.ts
  src/app/(dashboard)/assinatura-digital/feature/store/formulario-store.ts
  src/app/(dashboard)/assinatura-digital/feature/types/api.ts
  src/app/(dashboard)/assinatura-digital/feature/types/domain.ts
  src/app/(dashboard)/assinatura-digital/feature/types/index.ts
  src/app/(dashboard)/assinatura-digital/feature/types/store.ts
  src/app/(dashboard)/assinatura-digital/feature/types/template.types.ts
  src/app/(dashboard)/assinatura-digital/feature/types/types.ts
  src/app/(dashboard)/assinatura-digital/feature/utils/index.ts
  src/app/(dashboard)/assinatura-digital/feature/utils/rate-limit.ts
  src/app/api/assinatura-digital/forms/verificar-cpf/route.ts
  src/app/api/assinatura-digital/public/[token]/download/route.ts
  src/app/api/assinatura-digital/public/[token]/finalizar/route.ts
  src/app/api/assinatura-digital/public/[token]/identificacao/route.ts
  src/app/api/assinatura-digital/public/[token]/route.ts
  src/app/api/assinatura-digital/signature/finalizar/route.ts
  src/app/api/assinatura-digital/signature/preview/route.ts
  src/features/notificacoes/hooks/use-notificacoes.ts
  workflows-docs/output/contracts/2026-01-06T14-03-05-460Z/results.json
Due: features

Path conditions:
  features: any of: src/features/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  lib: any of: src/lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  components: any of: src/components/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  hooks: any of: src/hooks/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
