Repository SinesysTech/diegobarbosa-os: changes, and which Codecov flags are due for each by the changed paths.
All: features, lib, components, hooks

Refactor scripts: Remove unused imports and rename functions for clarity
  scripts/check-architecture-imports.js
  scripts/check-pwa.js
  scripts/dev-tools/build/run-analyze.js
  scripts/dev-tools/build/run-build-debug-memory.js
  scripts/dev-tools/design/analyze-typography.js
  scripts/migrate-imports.js
  scripts/run-analyze.js
  scripts/run-build-debug-memory.js
  src/app/(dashboard)/assinatura-digital/documentos/lista/client-page.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/assinatura-digital-tabs-content.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/pdf/PdfPreview.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/public/PublicSignatureContext.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/public/PublicSignatureFlow.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/public/steps/SignatureStep.tsx
  src/app/(dashboard)/assinatura-digital/feature/utils/file-validation.ts
  src/app/(dashboard)/assinatura-digital/feature/utils/index.ts
  src/app/api/assinatura-digital/documentos/route.ts
  src/app/api/assinatura-digital/signature/finalizar/route.ts
  src/app/api/assinatura-digital/templates/upload/route.ts
  workflows-docs/output/contracts/2026-01-06T14-03-05-460Z/results.json
  workflows-docs/scripts/process_contracts_to_supabase.js
  workflows-docs/scripts/restore_to_2025_12_25.js
Due: none

Refactor code structure and remove redundant code blocks for improved readability and maintainability
  public/fallback-ce627215c0e4a9af.js
  src/app/(dashboard)/assinatura-digital/feature/README.md
  src/app/(dashboard)/assinatura-digital/feature/components/public/layout/PublicPageShell.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/public/steps/WelcomeStep.tsx
  src/app/(dashboard)/assinatura-digital/feature/utils/file-validation.ts
  src/app/(dashboard)/assinatura-digital/feature/utils/index.ts
  src/app/(portal-cliente)/portal/audiencias/components/AudienciaCard.tsx
  src/app/(portal-cliente)/portal/contratos/components/ContratoCard.tsx
  src/app/(portal-cliente)/portal/pagamentos/components/PagamentoCard.tsx
  src/app/(portal-cliente)/portal/processos/components/index.ts
  src/app/(portal-cliente)/portal/processos/components/processo-timeline.tsx
  src/app/(portal-cliente)/portal/processos/components/timeline.tsx
  src/app/(portal-cliente)/portal/types/sinesys.ts
  src/app/(website)/page.tsx
  src/app/api/assinatura-digital/public/[token]/finalizar/route.ts
  src/app/api/assinatura-digital/signature/finalizar/route.ts
  src/app/layout-client.tsx
  src/app/layout-server.tsx
  src/app/metadata.ts
  workflows-docs/output/contracts/2026-01-06T14-03-05-460Z/results.json
  workflows-docs/output/contracts/2026-01-07T00-41-57-451Z/results.json
Due: none

Refactor code structure for improved readability and maintainability
  public/fallback-ce627215c0e4a9af.js
  src/app/(dashboard)/assinatura-digital/feature/components/public/PublicSignatureFlow.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/public/layout/PublicStepIndicator.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/public/layout/PublicStepLayout.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/public/shared/PublicProgressBar.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/public/steps/ConfirmDetailsStep.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/public/steps/ReviewDocumentStep.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/public/steps/SignatureStep.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/public/steps/SuccessStep.tsx
  src/app/(dashboard)/assinatura-digital/feature/components/public/steps/WelcomeStep.tsx
  workflows-docs/output/contracts/2026-01-07T00-41-57-451Z/results.json
Due: none

fix(docker): include architecture check script in build context
  .dockerignore
  workflows-docs/output/contracts/2026-01-07T00-41-57-451Z/results.json
Due: none

Implement code changes to enhance functionality and improve performance
  workflows-docs/output/contracts/2026-01-07T00-41-57-451Z/results.json
Due: none

Refactor code structure for improved readability and maintainability
  .env.example
  .env.local
  workflows-docs/output/contracts/2026-01-07T00-41-57-451Z/results.json
Due: none

feat(results): add new client data and update summary statistics
  workflows-docs/output/contracts/2026-01-07T00-41-57-451Z/results.json
Due: none

feat(logo): update logo images for light and dark themes
  public/fallback-ce627215c0e4a9af.js
  src/app/app/assinatura-digital/feature/components/public/layout/PublicPageShell.tsx
  src/app/portal/page.tsx
  src/components/website/ui/footer.tsx
  src/components/website/ui/logo.tsx
  workflows-docs/output/contracts/2026-01-07T00-41-57-451Z/results.json
Due: components

Refactor code structure for improved readability and maintainability
  public/fallback-ce627215c0e4a9af.js
  workflows-docs/output/contracts/2026-01-07T00-41-57-451Z/results.json
Due: none

Refactor code structure for improved readability and maintainability
  next.config.ts
  src/app/portal/page.tsx
  src/components/website/direitos-essenciais.tsx
  src/components/website/quem-somos.tsx
  src/components/website/ui/logo.tsx
  src/features/portal-cliente/components/hero/cpf-hero-form.tsx
  workflows-docs/output/contracts/2026-01-07T00-41-57-451Z/results.json
Due: features, components

Refactor code structure for improved readability and maintainability
  docs/README_ANALYSIS.txt
  src/app/app/assinatura-digital/feature/components/public/PublicSignatureFlow.tsx
  src/app/app/assinatura-digital/feature/services/documentos.service.ts
  src/app/app/page.tsx
  workflows-docs/output/contracts/2026-01-07T00-41-57-451Z/results.json
Due: none

feat(auth): add confirmation and error handling routes, and implement forgot-password and sign-up success pages
  .claude/settings.local.json
  src/app/app/(auth)/confirm/route.ts
  src/app/app/(auth)/error/page.tsx
  src/app/app/(auth)/forgot-password/page.tsx
  src/app/app/(auth)/layout.tsx
  src/app/app/(auth)/login/page.tsx
  src/app/app/(auth)/sign-up-success/page.tsx
  src/app/app/(auth)/sign-up/page.tsx
  src/app/app/(auth)/update-password/page.tsx
  src/app/app/(dashboard)/comunica-cnj/page.tsx
  src/app/app/(dashboard)/contratos/page.tsx
  src/app/app/(dashboard)/editor/page.tsx
  src/app/app/(dashboard)/layout.tsx
  src/app/app/(dashboard)/notificacoes/page.tsx
  src/app/app/(dashboard)/pangea/page.tsx
  src/app/app/(dashboard)/repasses/page.tsx
  src/app/app/(dashboard)/tipos-expedientes/page.tsx
  src/app/app/assinatura-digital/feature/utils/index.ts
  src/app/app/layout.tsx
  src/app/app/nul
  src/components/layout/sidebar/app-sidebar.tsx
  src/components/shared/table-pagination.tsx
  workflows-docs/scripts/update_datas_from_json.js
  workflows-docs/scripts/update_telefones_from_json.js
Due: components

refactor: clean up unused imports and improve code organization
  src/features/captura/components/comunica-cnj/tabs-content.tsx
  src/features/captura/comunica-cnj/actions.ts
  src/features/notificacoes/actions/notificacoes-actions.ts
Due: features

feat(documentos): enhance error handling and logging in document queries and actions
  .claude/settings.local.json
  src/app/app/assinatura-digital/documentos/lista/client-page.tsx
  src/app/app/assinatura-digital/feature/actions/documentos-actions.ts
  src/app/app/assinatura-digital/feature/services/documentos.service.ts
  src/features/notificacoes/hooks/use-notificacoes.ts
  test-documentos-query.ts
Due: features

refactor(documentos): simplify actionListDocumentos by removing manual error handling and logging
  src/app/app/assinatura-digital/feature/actions/documentos-actions.ts
  src/features/notificacoes/__tests__/hooks/use-notificacoes-realtime.test.ts
  test-documentos-query.ts
Due: none

chore: remove unused code and clean up test files for better maintainability
  src/app/app/assinatura-digital/feature/actions/documentos-actions.ts
  src/app/app/assinatura-digital/feature/services/documentos.service.ts
  src/features/notificacoes/__tests__/hooks/use-notificacoes-realtime.test.ts
Due: none

feat(documentos): update routing for document navigation and add new document page
  src/app/app/assinatura-digital/documentos/client-page.tsx
  src/app/app/assinatura-digital/documentos/lista/components/data-table-toolbar.tsx
  src/app/app/assinatura-digital/documentos/novo/page.tsx
Due: none

feat: add PWA install prompt component to RootLayoutClient
  src/app/layout-client.tsx
Due: none

feat: enhance signature data handling in PublicSignatureFlow and SignatureStep components
  src/app/app/assinatura-digital/feature/components/public/PublicSignatureFlow.tsx
  src/app/app/assinatura-digital/feature/components/public/steps/SignatureStep.tsx
Due: none

feat: improve error handling in usePresignedPdfUrl hook for presigned PDF URL fetching
  src/app/app/assinatura-digital/feature/hooks/use-presigned-pdf-url.ts
Due: none

feat: remove unused context in DashboardContent component
  src/app/app/layout.tsx
  workflows-docs/scripts/update_datas_from_json.js
Due: none

feat: add findstr command to allowed permissions in settings
  .claude/settings.local.json
Due: none

refactor(financeiro): organizar exports para otimizar tree-shaking no módulo
  src/features/financeiro/actions/index.ts
  src/features/financeiro/components/index.ts
  src/features/financeiro/components/orcamentos/index.ts
  src/features/financeiro/components/shared/index.ts
  src/features/financeiro/domain/index.ts
  src/features/financeiro/hooks/index.ts
  src/features/financeiro/index.ts
  src/features/financeiro/repository/index.ts
  src/features/financeiro/services/index.ts
  src/features/financeiro/types/index.ts
  src/features/partes/index.ts
  src/features/partes/repositories/index.ts
Due: none

style(layout): mover themeColor para viewport em metadata
  docs/barrel-exports-guide.md
  src/app/layout.tsx
Due: none

feat(pericias): adicionar botão para criar nova perícia e ajustar layout
  next.config.ts
  src/features/pericias/components/pericias-content.tsx
  src/features/pericias/index.ts
Due: features

chore(deps): atualizar dependências do projeto
  package.json
Due: none

chore(build): remover configurações obsoletas do next.config.ts
  next.config.ts
  src/components/layout/sidebar/app-sidebar.tsx
Due: components

refactor(next): remover otimizações e ajustar ícones
  next.config.ts
  src/components/ui/avatar-upload.tsx
Due: components

style(ui): ajustar larguras e quebras de texto para melhorar visualização
  src/components/shared/data-shell/data-table-toolbar.tsx
  src/features/acervo/components/list/acervo-table.tsx
  src/features/pericias/components/columns.tsx
  src/features/processos/components/processo-header.tsx
  src/features/processos/components/processos-table-wrapper.tsx
Due: features, components

fix(pwa): corrigir ícone de fechamento no prompt de instalação
  src/components/pwa/pwa-install-prompt.tsx
Due: components

fix(types): corrigir e expandir tipo ErrorCode
  src/types/result.ts
  tsconfig.json
Due: none

feat(scripts): adicionar gerador de dashboard de performance de build
  scripts/generate-build-dashboard.js
Due: none

refactor(build): implementar sistema avançado de validacao e monitoramento de performance
  .gitignore
  docs/build-optimization.md
  package-lock.json
  package.json
  scripts/results/build-performance/.gitkeep
  scripts/results/bundle-analysis/.gitkeep
  scripts/validate-build-performance.js
  src/app/app/calendar/components/events-popup.tsx
  src/components/editor/plate-ui/block-discussion.tsx
  src/components/editor/plate-ui/block-suggestion.tsx
  src/components/editor/plate-ui/comment.tsx
  src/components/editor/plate-ui/emoji-toolbar-button.tsx
  src/components/editor/plate-ui/table-node.tsx
  src/components/editor/plate-ui/table-toolbar-button.tsx
  src/components/pwa/pwa-install-prompt.tsx
  src/components/ui/__tests__/badge.test.tsx
  src/components/ui/dialog.tsx
  src/components/ui/sheet.tsx
  src/features/calendar/components/events-popup.tsx
  src/features/documentos/components/file-manager.tsx
  src/features/documentos/components/file-upload-dialog-unified.tsx
  src/features/pericias/components/pericia-criar-dialog.tsx
  src/features/pericias/components/pericia-dialog.tsx
  typescript-errors.log
Due: features, components

refactor(config): remover modularizeImports para biblioteca recharts
  .github/workflows/bundle-size.yml
  next.config.ts
Due: none

fix(build): corrigir validação do tamanho do bundle e ajustar análise de desempenho
  .github/workflows/bundle-size.yml
  scripts/analyze-build-performance.js
Due: none

chore(package): remover arquivo package-lock.json completamente
  package-lock.json
Due: none

feat(diagnostico): add Disk I/O diagnostics script and README
  .gitignore
  package.json
  scripts/database/README.md
  scripts/database/diagnostico-disk-io.ts
Due: none

feat: implement caching for cliente repository methods and optimize database queries
  CACHE_REDIS_INDICE.md
  CACHE_REDIS_RESUMO.md
  CACHE_REDIS_SUMARIO.md
  CACHE_REDIS_TESTES.md
  IMPLEMENTACAO_CACHE_REDIS.md
  scripts/database/diagnostico-disk-io.ts
  src/features/acervo/domain.ts
  src/features/acervo/repository.ts
  src/features/audiencias/domain.ts
  src/features/audiencias/repository.ts
  src/features/partes/repositories/clientes-repository.ts
  src/features/processos/domain.ts
  src/features/processos/repository.ts
  src/features/rh/repository.ts
  src/features/usuarios/domain.ts
  src/features/usuarios/repository.ts
Due: features

Path conditions:
  features: any of: src/features/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  lib: any of: src/lib/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  components: any of: src/components/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
  hooks: any of: src/hooks/, but not: **/*.test.ts, **/*.test.tsx, **/*.spec.ts, **/testing/**, **/__tests__/**, **/node_modules/**, **/.next/**, **/dist/**, **/coverage/**, **/*.d.ts, **/types.ts, **/index.ts
