Repository SinesysTech/diegobarbosa-os: changes, and which Codecov flags are due for each by the changed paths.
All: features, lib, components, hooks

codecov.yml:

# Configuração Codecov para Sinesys
# Documentação: https://docs.codecov.com/docs/codecov-yaml

codecov:
  require_ci_to_pass: true
  notify:
    wait_for_ci: true
coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 2%
        if_ci_failed: error

    patch:
      default:
        target: 80%
        threshold: 5%
        if_ci_failed: error

comment:
  layout: "reach,diff,flags,tree,footer"
  behavior: default
  require_changes: false
  require_base: false
  require_head: true

ignore:
  - "**/*.test.ts"
  - "**/*.test.tsx"
  - "**/*.spec.ts"
  - "**/testing/**"
  - "**/__tests__/**"
  - "**/node_modules/**"
  - "**/.next/**"
  - "**/dist/**"
  - "**/coverage/**"
  - "**/*.d.ts"
  - "**/types.ts"
  - "**/index.ts"

flags:
  features:
    paths:
      - src/features/
    carryforward: true

  lib:
    paths:
      - src/lib/
    carryforward: true

  components:
    paths:
      - src/components/
    carryforward: true

  hooks:
    paths:
      - src/hooks/
    carryforward: true

refactor: remove unused filter configurations and related components for clientes, partes contrarias, terceiros, and representantes
  src/app/app/partes/representantes/page-client.tsx
  src/app/app/partes/terceiros/page-client.tsx
  src/features/partes/components/clientes/clientes-toolbar-filters.tsx
  src/features/partes/components/clientes/index.ts
  src/features/partes/components/index.ts
  src/features/partes/components/partes-contrarias/index.ts
  src/features/partes/components/partes-contrarias/partes-contrarias-toolbar-filters.tsx
  src/features/partes/components/partes-tabs-content.tsx
  src/features/partes/components/representantes/index.ts
  src/features/partes/components/representantes/representantes-toolbar-filters.tsx
  src/features/partes/components/terceiros/index.ts
  src/features/partes/components/terceiros/terceiros-toolbar-filters.tsx
  src/features/partes/index.ts
Due: features

feat: introduce real-time notifications with a header dropdown component and management hook.
  src/components/layout/header/notifications.tsx
  src/features/notificacoes/hooks/use-notificacoes.ts
Due: features, components

feat: Implement foundational design system with global styles and add client table and filter components.
  src/app/globals.css
  src/features/partes/components/clientes/clientes-table-wrapper.tsx
  src/features/partes/components/shared/filter-popover.tsx
Due: features

feat: Introduce the new `financeiro` module with its core exports and add new shared, Chatwoot, and contracts components.
  src/components/shared/data-shell/data-table-toolbar.tsx
  src/features/chatwoot/components/chatwoot-sync-button.tsx
  src/features/contratos/components/contratos-table-wrapper.tsx
  src/features/contratos/components/segmentos-filter.tsx
  src/features/financeiro/index.ts
  src/features/processos/components/processos-table-wrapper.tsx
  src/lib/auth/api-auth.ts
Due: features, lib, components

feat: add new Select and Combobox UI components.
  src/components/ui/combobox.tsx
  src/components/ui/select.tsx
Due: components

feat: Restructure Docker environment into dedicated dev, load-test, and prod configurations with improved Dockerfiles for compatibility and signal handling.
  Dockerfile
  Dockerfile.dev
  Dockerfile.minimal
  Dockerfile.test
  docker-compose.yml
  docker/dev/.env.example
  docker/dev/docker-compose.yml
  docker/load-test/docker-compose.yml
  docker/prod/docker-compose.yml
Due: none

chore: remove log artifacts from merge
  dev_server.log
  npm_install.log
Due: none

feat: Add new UI components and pages for various features including audit logs, hearings, proceedings, legal documents, parties, expert reports, financial plans, and contracts, alongside a data
  src/app/app/financeiro/plano-contas/page-client.tsx
  src/app/app/pecas-juridicas/[id]/editar/client.tsx
  src/components/common/audit-log-timeline.tsx
  src/features/audiencias/components/audiencias-dia-dialog.tsx
  src/features/contratos/components/contrato-view-sheet.tsx
  src/features/expedientes/components/expediente-detalhes-dialog.tsx
  src/features/partes/components/representantes/representantes-table-wrapper.tsx
  src/features/partes/repositories/shared/converters.ts
  src/features/pericias/components/pericia-detalhes-dialog.tsx
Due: features, components

feat: Add initial pages and components for financeiro, captura, profiles, contratos, processos, RH, audiencias, assinatura digital, expedientes, obrigacoes, pericias, notific
  src/app/app/assinatura-digital/formularios/client-page.tsx
  src/app/app/assinatura-digital/templates/client-page.tsx
  src/app/app/captura/components/agendamentos/agendamentos-list.tsx
  src/app/app/captura/credenciais/page-client.tsx
  src/app/app/captura/tribunais/page-client.tsx
  src/app/app/financeiro/conciliacao-bancaria/page-client.tsx
  src/app/app/financeiro/contas-pagar/page.tsx
  src/app/app/financeiro/contas-receber/page-client.tsx
  src/app/app/financeiro/orcamentos/client-page.tsx
  src/app/app/financeiro/plano-contas/page-client.tsx
  src/components/shared/AI_INSTRUCTIONS.md
  src/components/shared/README.md
  src/components/shared/data-shell/README.md
  src/components/shared/data-shell/data-shell.tsx
  src/components/shared/data-shell/data-table-toolbar.tsx
  src/components/shared/data-shell/data-table.tsx
  src/components/shared/table-pagination.tsx
  src/features/audiencias/components/audiencias-list-wrapper.tsx
  src/features/audiencias/components/audiencias-table-wrapper.tsx
  src/features/captura/components/captura-list.tsx
  src/features/captura/components/comunica-cnj/capturadas.tsx
  src/features/chat/components/call-history-list.tsx
  src/features/contratos/components/contratos-table-wrapper.tsx
  src/features/expedientes/components/expedientes-calendar.tsx
  src/features/expedientes/components/expedientes-table-wrapper.tsx
  src/features/notificacoes/components/notificacoes-list.tsx
  src/features/obrigacoes/components/table/obrigacoes-table-wrapper.tsx
  src/features/pericias/components/pericias-table-wrapper.tsx
  src/features/processos/components/processos-table-wrapper.tsx
  src/features/profiles/components/sections/cliente-processos-table.tsx
  src/features/profiles/components/sections/representante-clientes-table.tsx
  src/features/profiles/components/sections/representante-processos-table.tsx
  src/features/rh/components/folhas-pagamento/folhas-list.tsx
  src/features/rh/components/salarios/salarios-list.tsx
  src/features/tipos-expedientes/components/tipos-expedientes-list.tsx
Due: features, components

fix: Use numeric UIDs for Dockerfile COPY --chown with --link to ensure user/group resolution across layers.
  Dockerfile
Due: none

feat: implement persistence services for audiencias, pendentes, pericias, and acervo entities, including date utilities.
  =
  src/features/audiencias/lib/date-utils.ts
  src/features/captura/services/persistence/acervo-persistence.service.ts
  src/features/captura/services/persistence/audiencias-persistence.service.ts
  src/features/captura/services/persistence/pendentes-persistence.service.ts
  src/features/captura/services/persistence/pericias-persistence.service.ts
Due: features

feat: Implement initial data management and display features for Contratos, Captura, Partes, Peças Jurídicas, Perícias, Expedientes, Obrigações, Processos, and Audiências.
  src/components/shared/data-shell/data-table-column-header.tsx
  src/components/shared/data-shell/data-table-toolbar.tsx
  src/components/shared/data-shell/data-table.tsx
  src/components/shared/table-pagination.tsx
  src/features/audiencias/components/audiencias-table-wrapper.tsx
  src/features/captura/components/acervo-geral-form.tsx
  src/features/captura/components/arquivados-form.tsx
  src/features/captura/components/audiencias-form.tsx
  src/features/captura/components/captura-dialog.tsx
  src/features/captura/components/captura-filters.tsx
  src/features/captura/components/captura-list.tsx
  src/features/captura/components/combinada-form.tsx
  src/features/captura/components/partes-form.tsx
  src/features/captura/components/pendentes-form.tsx
  src/features/captura/components/pericias-form.tsx
  src/features/captura/components/timeline-form.tsx
  src/features/captura/services/partes/services/persistence.service.ts
  src/features/captura/services/persistence/acervo-persistence.service.ts
  src/features/captura/services/trt/acervo-geral.service.ts
  src/features/captura/services/trt/arquivados.service.ts
  src/features/captura/services/trt/captura-combinada.service.ts
  src/features/captura/services/trt/pericias.service.ts
  src/features/captura/types/index.ts
  src/features/chatwoot/components/chatwoot-sync-button.tsx
  src/features/contratos/components/columns.tsx
  src/features/contratos/components/contratos-table-wrapper.tsx
  src/features/contratos/components/segmentos-filter.tsx
  src/features/expedientes/components/expedientes-table-wrapper.tsx
  src/features/obrigacoes/components/table/obrigacoes-table-wrapper.tsx
  src/features/partes/components/clientes/clientes-table-wrapper.tsx
  src/features/partes/components/partes-contrarias/partes-contrarias-table-wrapper.tsx
  src/features/partes/components/representantes/representantes-table-wrapper.tsx
  src/features/partes/components/shared/filter-popover.tsx
  src/features/partes/components/terceiros/terceiros-table-wrapper.tsx
  src/features/partes/repository-compat.ts
  src/features/pecas-juridicas/components/pecas-modelos-table-wrapper.tsx
  src/features/pericias/components/pericias-table-wrapper.tsx
  src/features/processos/components/processos-table-wrapper.tsx
Due: features, components

feat: Implement DataShell pattern and components for audiencias, pericias, and expedientes feature tables.
  src/app/app/assinatura-digital/documentos/editar/[uuid]/error.tsx
  src/app/app/assinatura-digital/documentos/editar/[uuid]/page.tsx
  src/components/shared/data-shell/data-table-column-header.tsx
  src/components/shared/data-shell/data-table-toolbar.tsx
  src/components/shared/index.ts
  src/components/shared/view-mode-popover.tsx
  src/features/audiencias/components/audiencias-content.tsx
  src/features/audiencias/components/audiencias-list-wrapper.tsx
  src/features/audiencias/components/audiencias-table-wrapper.tsx
  src/features/contratos/components/columns.tsx
  src/features/expedientes/components/expedientes-content.tsx
  src/features/expedientes/components/expedientes-table-wrapper.tsx
  src/features/pericias/components/pericias-content.tsx
  src/features/pericias/components/pericias-table-wrapper.tsx
Due: features, components

feat: implement PJE entity persistence service for clients, opposing parties, and third parties.
  src/features/captura/services/partes/services/persistence.service.ts
  src/features/processos/actions/index.ts
  src/features/processos/components/processo-form.tsx
  src/features/processos/components/processos-table-wrapper.tsx
  src/features/processos/domain.ts
Due: features

feat: Implement `expedientes` and `pericias` features with new table components and PWA fallback support.
  next.config.ts
  public/fallback-ce627215c0e4a9af.js
  src/features/expedientes/components/columns.tsx
  src/features/expedientes/components/expedientes-content.tsx
  src/features/expedientes/components/expedientes-table-wrapper.tsx
  src/features/pericias/components/columns.tsx
  src/features/pericias/components/pericias-content.tsx
  src/features/pericias/components/pericias-table-wrapper.tsx
Due: features

feat: Implement initial landing page with core components and update Next.js configuration.
  next.config.ts
  src/app/landing/code.html
  src/app/landing/code2.html
  src/app/landing/components/constants.ts
  src/app/landing/components/cta.tsx
  src/app/landing/components/footer.tsx
  src/app/landing/components/header.tsx
  src/app/landing/components/hero.tsx
  src/app/landing/components/how-it-works.tsx
  src/app/landing/components/index.ts
  src/app/landing/components/material-icon.tsx
  src/app/landing/components/services.tsx
  src/app/landing/components/testimonials.tsx
  src/app/landing/components/trust-bar.tsx
  src/app/landing/components/why-us.tsx
  src/app/page.tsx
  src/components/website/chatwoot-widget.tsx
  src/components/website/consultoria-empresarial.tsx
  src/components/website/depoimentos.tsx
  src/components/website/direitos-essenciais.tsx
  src/components/website/etapas-processuais.tsx
  src/components/website/header.tsx
  src/components/website/hero.tsx
  src/components/website/quem-somos.tsx
  src/components/website/ui/accordion.tsx
  src/components/website/ui/background-pattern.tsx
  src/components/website/ui/badge.tsx
  src/components/website/ui/bento-grid.tsx
  src/components/website/ui/button.tsx
  src/components/website/ui/card.tsx
  src/components/website/ui/dot-pattern.tsx
  src/components/website/ui/footer.tsx
  src/components/website/ui/input.tsx
  src/components/website/ui/logo.tsx
  src/components/website/ui/particles.tsx
  src/components/website/ui/select.tsx
  src/components/website/ui/separator.tsx
  src/components/website/ui/sheet.tsx
  src/components/website/ui/tabs.tsx
Due: components

chore: delete file
  users/data-table.tsx
  users/data.json
  users/page.tsx
Due: none

feat: Set up Husky Git hooks with a new centralized runner script.
  package-lock.json
Due: none

feat: Implement user authentication forms for sign-up, forgot password, and update password, along with a dedicated auth layout.
  src/app/app/(auth)/layout.tsx
  src/components/auth/forgot-password-form.tsx
  src/components/auth/sign-up-form.tsx
  src/components/auth/update-password-form.tsx
Due: components

feat: Implement PWA support and add comprehensive expediente management features with interactive data table columns.
  public/favicon.ico
  public/logos/android-chrome-192x192.png
  public/logos/android-chrome-512x512.png
  public/logos/apple-touch-icon.png
  public/logos/favicon-16x16.png
  public/logos/favicon-32x32.png
  public/manifest.json
  src/app/layout.tsx
  src/app/portal/components/background-pattern.tsx
  src/app/portal/feature/components/hero/cpf-hero-form.tsx
  src/app/portal/feature/components/hero/magnetize-button.tsx
  src/components/editor/plate-ui/suggestion-node.tsx
  src/features/expedientes/components/columns.tsx
  src/middleware/__tests__/integration/security-headers-middleware.test.ts
  src/middleware/security-headers.ts
Due: features, components

feat: implement code block component with language selection, formatting, and copy functionality.
  .claude/settings.local.json
  .env.local
  .mcp.json
  src/components/editor/plate-ui/code-block-node.tsx
Due: components

feat: Implement comprehensive document management with digital signature features, file storage, and related APIs.
  .env.local
  src/app/api/assinatura-digital/public/[token]/download/route.ts
  src/app/api/assinatura-digital/public/[token]/route.ts
  src/app/api/assinatura-digital/templates/[id]/preview/route.ts
  src/app/api/assinatura-digital/templates/upload/route.ts
  src/app/api/clientes/[id]/documentos/route.ts
  src/app/app/assinatura-digital/feature/actions/documentos-actions.ts
  src/app/app/assinatura-digital/feature/services/documentos.service.ts
  src/app/app/assinatura-digital/feature/services/signature/storage-ops.service.ts
  src/app/app/assinatura-digital/feature/services/storage.service.ts
  src/app/globals.css
  src/components/layout/sidebar/sidebar-logo.tsx
  src/features/ai/services/storage-adapter.service.ts
  src/features/captura/services/backblaze/upload-documento-timeline.service.ts
  src/features/captura/services/pje/pje-expediente-documento.service.ts
  src/features/captura/services/trt/audiencias.service.ts
  src/features/chat/actions/file-actions.ts
  src/features/documentos/__tests__/integration/arquivos-api.integration.test.ts
  src/features/documentos/__tests__/integration/file-manager-flow.test.ts
  src/features/documentos/actions/uploads-actions.ts
  src/features/documentos/domain.ts
  src/features/documentos/repositories/arquivos-repository.ts
  src/features/documentos/repositories/shared/query-builders.ts
  src/features/documentos/repositories/uploads-repository.ts
  src/features/documentos/service.ts
  src/features/documentos/services/b2-upload.service.ts
  src/features/documentos/services/storage-upload.service.ts
  src/hooks/use-editor-upload.tsx
  src/lib/storage/backblaze-b2.service.ts
  src/lib/storage/supabase-storage.service.ts
  src/testing/mocks/backblaze-b2.mock.ts
  src/testing/setup.ts
Due: features, lib, components, hooks

chore: update dependencie
  package-lock.json
Due: none

chore: rename project from zattar-os to diegobarbosa-os across configurations, scripts, and package metadata.
  Dockerfile.minimal
  package-lock.json
  package.json
  scripts/docker/docker-build-push.ps1
  scripts/docker/dockerhub-build-push.sh
  supabase/config.toml
Due: none

feat: Remove Backblaze storage provider support, add a type definition for testimonials, and simplify PDF text extraction by removing the `pdfjs-dist` fallback.
  src/app/api/cron/indexar-documentos/route.ts
  src/app/app/assinatura-digital/feature/actions.ts
  src/app/landing/components/constants.ts
  src/features/ai/domain.ts
  src/features/ai/services/extraction.service.ts
Due: features

refactor: Reduce `next.config.ts` to a minimal configuration, add a new debug config file, and include `next.config.ts` in `tsconfig.json`.
  next.config.mjs
  next.config.mjs.debug
Due: none

chore: Remove debug config, update package-lock, add test server
  next.config.mjs.debug
  package-lock.json
  test-server.js
Due: none

chore: Disable Husky pre-commit hooks to improve commit speed
  package.json
Due: none

feat: Add pre-commit hook to run linting.
  .husky/pre-commit
Due: none

feat: implement `fetchContratoCompleto` query to retrieve detailed contract information for server components.
  src/features/audiencias/components/audiencias-list-columns.tsx
  src/features/contratos/queries.ts
Due: features

feat: introduce `WelcomeStep` and `SuccessStep` components for the public digital signature flow.
  src/app/app/assinatura-digital/feature/components/public/steps/SuccessStep.tsx
  src/app/app/assinatura-digital/feature/components/public/steps/WelcomeStep.tsx
  src/features/audiencias/components/audiencias-list-columns.tsx
Due: features

feat: Implement user activity repository for fetching statistics, processes, hearings, pending tasks, and contracts.
  src/features/usuarios/repository-atividades.ts
Due: features

feat: Add pre-commit hook with disabled linting for faster commits.
  .env
  .husky/pre-commit
  src/app/api/captura/credenciais/route.ts
  src/app/api/twofauth/accounts/[id]/otp/route.ts
  src/app/api/twofauth/accounts/route.ts
  src/app/app/captura/advogados/page-client.tsx
  src/app/app/captura/advogados/page.tsx
  src/app/app/captura/components/advogados/advogado-dialog.tsx
  src/app/app/captura/components/advogados/advogados-columns.tsx
  src/app/app/captura/components/advogados/credenciais-advogado-dialog.tsx
  src/components/layout/header/app-header.tsx
  src/components/layout/header/authenticator-popover.tsx
  src/features/advogados/domain.ts
  src/features/advogados/repository.ts
  src/features/captura/types/credenciais.ts
  src/hooks/use-twofauth.ts
  src/lib/integrations/twofauth.ts
  supabase/schemas/25_credenciais_add_usuario.sql
Due: features, lib, components, hooks

feat: add persistence service for audiencias, handling related entities and update comparison logic.
  src/features/captura/services/persistence/audiencias-persistence.service.ts
  src/features/contratos/types.ts
Due: features

feat: Introduce `AppSidebar` component for application navigation and a new credential service for tribunal data capture.
  src/components/layout/sidebar/app-sidebar.tsx
  src/features/captura/credentials/credential.service.ts
Due: features, components

feat: Implement TRT audiencias service and generate Supabase database types.
  src/features/captura/services/trt/audiencias.service.ts
  src/lib/supabase/database.types.ts
Due: features, lib

feat: add `usuario` column to `credenciais` table for PJE login and update Supabase CLI to v2.75.0.
  src/app/app/layout.tsx
  supabase/.temp/cli-latest
  supabase/migrations/20260211194101_add_usuario_to_credenciais.sql
Due: none

feat: implement 2FA authenticator popover component for managing and displaying OTPs.
  src/components/layout/header/authenticator-popover.tsx
Due: components
